[2022-04-22 05:58] gongshishao commented on #323
@toonvanstrijp  Hi, thank you for your reply.
1.Unfortunately to see that, but hope that could be an option which could decided by user. Cause collisions could be avoid by user.If so, should overrider.
2. Still confused by where to add handlebars by registerHelper.Not see an example from doc. Only see we should do I18nModule.forRoot(options) to set up I18n context?

[2022-04-22 07:00] toonvanstrijp commented on #323
@gongshishao
1. It could be an option indeed. If you want you can make a pull request for it. However you can already use your own loader which doesn't prefix those keys by the filename. You'll have to take a look at the current `i18n.json.loader.ts`. I didn't wanna make assumptions about the end user. So saying something like "Collisions could be avoided by the users themselves" wasn't something

[2022-04-22 07:02] toonvanstrijp commented on #321
@rubiin that's a good idea indeed! Feel free to make a pull request for it!

[2022-04-22 07:07] gongshishao commented on #323
@toonvanstrijp
2. I'm trying to add a handlebars by add hbs registerhelper. For example, I want to change translate api from 't' to 'i18n'.
So the template file could be  {{ i18n 'HELLO' }}  instead of  {{ t 'HELLO' }} .Thanks, this question may not related to nestjs-i18  package. It's about hsbHelper. I see an hbsHelper in I18nService, but don't know how to use it. can you help to provide an exam

[2022-04-22 07:53] rubiin commented on #321
@toonvanstrijp just wondering where I should be starting from. Can you point me to the code where all the loading stuff is done. I might spare some time for it on weekends

[2022-04-22 09:27] toonvanstrijp commented on #321
@rubiin all the loading is now done using those files: https://github.com/toonvanstrijp/nestjs-i18n/tree/main/src/loaders

So that would be a good starting point.

[2022-04-22 09:33] toonvanstrijp commented on #323
@gongshishao If you want to implement a different name for the helper. So `i18n` instead of `t` you can do something like this in your `app.module.ts`. Let me know if this fixes your problem.

[code]

[2022-04-24 06:22] gongshishao commented on #323
@toonvanstrijp It works fine, thank you so much for helping me fix the problem !!

[2022-04-24 07:25] #323 closed

[2022-04-26 19:48] kaiunido opened #324 "500 Internal Error when use "forbidNonWhitelisted" and "exceptionFactory""
Hi, I'm new with NestJS with Nestjs-i18n and don't no if this is normal or if I making something wrong.
But, when I use:
[code]

and send something is not in DTO, I get a 500 error and this error on terminal:

[code]

And if I comment the "exceptionFactory" to try get the BadRequest on the filter I get all validations strings without the respectives fields (I can translate in the filter, but it's

[2022-04-28 17:41] toonvanstrijp commented on #324
@kaiunido Which validation checks are you translating?

[2022-04-30 22:16] toonvanstrijp commented on #324
Fixed in version V9.0.11! 🎉

[2022-04-30 22:16] #324 closed

[2022-05-01 11:58] rubiin opened #326 "Feature: Make the I18nValidationExceptionFilter output similar to nestjs' default output"
Currently using the `nestjs-i18n` I18nValidationExceptionFilter, the output is detailed with contraints and other stuffs.
[code]

However, when using nestjs default error filter, we have:

[code]

Can we make the formats similar or may be provide and option to use nest's default error output format. I know we can do a custom option, but this can be better included IMO

[2022-05-01 12:00] rubiin commented on #326
Code : https://github.com/nestjs/nest/blob/master/packages/common/pipes/validation.pipe.ts

[2022-05-01 12:03] toonvanstrijp commented on #326
@rubiin I think it's better to have the detailed response, because that way you can for example show errors in the frontend below the right input fields etc. If we use the small response you lose track of which property caused the error.

[2022-05-01 12:03] #326 closed

[2022-05-01 12:48] rubiin commented on #326
I think then we can also add an option  to allow such messages. I have created a PR to allow it by default but we can add an option and if its enabled then we can  https://github.com/toonvanstrijp/nestjs-i18n/pull/327

[2022-05-01 12:49] rubiin commented on #318
This has to wait as the nestjs team as are still using the old packages and while they have their forks maintained, it will take some time for them to use them internally

[2022-05-03 18:15] ismaeladriano opened #329 "Unexpected end of JSON input"
Followed all the initial steps and DOC: https://nestjs-i18n.com/quick-start and when starting nestjs.  I'm running on docker

Example Dockerfile:

[code]

[code]

[2022-05-03 18:28] #329 closed

[2022-05-05 12:50] tamert commented on #315
[object Promise]

[2022-05-06 09:17] suneab opened #330 "Resolve language at a later point in time"
Is it possible to trigger the resolver at a later point in time.
Then problem is that i don't know which language to use until later during the request.

Usually, i would solve this using the .changeLanguage function, but it does not seem to be available.
Using custom resolvers seems to only be possible during the initial part of the request.

How would i solve this?

[2022-05-06 17:14] vyobukhov commented on #272
@toonvanstrijp please add a note to the docs that you have to specify resolvers outside of `useFactory` when using `forRootAsync`. Spent an hour trying to figure out why it doesn't work and this issue helped me a lot :)

[2022-05-17 07:09] vyobukhov opened #331 "AbstractLoader private methods"
Hi, first of all thanks for a great lib!

Is there any reason to have almost all methods and properties as private in abstractLoader?

I'm writing my own logic that has no changes in load method or constructor but requires some minor changes in parseTranslations and sanitizeOptions methods. And to do I should basically everything in I18nAbstractLoader.

Is it possible to make it's properties publi

[2022-05-17 10:25] toonvanstrijp commented on #331
@vyobukhov are you extending the class? If so it’s better to make the properties you need protected? Feel free to make the changes you need and create a pull request for it.

[2022-05-21 14:33] vyobukhov commented on #331
@toonvanstrijp Hi, there is a pull request waiting for your approval #332

[2022-05-21 16:40] toonvanstrijp commented on #331
@vyobukhov released in V9.0.13 🎉

[2022-05-23 14:48] amerblackbird opened #334 "i18n not copied into dist/src"
Error: i18n path (/Users/user/workspace/apis/aquilaria/dist/src/i18n/) cannot be found
    at I18nJsonLoader.parseTranslations (/Users/user/workspace/apis/aquilaria/node_modules/nestjs-i18n/src/loaders/i18n.abstract.loader.ts:87:13)
    at I18nJsonLoader.load (/Users/user/workspace/apis/aquilaria/node_modules/nestjs-i18n/src/loaders/i18n.abstract.loader.ts:74:22)
    at I18nService.refresh (/Users

[2022-05-23 14:50] amerblackbird commented on #334
nest-cli.json

{
  "collection": "@nestjs/schematics",
  "sourceRoot": "src",
  "compilerOptions": {
    "assets": [
      { "include": "i18n/**/*", "watchAssets": true }
    ]
  }
}

[2022-05-24 16:27] conglinhj commented on #334
Same problem. I using the `outDir` option
[code]

[2022-05-24 17:49] #334 closed

[2022-05-26 19:50] Wunax opened #335 "Unexpected token when using nested translations"
Hello,

I have translations nested in a validation.json file like this:

[code]
with a fields.json file :
[code]
I use nested translations in a DTO like this :
[code]
The error messages are correctly returned however in the console this error message appears:
[code]
I think it's the same issue as #310 but i still get the bug
I am using the latest version 9.0.13
Thanks for your help

[2022-05-26 22:05] Wunax commented on #335
The error also seems to appear during the execution of end to end tests following the CI https://github.com/toonvanstrijp/nestjs-i18n/runs/6538139610?check_suite_focus=true

[2022-05-26 22:25] Wunax commented on #335
I identified the problem, it comes from the result of the execution of the regex in the "getNestedTranslations" method, in any case its length is greater than 3 even without arguments provided it just puts "undefined" values instead. I made a pull request to fix this https://github.com/toonvanstrijp/nestjs-i18n/pull/336

[2022-05-27 12:19] toonvanstrijp commented on #335
@Wunax thanks for spotting this issue! And awesome that you've also made a fix for it! 🌮

[2022-05-27 12:44] toonvanstrijp commented on #335
Released in V9.1.0

[2022-05-27 12:44] #335 closed

[2022-06-02 17:14] cyberz opened #339 "Translation handlebars templates not working"
app.module.ts
[code]

mail.module.ts

[code]

src/i18n/fr/common.json
`"HELLO": "Bonjour",`

src/i18n/en/common.json
`"HELLO": "Hello",`

src/resources/mail/templates/test.hbs
[code]

call api endpoint with curl
`curl -X POST http://localhost:8009/api/message -H "lang: fr"`

in email preview i see
[code]
instead of Bonjour

Translations in another places (f.e. validation) working ok

[2022-06-03 08:29] toonvanstrijp commented on #339
@cyberz  this is because the mailer doesn't know how to grab the current language. Can you show me the code where you create/send the email?

[2022-06-03 11:11] productdevbook opened #342 "DTO definition with graphql dont working"
![image](https://user-images.githubusercontent.com/38668796/171842667-e7a0eef0-a537-4eea-b984-927f58199315.png)

![image](https://user-images.githubusercontent.com/38668796/171842698-05fa849f-c976-4ba0-a666-0b205d59f694.png)

![image](https://user-images.githubusercontent.com/38668796/171842943-804e75e0-0d80-432b-bb9e-49470547cb2e.png)

[code]

Result

![image](https://user-images.githubuserconten

[2022-06-03 14:03] productdevbook opened #343 "typescript message type support"
can you let us use it as type when we save json files as ts in a separate file

![image](https://user-images.githubusercontent.com/38668796/171869470-1940cfbe-e274-46e6-b8b6-fd4b50c83264.png)

![image](https://user-images.githubusercontent.com/38668796/171869523-bc49e1f0-891d-4f5e-8c8a-ba71292fa046.png)

[2022-06-03 16:32] cyberz commented on #339
@toonvanstrijp

message.service.ts
[code]
mails.service.ts

[code]

[2022-06-04 19:32] alless commented on #342
Same issue here.

I figured out that it is complaining about missing translations in console:

[Nest] 1290544  - 06/04/2022, 4:29:36 PM   ERROR [I18nService] Translation "validation.FROM_ADDRESS_OR_SEAPORT" in "pt" does not exist.

But the files are there:
![image](https://user-images.githubusercontent.com/1192375/172022909-8e4f67df-bfe8-47f1-9667-28986ac7d190.png)

When I move one json file to th

[2022-06-04 22:09] Arwiz opened #344 "It is not copying i18n folder to dist folder"
\dist\i18n\) cannot be found

[2022-06-04 22:16] toonvanstrijp commented on #344
@Arwiz did you add the following to your `nest-cli.json`:
[code]

[2022-06-07 19:54] PedroFumero commented on #344
Same issue here, yes I have applied these changes. What could be the problem?

[2022-06-09 11:51] rafay-qureshi11 opened #347 "Nest can't resolve dependencies of the I18nService in unit test"
Nest can't resolve dependencies of the I18nService (?, I18nTranslations, I18nLanguages, Logger, I18nLoader, I18nLanguagesSubject, I18nTranslationsSubject). Please make sure that the argument I18nOptions at index [0] is available in the RootTestModule context.

    Potential solutions:
    - If I18nOptions is a provider, is it part of the current RootTestModule?
    - If I18nOptions is exported fro

[2022-06-09 13:41] toonvanstrijpwavy commented on #347
@rafay-qureshi11 can you send me an example repo containing the issue?

[2022-06-10 10:11] robbievandam commented on #339
Got the same issue, and I'm not really sure how to pass in the language to the HBS helper. Tried:

- `{{t 'HELLO' lang='en'}}`
- `{{t 'HELLO' i18nLang='en'}}`
- `{{t 'HELLO' en}}`

[2022-06-10 11:18] robbievandam commented on #339
Fixed it. Forgot prefixing the translation key with the filename.

`{{t 'x.HELLO' }}`

[2022-06-11 07:41] rubiin opened #348 "response.status undefined when using graphql"
I am gettting the following error when using the translations with validation factory:
[code]

Graphql config:
[code]

i18n config:

[code]

[2022-06-11 07:42] rubiin commented on #348
This is the dto:

[code]

[2022-06-11 13:05] rubiin commented on #348
I think the exception filter needs to be modified to handle graphql exception.

I think this type of generic handling should be implemented.
https://github.com/MontoyaAndres/nestjs-rest-and-graphql-api/blob/master/src/shared/http-error.filter.ts

[2022-06-11 18:26] toonvanstrijp commented on #348
@rubiin indeed the current exception handler only works for http. If you want to add support for GraphQL as well feel free to do so! How do we format this response?

[2022-06-11 18:27] toonvanstrijp commented on #344
@Arwiz @PedroFumero can you send me your project structure and configurations?

[2022-06-11 18:29] toonvanstrijp commented on #343
@productdevbook feel free to add support for this! :) One downside is that it is no longer dynamic and the compiler or type check will fail if your translations change (But that's maybe what you want to happen...?)

[2022-06-11 18:49] toonvanstrijp commented on #342
Can you send me an example repository?

[2022-06-11 18:59] toonvanstrijp commented on #330
@suneab good idea! One question tho, when or where in your code flow do you expect to trigger this `changeLanguage` function? Since if you want to do this inside a service it would be difficult. Since services in nestjs don't know anything about the request except if they are request scoped. (But this has performance drawbacks).

[2022-06-12 07:12] rubiin commented on #348
@toonvanstrijp we can use the standard response from nestjs validation pipe

[2022-06-12 07:16] rubiin commented on #348
Nest's validation pipe forwards response as

[code]

[2022-06-12 09:12] MichaelAkhnoukh commented on #214
Just in case if someone has the same issue i managed to resolve it following the documentation
[https://docs.nestjs.com/security/authentication#request-scoped-strategies](url)

[2022-06-13 20:47] MichaelAkhnoukh opened #350 "I18nValidationExceptionFilter json parsing exception"
I18nValidationExceptionFilter would throw json parse exception from translateErrors function. this happens if an input containing a pipe characters is being validated for example 'test name|' because the validating message string  generated that is being split already has a prefix delimited by a | character.

[2022-06-14 01:43] Rommadon commented on #344
On my local don't have this issue but on my staging (ECS) have same issues.  What could be the problem ?

[2022-06-14 11:26] toonvanstrijp commented on #350
@MichaelAkhnoukh good one! 👍🏻  can you add a unit test for this as well?

[2022-06-14 12:56] PedroFumero commented on #344
Yes, of course, my project structure is as follows:
![image](https://user-images.githubusercontent.com/5423146/173581790-46a0a034-c2c7-432e-b121-a9153fb8c46d.png)
![image](https://user-images.githubusercontent.com/5423146/173581868-fe4046db-8b8d-4710-b067-97964db3a1ae.png)

nest-cli.json:
![image](https://user-images.githubusercontent.com/5423146/173582179-28906797-9c17-4fd8-bd53-a5d6210e9d7a.png)

[2022-06-14 16:10] Lamquocminhhuy commented on #344
Same issue with @PedroFumero

[2022-06-15 00:10] toonvanstrijp commented on #344
@PedroFumero @Lamquocminhhuy  You should create a folder named `i18n` inside your `src` folder. Please take a close took the the [quick-start guide](https://nestjs-i18n.com/quick-start#setup-translation-files).

[2022-06-15 00:10] #350 closed

[2022-06-15 00:15] Lamquocminhhuy commented on #344
My project is using monorepo structure, I followed the guide but when the project compile, it's can find the i18n folder in dist folder.

[2022-06-15 10:12] PedroFumero commented on #344
Yes I followed the entire instructions, but the error was always the same. I've end trying with i18Next y and works correctly.

[2022-06-15 12:35] toonvanstrijp commented on #344
@Lamquocminhhuy can you send me an example repo?

[2022-06-15 13:36] Lamquocminhhuy commented on #344
![image](https://user-images.githubusercontent.com/58679620/173840334-7666366c-cca3-49be-a20b-7be6963816a1.png
This is my app structure (using monorepo), the sourceRoot is api. I create i18n folder inside app/api/src. But when the project compile, it's can find the i18n folder in dist folder.

[2022-06-18 11:35] rubiin commented on #347
@toonvanstrijpwavy can we have an exapmle for unit testing in an axample app. I am having same issue

[2022-06-20 01:33] Lamquocminhhuy commented on #344
Is there any solution for this case?

[2022-06-20 03:30] rubiin commented on #347
@rafay-qureshi11 you can do something like this:

[code]

[2022-06-20 07:52] toonvanstrijp commented on #344
I'll try to setup a multi repo project containing this issue. But if someone provides me with a zip that would be very helpful! @Lamquocminhhuy

[2022-06-20 07:54] toonvanstrijp commented on #347
@rubiin can you send me the project which needs the unit test, or just a small setup. That way I can easily show you how to do it.

[2022-06-20 07:55] #348 closed

[2022-06-20 07:59] Lamquocminhhuy commented on #344
I'm already solve this with outDir config in nest-cli.json.
[code]
@toonvanstrijp

[2022-06-20 08:19] toonvanstrijp commented on #344
@Lamquocminhhuy I'll update the documentation with a warning ;)

[2022-06-20 10:32] rubiin commented on #348
@toonvanstrijp will this be available in pr

[2022-06-21 06:26] toonvanstrijp commented on #347
@rubiin Great then I'll close this issue 🎉

[2022-06-21 06:26] #347 closed

[2022-06-21 06:41] rubiin commented on #347
@toonvanstrijp can we have a section for testing on docs . you can add a layout and i will do a pr with content

[2022-06-21 06:43] toonvanstrijp commented on #347
@rubiin if you run `doc:start` it should open a browser which automatically refreshen whenever you change something within the `docs` folder.

[2022-06-21 06:45] rubiin commented on #347
cool

[2022-06-21 08:15] toonvanstrijp commented on #342
@productdevbook this is fixed in V9.1.2 🎉

[2022-06-21 08:15] #342 closed

[2022-06-21 13:05] rubiin commented on #343
lets convert this to discussion

[2022-06-21 13:09] rubiin commented on #343
Yeah we can specify a type for json files similarly. This would help to add a better auto completions thus to avoid common  typos like spelling mistakes, unknown keys etc

[2022-06-21 16:59] PedroFumero opened #354 "Problem with Dto translations"
Hello, I hope all of you guys are doing well. I have a problem trying to apply translation on Dtos, I've followed the documentation: https://nestjs-i18n.com/guides/dto-validation but at the moment of getting a translation I always get the default messages, I show my implementation:

main.ts (I have included to validation pipes, default for verify dto and the other for nestjs-i18n)

[code]

On my D

[2022-06-21 19:32] toonvanstrijp commented on #354
@PedroFumero You probably need to combine your validation pipe into one. Now you're setting two validation pipes with each different settings:

So please use the following and try it again:
[code]

[2022-06-21 22:33] PedroFumero commented on #354
@toonvanstrijp Thanks for the quick response, yes after submitting this question I tried this, after doing this the server responses are always 500 codes.

[2022-06-21 22:35] toonvanstrijp commented on #354
@PedroFumero could you send me a zip containing a project that demonstrates the issue? Than I can help you quickly figure out what's going wrong :)

[2022-06-22 19:42] Scrip7 opened #355 "Translate validation properties (fields)"
Is there any way to translate a validation `property`?
Let's say I want to translate the `foo` field to `bar` in this case:

[code]

`src/i18n/en/validation.json`
[code]

It would be great if we could have a file to map the properties against their translated version

`src/i18n/en/validation-properties.json`
[code]

The [Laravel](https://laravel.com/) framework has this feature internally and it's

[2022-06-23 04:22] Agreon opened #356 "Add `@nestjs/graphql` to peerDependencies"
Otherwise projects that don't use the package themselves will receive the following error on compilation:
`Cannot find module '@nestjs/graphql' or its corresponding type declarations.`

[2022-06-23 07:51] garritfra commented on #184
@toonvanstrijp sorry to revive this ancient ticket. The docs only show how to translate stuff in controllers via the context.

How would this work in services? Here's my current setup:

[code]

but this doesn't seem to respect the resolvers defined in the root module.🙈 Any hints?

[2022-06-23 10:37] toonvanstrijp commented on #184
@garritfra you should make use of the I18nRequestScopeService. But know that this has some performance drawbacks, since a new instance of your service will be created in each incoming request. This is because the service is set to an REQUEST scope. So I would advise to pass down the language from the controller to the service when it’s needed in there.

[2022-06-23 10:46] garritfra commented on #184
@toonvanstrijp I see. Thanks!

[2022-06-23 15:03] PedroFumero commented on #354
Solved, I was introduced the exception filter in a bad way. Thanks a lot.

[2022-06-23 15:03] #354 closed, assigned to nobody

[2022-06-23 15:06] PedroFumero opened #357 "Extract locale inside Dto?"
I'm using some decorators from `class-validator`, specific using `@IsAlpha()` it receives a locale as first parameter, How is it possible to extract the parameter that my HeaderResolver is catching to use in this parameter?

[2022-06-24 11:59] hatemragab opened #358 "how to translate any where?"
how to get i18nContext in any function?

[2022-06-24 15:07] PedroFumero opened #359 "How to edit translation on response object?"
Guys I have a question, is it possible to run an interceptor after all? I mean I want to create an interceptor to modify the response when nestjs-i18n library has been translated my dtos, I thought adding an interceptor and simply modify the response that we get, but I figure out that at the moment when my interceptor runs the translations are not applied, so there is any way to execute an interce

[2022-06-24 18:25] PedroFumero commented on #358
I also need this, I want to use inside a class that has no relation with a service, or controller is more like a helper function.

[2022-06-24 18:56] toonvanstrijp commented on #358
@hatemragab Pass down the i18nContext from your controller to your service and then to wherever you use it...

If that's not something you want, pass down the `@I18nLang()` or inject the `I18nRequestScopeService` inside your service.

[2022-06-24 18:56] #358 closed

[2022-06-24 18:57] toonvanstrijp commented on #358
@PedroFumero how does this "class" get the users current selected language?

[2022-06-24 19:08] toonvanstrijp commented on #359
@PedroFumero this should be possible but in order to do so you'll need to apply the filter yourself. This is because nestjs only runs filters as a last step. See here [request lifecycle](https://docs.nestjs.com/faq/request-lifecycle#summary).

As you can see the exception filters are ran at step 19. This is after your `ErrorsInterceptor` to solve this you could apply the filter yourself inside the

[2022-06-24 19:16] toonvanstrijp commented on #356
@Agreon I don't have this problem, what things are you importing in your project and causes the error when compiling?

[2022-06-24 20:56] hatemragab commented on #358
i have try to inject I18nRequestScopeService  but not working can you send me some code ? my code is
[code]

[2022-06-24 20:59] hatemragab commented on #358
Fixed by
[code]

[2022-06-24 21:14] toonvanstrijp commented on #358
@hatemragab that's indeed the better choice, but now you'll have to pass down the language from your controller to the service.

[2022-06-25 07:19] aspian-io opened #360 "Injecting service class into the custom resolver gets I18nModule resolving dependencies error"
I created a custom resolver that uses the "lang" service class from the same module and then I use this new resolver class name in the module's providers. When I use this resolver in "I18nModule.forRoot()" in app.module I get resolve dependencies error.

I'm using latest nestjs v8 and nestjs-i18n v9.1.2.

path-resolver.extension.ts
[code]

langs.module.ts
[code]

langs.service.ts
[code]

app.modul

[2022-06-25 13:15] productdevbook commented on #339
some problem, en working but fr send data dont fr translate. only en support

[2022-06-25 13:45] productdevbook commented on #339
[code]

[code]

[2022-06-25 16:05] d-michail opened #361 "warning logs on unrecognised context type"
We are using this module together with the `@golevelup/nestjs-rabbitmq` module which defines a custom `rmq` context.

Due to this line https://github.com/toonvanstrijp/nestjs-i18n/blob/843830259775d734bf8903c351888fb32329637e/src/utils/context.ts#L14
the interceptors issue a warning message on each message received from a rabbit queue.

The package  works correctly, since it bails out when it does

[2022-06-25 23:38] huangang commented on #356
node_modules/nestjs-i18n/dist/filters/i18n-validation-exception.filter.d.ts:5:36 - error TS2307: Cannot find module '@nestjs/graphql' or its corresponding type declarations.

5 import { GqlExceptionFilter } from '@nestjs/graphql';
[code]

[2022-06-26 06:02] productdevbook opened #362 "hbsHelper MailerModule add '<div>hello</div>' nail problem"
When I use html tags in the translation, it throws '' between the templates and the email template is also detected as plain text.

How can i solve this problem. We enter the colors of some texts etc. in the translations.

-> https://nestjs-i18n.com/guides/mailer some config my used.

- @nestjs-modules/mailer with used

[2022-06-26 07:29] Agreon commented on #356
@toonvanstrijp Did you try it inside of a project without the package? Do you maybe have `@nestjs/graphql` installed globally?

[2022-06-26 07:51] productdevbook commented on #362
fixed: https://handlebarsjs.com/guide/#html-escaping

[2022-06-26 07:51] #362 closed

[2022-06-26 15:53] #356 closed

[2022-06-26 15:54] toonvanstrijp commented on #356
@Agreon @huangang Ahh I see, it has been fixed in V9.1.3! 🎉 (Thanks @huangang)

[2022-06-26 15:59] toonvanstrijp commented on #360
@aspian-io please make your `LangsModule` global.

[code]

[2022-06-26 15:59] #360 closed

[2022-06-26 16:00] toonvanstrijp commented on #361
@d-michail this isn't possible yet. But feel free to make a PR for it!

[2022-06-27 16:07] PedroFumero commented on #358
At the moment I haven't found a way to do so, I want to apply the capabilities of translation inside my jwt strategy class that comes from passport.js, but can't pass the I18nContext to this class.

[2022-06-27 17:02] toonvanstrijp commented on #358
@PedroFumero can you try using the `getI18nContextFromArgumentsHost`. I think you have an option in passport to pass down the `request` to your passportjs strategy. If you can send me some of you code I could probably give you better directions.

[2022-06-27 18:05] PedroFumero commented on #358
@toonvanstrijp solved.

At the moment pass the properties in the constructor, passport provide the following property: `passReqToCallback`, I have set to true, so in the validate function now we receive two parameters, being the first one the Req object and second the payload.

After getting the req object I've used `getI18nContextFromRequest(req)`. That's it, we are able to use i18n. Thanks a lot

[2022-06-27 18:28] toonvanstrijp commented on #358
@PedroFumero exactly! That’s what I meant ;) great job 🫶🏻

[2022-06-28 08:31] rubiin commented on #361
@d-michail that is a desirable message if you ask me. Though we maybe able to add in an option to disable the unsupported message without breaking anything

[2022-06-28 09:03] rubiin commented on #355
Looks like some nice feature.PRs are more than welcome

[2022-06-28 12:20] Scrip7 commented on #355
@toonvanstrijp I believe when we're using a translation library, we aim to avoid confusion and keep the error messages as simple as possible so that the front-end application can print it out without any transformation on its own.

Most of us in JavaScript follow the `camelCase` variable naming convention.
So imagine this scenario in the Dto file we're asking for the `carModel`, `primaryEmail`, an

[2022-06-28 12:34] toonvanstrijp commented on #355
@Scrip7 ahh like that! Perfect use case and totally understandable! What might work... but I'm not sure. Is to make use of the nested translation functionality.

so you json file `objects.json`:
[code]

[2022-06-28 12:44] toonvanstrijp commented on #355
@Scrip7 that's definitely true! I'm open for this feature so if you want to make a PR for it, that would be awesome!

[2022-06-28 16:00] gsusmonzon commented on #299
Hello @BS-CURTIS , @toonvanstrijp  in case it is not too late.

We managed to use `nestjs-i18n with` `express-handlebars`, but this is a bit convoluted:

1. In the module configuration, we declared the `viewEngine` as `'pug'` [doc](https://nestjs-i18n.com/guides/view_engines/pug) . This way the module init defines a `t` function in locals, as seen in the [source code](https://github.com/toonvanstr

[2022-06-28 18:03] toonvanstrijp commented on #344
@Lamquocminhhuy docs have been updated! 🎉

[2022-06-28 18:03] #344 closed

[2022-07-05 13:28] mjrajay opened #366 "multi language Enums"
how can i have multi language enums in nestJS project by i18n?
thanks

[2022-07-05 13:30] toonvanstrijp commented on #366
@mjrajay I don't know what you mean, please give me a bit more details or example what you would like.

[2022-07-05 13:47] mjrajay commented on #366
for example:
enum enDirect{
UP:"up",
DOWN:"down"
}
enum trDirect{
UP:"yukarı",
DOWN:"aşağı"
}

[2022-07-05 13:52] toonvanstrijp commented on #366
@mjrajay can you explain why you need it, and why the current features won't work for you? I can't really guess why you would want such feature? It's already possible to translate object etc.

[2022-07-05 14:13] mjrajay commented on #366
oops, i can use enums like this:
`enum Direct{
UP:"up",
DOWN:"down"
}`
enum.json
`
{
    "Direct":{ "up":"yukarı",   "down":"aşağı" }
}
`
`i18n.t(`enum.Direct.${Direction.UP}`);`

[2022-07-07 09:50] suneab commented on #330
In this case i would just use the QueryResolver
https://nestjs-i18n.com/concepts/resolver
You can also use a custom resolver if you need to map it

[2022-07-07 10:50] toonvanstrijp commented on #330
@ovide there isn't a resolver for a URI slug yet. But I could make one if you want?

[2022-07-07 11:01] ovide commented on #330
Wow, my bad!,
I tested it wrong the first time and thought it was just for query params (`/foo?lang=en`). Now I've it working as I wanted (`/en/foo`).
Thnx.

[2022-07-14 11:04] amirjani commented on #355
is this issue have a pull request?
this feature is one of my requirement too

[2022-07-14 11:39] toonvanstrijp commented on #355
@amirjani it doesn't have a pull request yet, but feel free to make one! :)

[2022-07-14 15:05] amirjani commented on #355
@toonvanstrijp I believe there are too many other ways that can handle this issue better, but I tried my best to do not make a breaking change

I also believe that something like:
[code]
is a better way for doing so

my way for handling this problem, also have an overhead for changing the key put of no where in the same json file

thanks

[2022-07-15 10:20] rakicluca commented on #339
@toonvanstrijp Hi man, I have the same problem as @cyberz. Also, I have the same code/configuration as him. Do you have some tips for resolving this?
Btw, thanks for this amazing work ;)

[2022-07-16 15:56] toonvanstrijp commented on #339
@rakicluca Could you send me a sample repo containing the issue? Then I'll search for a solution or a workaround :)

[2022-07-18 09:56] jaunusa opened #370 "Feature request: Add I18nService.getTranslations method"
Hi, is it possible to add a method eg. "getTranslations" to the I18nService returning the private translations instance:
https://github.com/toonvanstrijp/nestjs-i18n/blob/95b876539afdde7d3b35d30927118b488ceded71/src/services/i18n.service.ts#L32

As the nestjs-i18n module loads multiple translations files, it would be very helpful being able to retrieve the loaded data in services.

[2022-07-20 10:44] #370 closed

[2022-07-26 06:53] agile-apoorvdodiya commented on #96
this did not worked with me I am using nestJS version 6

[2022-07-26 09:15] toonvanstrijpwavy commented on #96
@agile-apoorvdodiya I guess nest js version 6 doesn't support this feature yet.

[2022-07-26 23:48] boukmi opened #375 "Cannot read properties of undefined (reading 'i18n')"
Hi everyone,

I'm getting an error when I use `I18nService` to translate some text in my NestJS app.
Here is my `app.module.ts` file:
[code]
Inside `PositionModule`, I have a class that injects the `I18nService`:
[code]
[Nest] 624454  - 27/07/2022, 00:47:08   ERROR [ExceptionsHandler] Cannot read properties of undefined (reading 'i18n')
TypeError: Cannot read properties of undefined (reading 'i18n

[2022-07-27 00:29] boukmi commented on #375
Okay the issue is I forgot to use the `await` keyword.
but Im having another issue, it looks like the service always uses the fallback language even if I specify the `lang=fr` as a query parameter.
Any idea why?

Thank you

[2022-07-27 09:30] julianpoemp opened #376 "How to load JSON files named with language codes in different folder structure?"
I would like to create a library that contains all translation files (JSON) for related projects. The projects I want to use these files in are created with Angular and the files are loaded by [Transloco](https://ngneat.github.io/transloco/).

The file structure that transloco uses is as following:

    |- i18n
    |-- de.json
    |-- en.json
    ....

So the translation files are named with the l

[2022-07-27 10:29] boukmi commented on #375
It truns out we need to pass in the language to `I18nService` as a parameter: `options: { lang: 'fr' }`
I ended up using NestJS interceptor to translatemy payload using `const i18n = getI18nContextFromRequest(request);`

Regards

[2022-07-27 13:51] StasJDM commented on #339
Same issue. As I can see in `src/services/i18n.service.ts`, property `i18nLang` is required in `option.data.root`. I think it means that we should provide property `i18nLang` in object, which we pass to template. In my case, I get lang value from `I18nContext` from controller.

F.E. I pass object in tis form
[code]

[2022-07-27 19:06] #375 closed

[2022-07-27 19:10] toonvanstrijp commented on #376
@julianpoemp You can provide your own loader. If you take a look at the [I18nAbstractLoader](https://github.com/toonvanstrijp/nestjs-i18n/blob/main/src/loaders/i18n.abstract.loader.ts) and modify it a bit, you can make it so that it loads the structure mentioned above.

[2022-07-27 19:33] julianpoemp commented on #376
@toonvanstrijp thanks for your fast response!

I had a look on the AbstactLoader and as far as I can see I would have to change the way the languages are parsed a.s.o. . I can't just create a Loader that extends the AbstactLoader because I would have to override the `parseLanguages()` function. After that I couldn't use the `this.options` because `options` is a private property.

So I would have t

[2022-07-27 20:15] toonvanstrijp commented on #376
@julianpoemp Exactly, that's the right approach. I'm not really seeing a need for it right now, but if you wanna comment your implementation here I can further implement it when more people seem to need it! 🎉

[2022-07-28 09:19] sctouch opened #377 "Is it possible to support `.js` or `.ts` extension for translation file?"
As of right now we only supported the `JSON` and `yml` extensions.
so if we have a way to support `.ts` or `.js` is good.

[2022-07-28 09:41] rakicluca commented on #339
Sorry for the late reply... I'm currently not working on that project, I'll give you a repo asap. Thank you anyway

[2022-07-29 07:05] julianpoemp commented on #376
@toonvanstrijp I implemented an loader option called `languageNamedFiles`, that does what I described earlier. I pushed it on the [feature/one-file-per-language](https://github.com/julianpoemp/nestjs-i18n/tree/feature/one-file-per-language) branch in my fork.

The reason why I don't create a PR is because I found out that the translation files of nestjs-i18n and transloco are only partially compat

[2022-07-29 07:05] #376 closed

[2022-07-30 14:39] molaeiali opened #378 "I18nContext is undefined in ExceptionFilter when exception is thrown in a middleware"
If you throw an exception in a middlware, `getI18nContextFromRequest` and `getI18nContextFromArgumentsHost` will return `I18nContext { lang: undefined, service: undefined }`

Are there any workarounds? or I should just not throw an error in a middleware?

[2022-07-31 11:40] molaeiali commented on #378
I made my middleware a ModuleMiddleware so it can be initiated after i18n module

I think this is not a nestjs-i18n problem, but it can be written somewhere in docs so people know why that happens and how to fix it.

https://docs.nestjs.com/faq/request-lifecycle#request-lifecycle
https://github.com/nestjs/docs.nestjs.com/issues/1248

[2022-07-31 11:40] molaeiali commented on #378
Feel free to close the issue if you are not agree with the documentation update though <3

[2022-08-04 10:25] alfpta opened #379 "Custom resolver is not working"
Hi, the custom resolver is working but i can't change the default language

I18n config:

`I18nModule.forRoot({

      fallbackLanguage: 'en',
      fallbacks: {
        'ru-*': 'ru',
        'es-*': 'es',
        'en-*': 'en',
        'fr-*': 'fr',
        'pt-*': 'pt',
      },
      disableMiddleware:true,
      loaderOptions: {
        path: path.join(__dirname, '/translation/i18n/'),

[2022-08-05 15:49] Roman-Denysenko opened #380 "Can I make the validation DTO inside the controller?"
Hello, Can I make the validation DTO as shown in the documentation inside the controller without a decorator @Body, it's just that some not only come in a body but are also collected from other parts:

 @Post()
    async create(@Req() req: Request, @Res() res: Response) {
        const catToCreate: catCreateDto = new CatCreateDto(
            req.body.name,
            req.body.breed,

[2022-08-08 07:22] AKclown commented on #344
https://www.bookstack.cn/read/nestjs-7-zh/cli.md#dpmpb2

[2022-08-09 02:15] AKclown commented on #376
Is this feature merged?

[2022-08-09 02:16] toonvanstrijpwavy commented on #376
Nope

[2022-08-09 02:31] AKclown commented on #376
![image](https://user-images.githubusercontent.com/33648653/183550442-21d6cb1f-5add-466f-8086-34f53b66d0aa.png)
How to load the translation file correctly, who can tell me, it can be done according to the official method

There is no correct mapping to the en.json file
![image](https://user-images.githubusercontent.com/33648653/183550594-9902ab25-932f-408c-94c8-539830237e27.png)

[2022-08-18 09:24] jaunusa opened #382 "Using dot as key with defaultValue results in RangeError: Maximum call stack size exceeded"
Hi, following translation call results in a RangeError: Maximum call stack size exceeded:
[code]
Used version: 9.1.3

**Why would someone want to translate such a key?**
Let's say a web form contains a select with predefined keys, for which translation exist in `default.someList`. Additionally it is possible to add custom keys to the selection, eg. "some text containing a . dot".
After the form ha

[2022-08-18 11:13] itseramin commented on #377
Create your own custom loader/parser.

[2022-08-18 13:48] toonvanstrijp commented on #377
@sctouch this isn't possible yet, but feel free to create a PR

[2022-08-18 13:48] #377 closed

[2022-08-19 13:44] svarup commented on #97
`I18nValidationExceptionFilter` have `errorFormatter` parameter but that only allow to format `errors` param in response body what if we want to format entire response like `statusCode` to `status`, `message` to `msg` etc ... `errorFormatter` not fully allow to format response body

valid documentation link: [here](https://nestjs-i18n.com/guides/dto-validation)

[2022-08-21 09:10] rubiin opened #385 "update: Update nestjs to v9"
Updating nestjs to v9 would help use @nestjs/class-validator instead of class-validator internally

[2022-08-21 09:11] rubiin commented on #380
You can refer here: https://github.com/nestjs/class-validator

[2022-08-25 06:29] mudlee opened #386 "Nest can't resolve dependencies"
I did follow the instructions at https://nestjs-i18n.com/

I have no multiple `core` dirs under my `node_modules`. I checked all other recommendations as well I found over the internet and in this repo.

**1. I have a multimodule nestjs repo.**

**2. I included the module in my app module:**
[code]

**3. I then tried to include the context in one of the modules' service:**

[code]

**4. And I get:

[2022-08-25 06:32] mudlee commented on #386
fyi: I tried it in my other project, which is a newer nestjs, but still modularized one. Same error.

[2022-08-25 09:54] toonvanstrijpwavy commented on #386
You can’t just simply use the I18n context in a service. This has to do with the request scope/lifecycle. You either use I18nContext in your controller, then pass it down or use it there.

if you need it in your service use the I18nService.

[2022-08-26 11:19] mudlee commented on #386
I see. Further quesiton: even though `I18nContext` works at the controller level, but `I18nService` does not at service level, it does take the sent header into account.

How can use the `I18nService` in a service? I found no doc about it.

**de/test.json**

[code]

**en/test.json**

[code]

**Service**

[code]

[2022-08-26 11:22] toonvanstrijp commented on #386
Services normally are initiated once at startup. You can make use of the Request Scoped service, but this has performance drawbacks. I would recommend passing down the i18nLang yourself. From the controller to wherever you need it.

[2022-08-27 16:43] mudlee commented on #386
:-O

[2022-08-27 16:46] toonvanstrijp commented on #386
@mudlee any more questions or is it clear now?

[2022-08-29 05:06] mudlee commented on #386
It would be good to have a doc about how to extend the service to be request scope based, but otherwise no. I don't think passing something among layers is a good solution though.

[2022-08-29 09:12] toonvanstrijp commented on #386
@mudlee definitely agree that the docs can be improved. But I would still disagree with using the request scoped service. This is because nestjs creates a whole new instance of the I18nRequestScopeService on each request. This has some performance drawbacks.

[2022-08-30 12:12] kbzowski opened #387 "Resolvers are not called when using forRootAsync"
Using forRootAsync to load nestjs-i18n config stored in another service prevents loading Resolvers. The remaining functionality works ok.
See minimal example: https://github.com/kbzowski/nestjs-i18n-example

[2022-08-30 12:22] toonvanstrijp commented on #387
@kbzowski when using the `forRootAsync` the resolvers need to be declared within the forRootAsync options instead of the I18nOptions.

So If you change it to this it should work:
[code]

[2022-08-30 12:22] #387 closed

[2022-08-30 14:33] toonvanstrijp commented on #321
closing due to inactivity

[2022-08-30 14:33] #321 closed

[2022-08-30 14:33] toonvanstrijp commented on #339
closing due to inactivity

[2022-08-30 14:33] #339 closed

[2022-08-30 14:34] toonvanstrijp commented on #357
closing due to inactivity

[2022-08-30 14:34] #357 closed

[2022-08-30 14:34] toonvanstrijp commented on #361
closing due to inactivity

[2022-08-30 14:34] #361 closed

[2022-08-30 14:38] toonvanstrijp commented on #378
@molaeiali If you apply the i18n middleware before your own middleware it shouldn't be an issue to throw an exception.

You can do this by doing:
[code]

[2022-08-30 14:38] #378 closed

[2022-08-30 14:39] toonvanstrijp commented on #379
Do you still need help with this?

[2022-08-30 16:57] #386 closed

[2022-08-30 17:04] toonvanstrijp commented on #380
@Roman-Denysenko released in version V9.1.7 🎉

[2022-08-30 17:04] #380 closed

[2022-08-31 07:25] itsjokexd commented on #219
Sorry for comment in old issue, but I have the same issue now.
Using Apollo Federation and can't receive i18nLang in guards so my Exception Filter can't work with exceptions from guards, because context from guards doesn't have i18n into it.

Do you have some solution for this issue?

[2022-08-31 07:29] toonvanstrijp commented on #219
@itsjokexd could you provide me with an repo containing this issue, then I'll take a look at it ;)

[2022-09-01 11:54] sctouch opened #390 "How to use the translation file as `ts` or `js` extension?"
I want to use `.ts` or `.js` file extension, do you have anyway to support that?

[2022-09-01 15:18] toonvanstrijp commented on #390
Nope but feel free to make a PR.

[2022-09-01 15:18] #390 closed

[2022-09-06 06:22] Zhaocl1997 commented on #378
facing the same issue

[2022-09-06 06:33] toonvanstrijp commented on #378
@Zhaocl1997 can you send me a zip containing a project that demonstrates your issue?

[2022-09-06 08:24] Zhaocl1997 commented on #378
[here it is](https://github.com/Zhaocl1997/nestjs-i18n-issue-repo), i'm pretty new to nestjs, so maybe it's my structure problem that cause this, please check it

[2022-09-06 18:44] toonvanstrijp commented on #378
@Zhaocl1997 to fix your issue see the changes I've made to your project: [nestjs-i18n-issue-repo.zip](https://github.com/toonvanstrijp/nestjs-i18n/files/9499764/nestjs-i18n-issue-repo.zip)

- I've made an update to the `nestjs-i18n` library which allows you to get the `I18nMiddleware`. This way you can register it yourself elsewhere. (So please update to version 9.1.10)
- Your `nest-cli.json` file

[2022-09-07 00:54] Zhaocl1997 commented on #378
Oh, fix it! Thanks for the detail-patient answer. I just went through the doc and didn't see section about `I18nMiddleware`. Anyway thanks a lot!

[2022-09-09 05:16] rubiin commented on #385
@toonvanstrijp Any updates. I tried for a PR but ran with some weird bugs

[2022-09-19 01:13] DRyzhkovProd opened #392 "It is not copying i18n dir to dist folder"
Hi, I ran into a problem, the i18n folder is not copied to the dist folder, although in nest-cli.json added everything you need
` [I18nService] Error: ENOENT: no such file or directory, scandir`

**nest-cli.json:**
[code]

[2022-09-19 07:13] toonvanstrijp commented on #392
@DRyzhkovProd can you send me a zip containing the issue?

[2022-09-19 08:11] DRyzhkovProd commented on #392
solved the problem, there was an incorrect i18n folder structure

[2022-09-19 08:11] #392 closed

[2022-09-28 08:29] StimulCross opened #393 "feat: multilingual plurals support"
The current implementation partially supports plurals for English-like languages with only `one` and `other` plural categories. My proposal solution uses native [Intl.PluralRules](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/PluralRules) object to resolve the right plural category for specific languages.

[code]

This little piece of code does the thing. Ev

[2022-09-28 10:33] toonvanstrijp commented on #393
@StimulCross Oh this looks great, awesome that you made use of the `Intl.PluralRules`! Can you make a PR for it, that way it's easier for me to review!

[2022-09-28 14:34] tepinly opened #395 "'loaderOptions' does not exist in type 'I18nOptions'"
I was following the basic [quickstart steps](https://nestjs-i18n.com/quick-start) & I get this error as I import the i18n module.

### Code block

[code]

### Error message

[code]

And it makes sense, I looked into the I18Options and these are the allowed parameters
[code]

I've looked everywhere for this issue and couldn't find anything online

[2022-09-28 21:16] #393 closed

[2022-09-28 21:28] toonvanstrijp commented on #395
@tepinly which version do you use? Cause I'm 100% sure there is a option called `loaderOptions`. See this link: https://github.com/toonvanstrijp/nestjs-i18n/blob/ba32b79127fd1b217a0305a899e60d2e71a01deb/src/interfaces/i18n-options.interface.ts#L48

[2022-09-28 21:28] #395 closed

[2022-09-28 21:35] #385 closed

[2022-10-01 17:44] hatemragab opened #396 "Maximum call stack size exceeded"
this bug happens only when i set validateCustomDecorators to true in ```useGlobalPipes```
[code]

[2022-10-11 07:04] maxinthestudio commented on #307
In 10 minutes I will send you the code

El lun., 11 abr. 2022 04:35, Toon van Strijp ***@***.***>
escribió:

[2022-10-11 07:38] maxinthestudio commented on #307
Yaml test added ! Very basic one, no need to test the same code again. I
added to test.yml files in english and netherland.

On Tue, Apr 12, 2022 at 7:47 AM Maximiliano Carrizo ***@***.***>
wrote:

[2022-10-11 08:21] maxinthestudio commented on #307
One question ... you closed the issue.... and the issue is not solved,
actually .... mmmm ...

On Mon, Apr 11, 2022 at 11:26 PM Maximiliano Carrizo ***@***.***>
wrote:

[2022-10-11 08:28] toonvanstrijp commented on #307
@maxinthestudio The issue had nothing to do with the nestjs-i18n package right?

[2022-10-11 11:46] jemliF opened #398 "Sample project for DTO Global Validation"
Thank you for this work
I am facing many problems using this module for DTO (class-validator) global validation
Here is my setup:

**main.ts**
`app.useGlobalPipes(
    new ValidationPipe({ exceptionFactory: i18nValidationErrorFactory }),
  );`

 **nest-cli.json**

`{
  "$schema": "https://json.schemastore.org/nest-cli",
  "collection": "@nestjs/schematics",
  "sourceRoot": "src",
  "compilerOption

[2022-10-11 14:10] toonvanstrijp commented on #398
@jemliF if you look at this link: https://nestjs-i18n.com/guides/dto_validation/global-validation#translations

You can see that your json file isn't matching the desired layout. Your file named `fr.json` should be in a folder called `fr` and be named `validation.json`. Then remove `.validation` from each key inside of it.

[2022-10-11 16:26] Goufix opened #399 "Is it possible to use translations in a constant?"
Is it possible to use translations in a constant? Even if I provide a language manually from the header or something. I have some constants in my application that should be translated

[code]

[code]

My theory is that I could make something lake

[code]

but if that's the solution, where can I get that class from my service?

[2022-10-11 19:38] jemliF commented on #398
@toonvanstrijp Thanks, it's working perfect, do you now where I can find a list of all class-validator constraints ?

[2022-10-11 19:38] #398 closed

[2022-10-12 15:12] toonvanstrijp commented on #399
@Goufix You can definitely do that. But it's a bit more difficult to initiate your `const`.

[code]

[2022-10-12 15:12] #399 closed

[2022-10-13 09:28] GauriSBane opened #400 "getting issue in output of DTO validation message"
I have configured nestjs-i18n accoring the document but getting the response of validationPipe using I18nValidationExceptionFilter
as below,
{
    "errors": [
        {
            "message": "Bad Request Exception",
            "code": {
                "statusCode": 400,
                "message": [
                    {
                        "target": {
                            "email": ""

[2022-10-13 09:39] toonvanstrijp commented on #400
@GauriSBane please send me a zip of your repo with the configurations etc, there is probably something wrong with our setup/file stucture.

[2022-10-13 10:07] GauriSBane commented on #400
Thanks for quick reply ,I will provide you the code snippet

Resolver file code

import { I18nValidationExceptionFilter } from 'nestjs-i18n';
@Resolver(() => Auth)
export class AuthResolver {
  constructor(private readonly authService: AuthService,private globalService: GlobalService) {}
  @UsePipes(new ValidationPipe({transform:true}))
  @UseFilters(new I18nValidationExceptionFilter())
  @Mutatio

[2022-10-15 17:54] GauriSBane commented on #400
Sorry , Actually this issue is occurred because of I have added the formatError option inside  GraphQLModule  configuration but now I have removed this code, now it works fine.

[2022-10-15 17:54] #400 closed

[2022-10-17 07:25] toonvanstrijp commented on #382
@jaunusa this is fixed in V9.1.2 🎉

[2022-10-17 11:25] hatemragab commented on #396
Yes please

[2022-10-17 11:28] toonvanstrijp commented on #396
@hatemragab can you send me a zip containing a project the demonstrates this issue? That way I can track down the bug ;)

[2022-10-17 11:29] hatemragab commented on #396
Okay thanks

[2022-10-19 18:30] nippilaus opened #402 "Nest can't resolve dependencies of the I18nModule"
Hi all,

just migrated a project from nest v8 to v9 and have issues with the module dependecies resolving. I get this error and stacktrace:

[code]

In `src/app.module.ts` the module is imported like this
[code]

The module is then imported in my own modules and the service is reference in my services like this:
[code]

In v8 this was working (except for using _parser_ instead of _loader_). I coul

[2022-10-20 06:44] toonvanstrijp commented on #402
@nippilaus can you send me a zip containing the issue? If can't spot very easily what's causing this issue for you, but with a project containing it I might be able to help! :)

[2022-10-20 11:17] hatemragab commented on #396
let me do it now

[2022-10-20 11:25] hatemragab commented on #396
[nest_i18n_bug.zip](https://github.com/toonvanstrijp/nestjs-i18n/files/9829251/nest_i18n_bug.zip)
run the project in dev mode by
```npm run start:dev```
then from postman or any alternative hit
```GET localhost:3000```
you will see that
[code]
in main.ts
if you just comment this line  it will work normal
```validateCustomDecorators: true,```

[2022-10-20 13:00] toonvanstrijp commented on #396
@hatemragab the error was not caused by a bug in nestjs-i18n, but you used a `@Body()` in a get request. This leads to an error because the transformer is going to transform `undefined`. The `@Body()` decorator is normally not used in a `GET` request.

I modified your project a bit, see this zip:
[nest_i18n_bug.zip](https://github.com/toonvanstrijp/nestjs-i18n/files/9830268/nest_i18n_bug.zip)

[2022-10-20 13:27] brolaugh commented on #402
I can't hand out any code showing the error but I can say that the error does not appear for me on `8.3.2` but does on `9.0.0`

[2022-10-20 15:40] nippilaus commented on #402
@toonvanstrijp Please find the archive attached. I hope it works. The project is quite complex - had to strip it down a lot. You should be able to get the error by running
[code]
Thanks!
[test.zip](https://github.com/toonvanstrijp/nestjs-i18n/files/9831678/test.zip)

[2022-10-20 17:38] toonvanstrijp commented on #402
@nippilaus if you take a look at the [module-setup](https://nestjs-i18n.com/quick-start#module-setup) section. It has a `cation` mentioning that the `I18nModule` is a `@Global` module. This means that you'll only have to import it once! 🎉

To fix your error you'll need to remove the `I18nModule` import from the `ReportingModule`.

[2022-10-20 17:38] #402 closed

[2022-10-21 07:00] nippilaus commented on #402
Dear @toonvanstrijp. You are right - thanks so much! Actually, I thought, I had already tried that but looks like I dreamed that. It's working! Thanks again!

[2022-10-21 12:49] BobbiSixkiller commented on #203
Hi I'd like to reopen this issue because with current version "^9.2.1" I can not successfuly import custom Resolver. I'm testing this the same way as OP. It doesn't tun the console log in resolve method so I guess the resolver does not load to i18n service at all.

[2022-10-21 13:12] BobbiSixkiller opened #403 "Custom resolver won't load into i18n module"
Hi I'd like to reopen this issue because with current version "^9.2.1" I can not successfuly import custom Resolver. I'm testing this the same way as OP. It doesn't tun the console log in resolve method so I guess the resolver does not load to i18n service at all.

custom.resolver.ts
`import { Injectable, ExecutionContext } from '@nestjs/common';
import { I18nResolver, I18nResolverOptions } from '

[2022-10-21 13:22] brolaugh commented on #402
Coming from an Angular background I thought that `I18nModule.forRoot()` was the global bit and I still had to `imports: [I18nModule]` in the other modules.
You're saying that this is not the case @toonvanstrijp?

[2022-10-21 14:02] toonvanstrijp commented on #403
@BobbiSixkiller can you send a small repo containing the issue? A zip is enough :)

[2022-10-21 15:14] BobbiSixkiller commented on #403
First of all thanks a lot for such a fast reply:) here's the [link](https://github.com/BobbiSixkiller/FlawIS/tree/dev/mail)

[2022-10-22 18:26] productdevbook commented on #361
This is a real need, please leave it open. i18n is not used when using `@golevelup/nestjs-rabbitmq`.

[2022-10-25 08:59] kaiyan910 opened #404 "I18nContext and I18nService return different result of translation"
My Setup

**AppModule**
[code]
**Controller**
- using `I18nContext.t()` return a correct result
- using `i18n.service.t()` always return the `fallbackLanguage`
[code]

**Service**
- the same problem is found while using injection to the service class (i.e. returning the `fallbackLanguage`)
[code]

is it an expected behaviour of my use case? if so may I know how can I get the correct translation wh

[2022-10-28 12:50] Tomas2D commented on #403
Having same issue, temporary downgraded to `9.1.10`

[2022-11-02 12:45] iliazeus opened #406 "Expose language normalization/fallback method on I18nService"
In our app, we have `fallbacks` and a `fallbackLanguage` configured for the `I18nModule`. We also want to localize our media (e.g. text on images). For that, we have static content hosted in locale-specific folders, e.g. `content/en/image.png`.

It would be really convenient if the fallback logic would be exposed on `I18nService` so that we can use the same logic to serve our localized media. For

[2022-11-03 09:41] #406 closed

[2022-11-12 04:57] abbasatayee commented on #198
@toonvanstrijp
I am trying to write the test for a controller which has I18nService as a dependency it throws an error like this one for me
`const module: TestingModule = await Test.createTestingModule({
      imports: [
        I18nModule.forRootAsync({
          useFactory: (config: ConfigService) => ({
            fallbackLanguage: config.get('yaml.app.fallbackLanguage'),
            loaderOpti

[2022-11-12 14:56] toonvanstrijp commented on #198
Can’t you mock the i18nService as well? Don’t know what you’re trying to test? :)

[2022-11-13 10:21] abbasatayee commented on #198
Thanks, I have mocked the i18nService and it works.

[2022-11-17 08:26] AmoOAO commented on #406
[code]
[code]

When I use the function like this I cant get my fallback language

zh-?? => zh-TW  ( this is working
en-?? => en (this is working too

But
??? => en ( this is not working

[2022-11-17 08:27] AmoOAO opened #410 "Resolve Language isnt working"
[code]
When I use the function like this I cant get my fallback language
[code]

zh-?? => zh-TW ( this is working
en-?? => en ( this is working too

But
??? => en ( this is not working

example
qaa => qaa ( it did not fallback by resolver

[2022-11-17 08:40] SchroederSteffen opened #411 "Support (nested/deep) subfolders"
Hi,

We would like to request the support for nested (deep) translation folders.
Currently, as it seems, we must store the translation files directly in the specified `path`, but not inside nested sub-folders.

I think `getFiles` would need to be enhanced to support reading nested folders: https://github.com/toonvanstrijp/nestjs-i18n/blob/f390e90a1b7cd80dea63165fe2f2f5ef57fe8ac0/src/utils/file.ts#

[2022-11-23 13:53] marcosrocha85 commented on #406
You should keep this question in your own issue (#410), please.

[2022-11-24 04:02] tidytrax opened #412 "Error: Using validateCustomDecorators, Maximum call stack size exceeded"
Hello I have this simple code, but when I enable the option validateCustomDecorators on validation pipe I cant call the @I18n() decorator, looks like it get on a looping.

The test project does not has a custom decorator

AppModule

[code]
main
[code]
Controller
[code]

[2022-11-28 13:28] Goufix opened #413 "Array translations docs example"
I've been trying to work with arrays but I couldn't find it at the docs. Looking into [tests/i18n.yaml.spec.ts](https://github.com/toonvanstrijp/nestjs-i18n/blob/95b876539afdde7d3b35d30927118b488ceded71/tests/i18n.yaml.spec.ts) I found the solution. What about creating a doc for that one?

I'm able to open a PR if so

[2022-11-28 15:43] toonvanstrijp commented on #413
@Goufix a PR is more than welcome! 🥇

[2022-11-29 15:14] liubotsvetkov opened #415 "this.i18n is undefined and produces error when calling translate method"
Hello, I would really appreciate some help.

I am getting 'Cannot read properties of undefined (reading 'translate')' error when trying to call this.i18n.translate method.

In summary, I am creating a Translation package, which will be used as an external dependency from 2 services.
The Translation package has the following structure in short:
[code]

This is the TranslationModule.ts file:
[code]

[2022-11-29 18:39] subasioguz opened #416 "Nest can't resolve dependencies of the I18nOptions"
Hi everyone,

I need help because i cant use useClass.

My custom factory class;
<img width="705" alt="Ekran Resmi 2022-11-29 21 36 21" src="https://user-images.githubusercontent.com/95227620/204616763-fe43390a-7083-438c-a05e-923fd8ee6c6e.png">

and i defined to app.module file.

<img width="361" alt="Ekran Resmi 2022-11-29 21 37 19" src="https://user-images.githubusercontent.com/95227620/20461696

[2022-11-29 19:53] toonvanstrijp commented on #403
@BobbiSixkiller sorry for the late reply, do you still need help with this issue?

[2022-11-29 19:53] #410 closed

[2022-11-29 19:56] toonvanstrijp commented on #411
I don't have time to implement this at the moment, but feel free to make a PR! 👍🏻