[2019-05-17 01:15] kentkrantz opened #1 "How to use it form templates like hbs, ejs?"
Thank you!

[2019-05-17 06:33] ToonvanStrijp commented on #1
There are multiple options.
- you can transform all the things you need before putting them in the template.
- you could write a custom expression that is using the i18nService to translate things.
- I could write a custom transformer that you could implement included in the library?

[2019-06-03 23:00] jselesan opened #2 "Provide forRootAsync"
I use to use a configuration service that is aware of the environment, and it uses different settings for each environment. In e2e tests I need to configure I18NModule with a different path, so it would be nice to have something like this:

`
imports: [
  I18nModule.forRootAsync({
    useFactory: (config: ConfigurationService) => ({ path: configService.i18nPath, fallbackLanguage: 'es' }),
    inje

[2019-06-04 06:31] ToonvanStrijp commented on #2
@jselesan good point! Give me a couple or hours to fix it ;). You can expect a new release within 4 hours. 👌🏻

[2019-06-04 07:55] ToonvanStrijp commented on #2
fixed in V2.1.0

[2019-06-05 11:35] rzimmer commented on #2
Thanks a lot for this great module and sorry for re-opening this issue! Using the async provide for initialisation, I get the following errors:

[code]

Looking into `node_modules/nestjs-i18n/dist/index.d.ts` I see that the exports for the above interfaces are missing:

[code]

[2019-06-05 12:18] ToonvanStrijp commented on #2
@rzimmer you should import them like this:
[code]

[2019-06-05 12:24] rzimmer commented on #2
That's actually what I'm doing, but IntelliJ (i.e. TSLint) is complaining (see error message above).

[2019-06-05 12:35] ToonvanStrijp commented on #2
@rzimmer you're completely right, sorry overlooked that one. I've created a new update V2.1.1 and this should be fixed now ;)

[2019-06-05 12:35] #2 closed

[2019-06-14 08:03] pairmix opened #4 "import { I18nModule } from './modules/i18n/i18n.module';"
Hi there,
Where is this file ?

[2019-06-14 08:05] pairmix commented on #4
It should be ; import { I18nModule } from 'nestjs-i18n'; ?

[2019-06-14 08:17] ToonvanStrijp commented on #4
@pairmix thanks for noticing! I'll change the docs ;)

[2019-06-14 08:17] #4 closed

[2019-06-14 08:18] ToonvanStrijp commented on #4
readme is updated

[2019-06-14 09:05] rzimmer opened #5 "Nest can't resolve dependencies of the I18nOptions after upgrade to nest 6.3.1"
Hi @ToonvanStrijp,

We are using the async module inititialization like this:

[code]

This worked well until we upgraded to version 6.3.1 (was 6.2.4). I suspect, https://github.com/nestjs/nest/issues/2341 boke something. We also use https://github.com/nestjs/jwt/ and initialize it in a very similiar way:

[code]

This works flawless even with 6.3.1. I'm not an expert with nest modules, but lookin

[2019-06-14 09:47] ToonvanStrijp commented on #5
@rzimmer fixed it in version 2.1.4 (made 2  version jump because I messed up the npm publish once)

[2019-06-14 09:47] #5 closed

[2019-06-27 06:42] Avejack opened #6 "Nested JSON not working"
I assumed you would be able to have a nested JSON-Object like this:

`
{
    "test": {
        "test": "hello"
    }
}
`

And to get "hello" you would call: translate('en', 'test.test') but this does not work. Can you implement this feature? The Angular package [ngx-translate](https://github.com/ngx-translate/core) as well as the NodeJS package [i18n](https://github.com/mashpie/i18n-node) do it th

[2019-06-28 20:37] ToonvanStrijp commented on #6
@avejack I'll implement this next week ;)

[2019-06-29 16:01] ToonvanStrijp commented on #6
@Avejack fixed and merged it.

Release: V2.2.0

[2019-06-29 16:01] #6 closed

[2019-07-03 16:57] Avejack opened #10 "Wrong usage-example or typings"
You have the following usage-example in your Readme:

[code]

But your translate-method requires an array as third argument. Either your typing is wrong or your example.

If it matters: I would prefer to be able to just insert an object as the third argument (like your example).

Best regards!

[2019-07-03 17:53] ToonvanStrijp commented on #10
@avejack thanks for noticing I'll take a look at it right now! 👌🏻🤓

[2019-07-03 18:23] ToonvanStrijp commented on #10
@Avejack fixed in V2.2.2 :) thanks again for reporting this issue

[2019-07-05 12:59] johannesschobel commented on #1
hey @ToonvanStrijp ,

i think, the first option ("you can transform all the things you need before putting them in the template") is not a good option, because you would constantly pass default strings, like the "imprint" or "copyright" or whatever string in your template, although you could directly translate it in the template (i.e., you would not be able to forget it ;) )

Providing a custom tr

[2019-07-05 13:12] ToonvanStrijp commented on #1
@johannesschobel heey!

I think you're right, and I would be a good feature for this libary to support different templating engines.

Which engines do we need to build support for?

[2019-07-05 13:35] johannesschobel commented on #1
pug & handlebars are the most common, i guess..

[2019-07-05 13:37] ToonvanStrijp commented on #1
Alright let's start with those then. Do you feel like making one of them? Or shall I make a start with handlebars (since I use that one already).

[2019-07-05 13:42] johannesschobel commented on #1
i think it would be best that you provide a `HandlebarsAdapter` in order to have a blueprint ;) Then i can try to create a `PugAdapter`

[2019-07-05 14:19] johannesschobel opened #11 "Discussion: split files by language and not by domain"
Hey there,
i thought it would be better / easier to separate the translations by language (e.g., `en` or `de` folders) and not by domain (e.g., `company` or `mail` folder).
Especially when it comes to translating content to a new language, you can simply copy/paste one existing folder (e.g., `en`) and rename it to `de` and then send it to your translator - and you are good to go.

otherwise you wo

[2019-07-05 14:39] ToonvanStrijp commented on #11
Heey @johannesschobel

That's an excellent idea! I completely agree with you that having it loaded by language is better then by domain.

Changing this would create a breaking change but the solution you offered is great!

Do you have time to implement this or should I do this?

On thing we have to take in account is that when using the `loadFilesByLanguage` flag is that you can't have nested fold

[2019-07-05 14:42] ToonvanStrijp commented on #11
@johannesschobel also I think loading it by domain and than by language should be the default for this library and the other loading maybe should be deprecated over time? (what do you think?)

[2019-07-05 16:07] johannesschobel commented on #11
Dear @ToonvanStrijp ,
currently i didn't had the time to take a look at your code - so i am not familiar with it.. But i guess, i can do it.. But i need some time - maybe i can implement it next week.. i will keep you updated..

I think, the default "in the long run" should become the "language > domain" (my proposal) as it is more intuitive.. nearly all other frameworks (be it typescript / javasc

[2019-07-05 16:09] ToonvanStrijp commented on #11
@johannesschobel

Yeah I was thinking about that too, I almost have it implemented ;) So don't worry I'll do it, and then this will roll out to V2.2.3 and after that we move on to V3.0.0 where I'll deprecate the "old" approach.

[2019-07-05 16:32] johannesschobel commented on #11
hahaha, ok - you're awesome! nice..
i may have some additional ideas how to improve this package - are you interested?

[2019-07-05 16:33] ToonvanStrijp commented on #11
@johannesschobel yeah sure! If you wan't you can create a issue for each idea?

[2019-07-05 16:36] johannesschobel commented on #11
i will think about additional features and post them here as dedicated issues ;) yeah! have a nice weekend

[2019-07-05 16:37] ToonvanStrijp commented on #11
@johannesschobel sure no problem! Thanks for making this a better module!

[2019-07-05 17:11] ToonvanStrijp commented on #11
This functionally is implemented in V2.2.3

Don't forget to provide the right `loadingType` in the module options:

[code]

[2019-07-05 17:11] #11 closed

[2019-07-05 18:25] johannesschobel opened #12 "[Feature] Missing Translations"
Dear @ToonvanStrijp ,

here is another feature request for discussion.
I think, it would be good to have some kind of "document missing translations" feature. Consider, the following example. i have an application that is already provided in EN, but now i want to add a second language DE. However, in the process of translating everything, new labels for EN gets added.

Of course, these new labels

[2019-07-05 22:18] ToonvanStrijp commented on #12
@johannesschobel that's indeed a good feature for making the maintenance easier. I think it would be best to make a cli for this instead of adding this code to the library itself.

And I also have a couple of questions:

- what if a translation gets added to an other language (not the fallBack/default one)

[2019-07-06 12:42] johannesschobel commented on #12
A CLI command would also be fine for me.. This would, in turn, ensure, that you have the possibility to check for all missing translations during "development time".. nice idea..

i would always check from the "fallback / default" language and see, if labels are missing in other languages..

[2019-07-08 15:31] johannesschobel opened #16 "[Feature] Load labels by prefix"
Dear @ToonvanStrijp ,

i think it would be a good idea to "prefix" all labels from one particular file. For example, all labels in the `mail.json` file should be prefixed with `mail`.

Consider, the following example: Your `en\mail.json` file may look like this:
[code]

then the key for accessing this label should be prefixed with the name of the file (`mail`). Currently you need to access it with

[2019-07-08 16:02] johannesschobel opened #18 "[Discuss] Change Signature of `translate` method"
Hey @ToonvanStrijp ,

i would like to raise the question, if we should change the signature of the `translate(locale: string, label: string)` method.. Currently, this signature implies, that you **must** set a locale to translate it to.. However, if we change the signature to
[code]
we could make the second (`locale`) param optional and default to the `fallbackLocale`..

What do you think?

[2019-07-08 16:13] johannesschobel opened #19 "[Feature] Resolve Language of User"
Dear @ToonvanStrijp ,

i think it would be good if we could resolve the language of the current user (i.e., the client that is interacting with the API).
However, there may be some different approaches in "telling" the API, how the client would like to communicate:
1) Request Headers: There is an offical `accept-language` http header that may be used. However, the client / api may use custom heade

[2019-07-08 16:32] ToonvanStrijp commented on #16
Yeah I was thinking about this before. But this would remove the possibility to overwrite global translations.

Now you can place a json file in the root of your `i18n` directory. And this will add the translations globally (to every language).

And this would also introduce a breaking change. Or we need to pass this as an option.

But I don't really see the benefits of prefixing yet. If you have

[2019-07-08 16:41] ToonvanStrijp commented on #18
a strong suggestion, but the way you're proposing this change you make it sound like the `fallbackLocale` acts like a default options. But the property is meant to act as a fallback option. So that's why the locale is required for now.

And this would create a breaking change.

[2019-07-08 16:48] ToonvanStrijp commented on #19
Hi @johannesschobel,

Good feature and it would be awesome indeed to offer this kind of feature.

In my own projects I'm using this library https://www.npmjs.com/package/fastify-language-parser

But I think it would be better to support this within this library.

Any idea in how to save the current set language on the request context so we can deal with concurrent changes? (I think nestjs offers a

[2019-07-08 16:57] ToonvanStrijp commented on #19
Ow and ofcourse #18 should be implemented when moving to this middlware cause then you can call the translation without language. And then when the locale is specified it overwrites the locale set by the middleware?

[2019-07-08 17:02] johannesschobel commented on #18
I am aware that most likely all of my suggestions are breaking changes, haha..
How about this:
1) we add a new `defaultLanguage`: that is the language that shall be loaded, if no specific language is passed. This will be required.
2) we still keep the `fallbackLanguage` with the same meaning as now. However, we make it optional. If no fallback language is passed, we will use the `defaultLanguage`

[2019-07-08 17:03] johannesschobel commented on #16
are translations overwritten, if you have the same key in multiple files? E.g., my translation files are structured the same way (i.e., they have mostly the same keys). This way, my labels would be overwritten?
That is the current behaviour, right?

[2019-07-08 17:09] johannesschobel commented on #19
i would suggest to use "default" functionality and not use a 3rd party package.. Actually, you can simply get the request headers / query params directly from `express.Request`..

How about some configuration (for initializing the Module) like this:
[code]

[2019-07-08 17:10] johannesschobel commented on #19
Yeah, nest now offers a `Request` context for the injectable services. So you can easily inject the current request (where a new `locale` field is added by the middleware)

[2019-07-08 17:11] johannesschobel commented on #19
#18 is a requirement for this feature, i think.. because then you could get the `request.requestedLocale` and use this - if none is set, use the `defaultLanguage` and you are good to go!

[2019-07-08 17:25] ToonvanStrijp commented on #16
Jup currently yes, if you apply the same key the last one that is parsed
counts. So they are overwritten. Of course in your case prefixing would
solve this.

You can apply each key for each language once! Otherwise it's overwritten

On Mon, Jul 8, 2019, 19:03 Johannes Schobel <notifications@github.com>
wrote:

[2019-07-08 17:38] ToonvanStrijp commented on #19
I would suggest this kind of configuration https://www.npmjs.com/package/fastify-language-parser

Cause there you can define in what order/priority the language needs to be parsed.

[2019-07-09 06:26] johannesschobel commented on #19
Yeah, i suggested something similar in my comment above. Thereby, first the header middleware is used, then the query param middleware. Respective params in those middlewares are the fields to be searched for (either header or query param fields)..

[2019-07-09 06:27] johannesschobel commented on #16
yeah, and that is why i would like to introduce those "prefixes" for the translations ;)

[2019-07-10 06:24] johannesschobel commented on #19
Dear @ToonvanStrijp ,
regarding the "let the developer decide in which order he would like to resolve the requested language"-issue.
I would suggest the following approach:

Lets define some resolver (e.g., a `HeaderLanguageResolver`, a `QueryParamLanguageResolver`, a `WhateverLanguageResolver`) that all follow one common interface.

Then we define a new `LanguageResolverMiddleware` that gets a pa

[2019-07-10 07:51] ToonvanStrijp commented on #19
@johannesschobel I completely agree! Sounds like an awesome and solid idea! If you want I can do some work on this as well. And we can also put #16 and #18 in this pull request.

[2019-07-10 15:59] johannesschobel commented on #19
maybe i have some time tomorrow to work on this as a proof-of-concept.. I will give feedback ASAP.. unfortunately i was quite busy with meetings today..

[2019-07-10 19:32] ToonvanStrijp commented on #19
@johannesschobel sure no problem man, take your time! I had also a busy day. Hopefully I can do some work on this tomorrow :)

[2019-07-14 16:49] Avejack commented on #10
Sorry but I have to use this issue again:

You changed the typing but as far as I can see you didn't change the behavior?
It still only work when you pass an array. Typescript doesn't complain but the placeholders don't get set when you just pass an object instead of an array.

[2019-07-14 16:58] ToonvanStrijp commented on #10
@Avejack no sorry needed! Can you send me the code you're running?

Cause I don't have this issue.

[2019-07-14 17:05] Avejack commented on #10
Sure!

I have this translation json for example:

[code]

then I simply call:

[code]

[2019-07-14 17:10] ToonvanStrijp commented on #10
The `{ name }` and `{ link }` should be without spaces `{name}` and `{link}`. Please let me know if it works ;)

[2019-07-14 17:21] Avejack commented on #10
Yeah, I already thought about that and tried it. It still did not work.

But I am very happy that this is no limitation since it works both with and without the spaces when inputting an array instead of an object!

[2019-07-14 17:23] Avejack commented on #10
I take it back... Maybe i tested it the wrong way :D It works without the spaces. Not a big deal but can you implement to support spaces inside the brackets?

[2019-07-14 17:31] ToonvanStrijp commented on #10
@Avejack we could but right now I'm using [string-format](https://github.com/davidchambers/string-format) library for formatting the string and this library seems to be working great, there is already an open issue for this but it seems that the development isn't that active anymore...

[2019-07-14 17:31] #10 closed

[2019-07-19 09:34] sergey-telpuk commented on #19
@johannesschobel @ToonvanStrijp
Hello guys, I prepared  [prototype](https://github.com/sergey-telpuk/i18n-nestjs) how it could be done in an easy way. If you haven't done a solution yet  I would make a pull request for that one.

[2019-07-19 09:38] ToonvanStrijp commented on #19
@sergey-telpuk I haven't worked on a solution yet, I'm on a 3 week trip to Japan :) so sorry for the inconvenience. If you will make a pull request that would be appreciated! :)

[2019-07-19 09:40] sergey-telpuk commented on #19
Agreed,

[2019-07-19 10:26] johannesschobel commented on #19
Dear @sergey-telpuk ,
thanks for the suggestion. Unfortunately i didn't had time to implement it myself.
However, i would like to make the suggestion, to **not** rely on the fastify-package; because the main "platform" of nest is `express` and not `fastify` ;)

i think it would be best to implement it without any other dependencies to other packages. Furthermore, the logic to parse specific fields

[2019-07-19 10:40] sergey-telpuk commented on #19
@johannesschobel
I absolutely agree with you, I wrote only for my needs:) and adopted it to fastify, but the `resolver.service` doesn't depend on an exact implementation, it depends on interface. It gives us to implement different resolvers.
I saw your suggestion. It's great for implementing. if you have any branch for it. I would join you with great pleasure.

[2019-08-15 15:59] ToonvanStrijp commented on #19
@sergey-telpuk I'm back! I've created the v4 branch for this feature and (#16, #18) because those will introduce a breaking change. Feel free to make a pull request to the v4 branch!

[2019-08-16 11:18] sergey-telpuk commented on #18
@johannesschobel @ToonvanStrijp Hello guys, I also wanna put forward one improvement, if `KEY` wasn't found It would better return KEY   like bellow:
[code]

[2019-08-16 14:03] ToonvanStrijp commented on #18
@sergey-telpuk totally agree! I'm already working in this feature and will update the v4 branch soon, I'll include this improvement as well!

Thanks for your input ;)

[2019-08-18 20:50] ToonvanStrijp commented on #19
@johannesschobel  @sergey-telpuk  alright I've implemented this feature, and also #16 and #18. Could you guys take a look at it and tell me your thoughts?

[2019-08-19 08:14] johannesschobel commented on #19
Dear @ToonvanStrijp,
I am currently on vacation, will try it next week :) all the best and thank you so much for your effort, Johannes

[2019-08-19 08:33] ToonvanStrijp commented on #19
@johannesschobel no problem man, I want this module to rock! Enjoy your vacation. If you're back I think the docs are updated as well.

[2019-08-19 14:45] sergey-telpuk commented on #19
@ToonvanStrijp Hello, I tried it out and discovered some issues about tests, `request(appFastify.getHttpServer())` - it doesn't work because of there is need to be async, I corrected it and I'm planning to add docker environment for running it locally and some test for fastify.

[2019-08-19 16:21] ToonvanStrijp commented on #19
@sergey-telpuk But I'm not using fastify in my project for doing tests? Can you explain me what exactly is wrong about the current setup?

[2019-08-19 17:16] sergey-telpuk commented on #19
@ToonvanStrijp Please, look at [the pull request](https://github.com/ToonvanStrijp/nestjs-i18n/pull/33)

[2019-08-24 23:57] ToonvanStrijp commented on #16
Implemented this and is released in V4! :D

[2019-08-24 23:57] #16 closed

[2019-08-24 23:57] ToonvanStrijp commented on #18
Implemented this and is released in V4! :D

[2019-08-24 23:57] #18 closed

[2019-08-24 23:57] ToonvanStrijp commented on #19
Implemented this and is released in V4! :D

[2019-08-24 23:57] #19 closed

[2019-08-26 10:13] johannesschobel commented on #12
this would be covered with #39

[2019-08-27 14:01] johannesschobel commented on #12
i think, we can close this, right?

[2019-08-27 14:16] ToonvanStrijp commented on #12
Yes! :) @johannesschobel thanks for all your work!

[2019-08-27 14:16] #12 closed

[2019-08-28 07:41] greenkeeper[bot] opened #45 "An in-range update of @nestjs/common is breaking the build 🚨"
## The devDependency [@nestjs/common](https://github.com/nestjs/nest) was updated from `6.5.3` to `6.6.0`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master...ToonvanStrijp:greenkeeper%2F%40nestjs%2Fcommon-6.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@nestjs/common is a devDepe

[2019-08-28 07:43] greenkeeper[bot] opened #46 "An in-range update of @nestjs/testing is breaking the build 🚨"
## The devDependency [@nestjs/testing](https://github.com/nestjs/nest) was updated from `6.5.3` to `6.6.0`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master...ToonvanStrijp:greenkeeper%2F%40nestjs%2Ftesting-6.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@nestjs/testing is a devD

[2019-08-28 13:44] greenkeeper[bot] opened #47 "An in-range update of @nestjs/platform-express is breaking the build 🚨"
## The devDependency [@nestjs/platform-express](https://github.com/nestjs/nest) was updated from `6.6.1` to `6.6.2`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master...ToonvanStrijp:greenkeeper%2F%40nestjs%2Fplatform-express-6.6.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@nestjs

[2019-08-28 13:52] greenkeeper[bot] opened #48 "An in-range update of @nestjs/platform-fastify is breaking the build 🚨"
## The devDependency [@nestjs/platform-fastify](https://github.com/nestjs/nest) was updated from `6.6.1` to `6.6.2`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master...ToonvanStrijp:greenkeeper%2F%40nestjs%2Fplatform-fastify-6.6.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@nestjs

[2019-08-28 16:33] #45 closed

[2019-08-28 16:33] #46 closed

[2019-08-28 16:33] #47 closed

[2019-08-28 16:33] #48 closed

[2019-08-29 13:09] greenkeeper[bot] opened #49 "An in-range update of graphql is breaking the build 🚨"
## The devDependency [graphql](https://github.com/graphql/graphql-js) was updated from `14.5.3` to `14.5.4`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master...ToonvanStrijp:greenkeeper%2Fgraphql-14.5.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

graphql is a devDependency of this

[2019-08-30 13:36] #49 closed

[2019-09-06 04:02] wm20111003 opened #51 "How to set fallbackLanguage?"
If you change the global language in the service

[2019-09-06 06:01] ToonvanStrijp commented on #51
The fallbackLanguage is set as followed:

[code]

But I think you're asking for a feature to dynamically change the fallbackLanguage?

For example `i18nService.setFallbackLanguage("en")`?

[2019-09-06 06:19] wm20111003 commented on #51
Yes, I want this！Can it be like this?

[2019-09-06 06:27] ToonvanStrijp commented on #51
@wm20111003 can you tell me why you need this? (It's not a problem to implement this feature), but I'm curious why you would need such feature?

[2019-09-06 06:27] wm20111003 commented on #51
Every time you pass in lang, it is bound to be more troublesome. It is better to change the fallback globally, and then change it when you need to change lang.

[2019-09-06 06:30] ToonvanStrijp commented on #51
But what happens then if you for example have those languages:
`nl and en`

The `nl` has a value for the key `WELCOME`.
The `en` has NOT a value for the key `WELCOME`.

Then you change the fallback to `en` and it won't be able to give you any message, since it is already using the fallbackLanguage?

[2019-09-06 06:33] wm20111003 commented on #51
So I will maintain the uniformity of the language pack files.

[2019-09-06 06:35] wm20111003 commented on #51
![image](https://user-images.githubusercontent.com/10558850/64406060-6db7db80-d0b3-11e9-9ee1-62aa63a6f878.png)
![image](https://user-images.githubusercontent.com/10558850/64406083-7a3c3400-d0b3-11e9-943c-292ee615a7e3.png)
![image](https://user-images.githubusercontent.com/10558850/64406098-87592300-d0b3-11e9-9109-3c9cf769f45b.png)
![image](https://user-images.githubusercontent.com/10558850/6440611

[2019-09-06 06:39] ToonvanStrijp commented on #51
Alright, I don't really agree with the usage of this because I'm sure it'll work in the beginning. But for example.

You have a 1000 users actively using your api/website. They all do a request on the same time, or around the same time. Some requests have some async work in between.

So what will happen:

User A: Sets the default lang to NL. (your api will process the request but it's need to load

[2019-09-06 06:41] wm20111003 commented on #51
Oh, I understand, thank you very much for helping me.

[2019-09-06 06:41] #51 closed

[2019-09-16 11:23] greenkeeper[bot] opened #52 "An in-range update of @nestjs/common is breaking the build 🚨"
## The devDependency [@nestjs/common](https://github.com/nestjs/nest) was updated from `6.7.0` to `6.7.1`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master...ToonvanStrijp:greenkeeper%2F%40nestjs%2Fcommon-6.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@nestjs/common is a devDepe

[2019-09-24 20:14] jorgecoca opened #54 "Why I18nResolver#resolve returns a string?"
First of all, really good job on the v4! I like the new features a lot!

I was wondering why the `resolve` method has to return `string | void`. Would it be possible to return any object? Or specified by generics?

My use case would be that in the `accept-language` some customers will actually pass a Locale object, like `en_US`, so I would expect a resolver to take that as an input, and I could mo

[2019-09-24 20:27] ToonvanStrijp commented on #54
@jorgecoca I'm in the car right now but I'll write my opinion on this tonight or tomorrow ;)

I've thought about this and I think there are multiple ways to solve this problem and we need to discuss what solution is the best  fit.

[2019-09-25 07:11] ToonvanStrijp commented on #54
@jorgecoca

I've looked into the reason why the `resolve` method has to return `string | void` and there is no reason why it should be like that :p.

So what we can do:

- let the user define what the the resolve method should return by using generics

[2019-09-25 07:16] #52 closed

[2019-09-25 07:21] ToonvanStrijp commented on #54
@jorgecoca checkout the PR ;) let me know if this resolves your issue! :)

[2019-09-25 12:30] jorgecoca commented on #54
Changes look good! Thank you so much!

[2019-09-25 15:22] #54 closed

[2019-09-25 15:27] ToonvanStrijp commented on #54
@jorgecoca update V4.0.6 is out! ;)

[2019-10-12 11:28] flyhigh-hifi opened #60 "How to reexport the module"
For example I want to initialize it once and use it in other modules

[code]

How to get initialized I18nService in another modules with above settings?

[2019-10-27 02:45] ToonvanStrijp commented on #60
Can you add the `I18nService` to the exports array?

(I'll test it myself in a few days)

ps. sorry for my late reply @flyhigh-hifi

[2019-10-28 21:55] jorgecoca opened #63 "Filename should not be included in the translations dictionary"
In the `parse.ts` file, there's some prefix manipulation that takes the file name and prepends that to the dictionary of translations:

https://github.com/ToonvanStrijp/nestjs-i18n/blob/241ec1003726be39a4577b6c5a0d472b241536a7/src/lib/utils/parse.ts#L71

However, IMHO, this is far from ideal because:

* It is not well document in the README/docs (I just found out by debugging and checking the test

[2019-10-28 23:21] ToonvanStrijp commented on #63
- I agree that it could be better documented :)
- the prefix is used to save transactions in categories. (So in the design choice I made I tought  it would be a good idea to save the translation per domain and have a file for each domain of transactions)
- I don't get this one sorry, cause you can still access both translations by using the path right?

I'm open to any solutions to make this a bet

[2019-10-29 01:29] jorgecoca commented on #63
Once I posted the message, I understood that adding the prefix in there was to allow us to have "feature/domain" translations, but the fact that it is hidden in the "string ID" that you want to provide, and not by an API, seems weird to me.

Maybe as part of the `options` object in the `translate` method? e.g. (see `featurePrefix`)

[code]

PS. Regarding your third bullet point, how would you acce

[2019-10-31 09:00] ToonvanStrijp commented on #63
@jorgecoca the options `featurePrefix` wouldn't work cause than you get duplicate paths.

[code]
To access the translations you just use:
`this.i18n.translate(intl_en_US.KEY, {lang: 'en_US'})` and
`this.i18n.translate(intl_es_ES.KEY, {lang: 'es_ES'})`

[2019-10-31 14:49] razorness opened #64 "HeaderResolver makes no sense for a website"
If we talk about the given header `accept-language`, it makes no sense to return the whole string.

Take a look in your browser request and it will look similar to this:
`de-DE,de;q=0.9,en-US;q=0.8,en;q=0.7,und;q=0.6`

The package needs to make a decision based on this string.

[2019-10-31 15:04] razorness opened #65 "Why you have to set lang manually?"
Take a look at the example, where you manually have to pipe the detected language to the translation method:

[code]

While this falls back to `fallbackLanguage`:
[code]

As a user, I dont wan't to pipe anything through my actions which I don't use. This results just in boilerplate code every time I translate anything.

[2019-10-31 15:05] ToonvanStrijp commented on #64
@razorness totally agree! That's why I made this extendable so you can create your own resolver for that?

If you would like this library to do it for you by default we could arrange that.

Let me know what you think is the best choice here.

[2019-10-31 15:08] ToonvanStrijp commented on #65
I already discussed this in #51. Please let me know if you think there is a better solution for this.

[2019-10-31 15:21] razorness commented on #65
In think, the decisions could be like this:

1. Is `lang` given -> use it
2. Did we detect `lang` by resolver? -> use it
3. No translation available? -> fall back to `fallbackLanguage`

What about this?

[code]

[2019-10-31 15:30] ToonvanStrijp commented on #65
Alright true but how do we get the `detectedLanguage` in there? The only way this can happen if we move the service translation logic to the request itself and make it someting like:

`req.translate(KEY, options)` this way we can access `this.detectedLangaguge` which has been saved in the request object.

[2019-10-31 15:59] razorness commented on #65
What about this approach?

[code]

[2019-10-31 21:48] razorness commented on #65
Okay, the downside: this service and its consumer will inherit the scope and won't be singleton anymore.

https://docs.nestjs.com/fundamentals/injection-scopes

I thought about two goals:

1. `translate` knows about detected language
2. use `translate` in other services like sending emails without the need of pipe `lang` the whole chain

[2019-11-01 00:58] ToonvanStrijp commented on #65
@razorness I completely agree with the goals, but I want the service to be a singleton and if we lose it by adding the `@Injectable({ scope: Scope.REQUEST })` we should look for an other solution.

Could you clarify?

[2019-11-01 16:07] #63 closed

[2019-11-01 19:37] razorness commented on #65
I guess this can be closed. Thank you very much for merging! :-)

[2019-11-01 19:44] ToonvanStrijp commented on #65
@razorness closing this V4.1.0 is out! thanks for you awesome work on this!

[2019-11-01 19:44] #65 closed

[2019-11-01 19:46] ToonvanStrijp commented on #64
@razorness any ideas on this?

I think the best would be to have the library checked strictly, when it comes to resolving the language. So whenever a resolver doesn't provide a language that isn't know/supported we move to the next resolver till we hit a correct language, or the default one.

[2019-11-01 20:21] razorness commented on #64
That's the case, isn't it?

I see two options:
- Resolver can return `string | string[]` where sorting defines priority if array is returned
- Resolver knows about the language pool

First options sounds better to me, because resolver can still be stupid and you have better options to extend the module later. What you think?

Then in my case it should return something like:

[code]
Transforming un

[2019-11-01 20:53] ToonvanStrijp commented on #64
@razorness yeah that sounds like a good idea! Cause if we make it so that the resolver returns `string | string[]` we don't have breaking changes.

Then we can use the [jayco/accept-language-negotiator](https://github.com/jayco/accept-language-negotiator) for making the decision what language to use?

[2019-11-13 19:05] amrelshinawy1 opened #72 "this.i18n.translate translate is undefiend"
TypeError: Cannot read property 'test.HELLO' of undefined
    at I18nService.translate (E:\elephant-tech\projects\theelephanttech-backend-boilerplate\node_modules\nestjs-i18n\dist\services\i18n.service.js:48:49)

and when theapplication start
i got this
[Nest] 14632   - 11/13/2019, 9:00:12 PM   [I18nService] Object:
{}

[2019-11-13 20:19] ToonvanStrijp commented on #72
Can you show me your project setup and structure?

[2019-11-13 20:19] ToonvanStrijp commented on #60
@flyhigh-hifi Is my help still needed?

[2019-11-14 03:19] amrelshinawy1 commented on #72
src -
      i18n-
             en-
                  test.json
     modules-
                  demo-
                          demo.controller.ts

[2019-11-14 08:20] ToonvanStrijp commented on #72
can you also show me your app.module.ts?

[2019-11-14 09:25] amrelshinawy1 commented on #72
here is the app.module.ts
import { Module } from "@nestjs/common";
import { CoreModule } from "./core";
import { DemoModule } from "./modules/demo/demo.module";
import { I18nModule, QueryResolver, HeaderResolver } from "nestjs-i18n";
import { join } from "path";

@Module({
    imports: [
        CoreModule,
        DemoModule,
        I18nModule.forRoot({
            path: join(__dirname, "./i18n/

[2019-11-14 10:37] ToonvanStrijp commented on #72
@amrelshinawy1 can you do a `console.log(join(__dirname, "./i18n/"))` before the `@Module` and send me the output?

[2019-11-14 10:37] ToonvanStrijp commented on #72
@amrelshinawy1 also send me the contents of `test.json`

[2019-11-14 11:00] amrelshinawy1 commented on #72
[code]

[2019-11-14 11:08] ToonvanStrijp commented on #72
@amrelshinawy1 did you copy you `i18n` folder to you `dist` folder?

Try this path in development:

`path: join(__dirname, "../src/i18n/")`

[2019-11-14 11:11] amrelshinawy1 commented on #72
yes i added i18n folder to the dist

also this
path: join(__dirname, "../src/i18n/")
didnt work

[2019-11-14 12:14] ToonvanStrijp commented on #72
@amrelshinawy1  can you zip your project or send me the repo so I can test it myself? It's kind hard to debug this way :p

[2019-11-14 15:09] amrelshinawy1 commented on #72
[backend.zip](https://github.com/ToonvanStrijp/nestjs-i18n/files/3847124/backend.zip)

[2019-11-14 20:57] ToonvanStrijp commented on #72
@amrelshinawy1 I downloaded your zip and started the server.

I went to `http://localhost:7000/api/demo/` and it shows me `Hello` as it should! So I can reproduce this error. If you can give me exact instructions how to reproduce this issue I can help you.

I'm going to close this for now.

[2019-11-15 02:15] amrelshinawy1 commented on #72
yes it worked also with me
maybe after i  removed nodemodules
thank you

[2019-11-15 08:33] flyhigh-hifi commented on #60
Hi! Yes, i couldn't get that functionality and initializing it everywhere.

[2019-11-15 10:35] ToonvanStrijp commented on #60
@flyhigh-hifi can you show me your project structure?

[2019-11-26 15:44] ratio91 opened #76 "this.i18nOptions.resolvers is not iterable"
I receive a runtime error `this.i18nOptions.resolvers is not iterable`.

[code]

I used **forRootAsync**() to import into app.module.
The structure of json files is like in the descriptions.
My options look like this:

[code]

What could be the issue here?

[2019-11-26 16:46] ToonvanStrijp commented on #76
@ratio91 could you send me thr project containing the error as a zip. Then I'll take a look at it for you :)

[2019-11-30 09:31] loxy commented on #72
We had the same problem. Turned out that the promise in `parse.ts` was rejected due to:
https://github.com/ToonvanStrijp/nestjs-i18n/blob/241ec1003726be39a4577b6c5a0d472b241536a7/src/lib/utils/parse.ts#L17
`isFile` seems to be undefined in Node 8. And we are still using Node 8 in production. But its time to switch I think. Nevertheless but you should wrap a `try catch` around some Node file handli

[2019-11-30 09:58] ToonvanStrijp commented on #72
@loxy feel free to create a pull request! If you can make it backwards compatible with Node 8 would be great! (I can configure travis to test node 8 as well).

[2019-11-30 10:35] ToonvanStrijp commented on #72
@loxy I'm working on a fix right now so you don't need to create a pull request ;)

[2019-11-30 10:36] loxy commented on #72
Ok, nice!

[2019-11-30 11:43] ToonvanStrijp commented on #72
@loxy fixed and released in V4.1.3! :tada:

[2019-11-30 11:43] #72 closed

[2019-12-02 09:55] greenkeeper[bot] opened #78 "An in-range update of nestjs is breaking the build 🚨"
## There have been updates to the *nestjs* monorepo:

 + - The `devDependency` [@nestjs/common](https://github.com/nestjs/nest) was updated from `6.10.4` to `6.10.5`.
- The `devDependency` [@nestjs/core](https://github.com/nestjs/nest) was updated from `6.10.4` to `6.10.5`.
- The `devDependency` [@nestjs/platform-express](https://github.com/nestjs/nest) was updated from `6.10.4` to `6.10.5`.

🚨 [V

[2019-12-09 13:26] greenkeeper[bot] opened #79 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.14` to `12.12.15`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master...ToonvanStrijp:greenkeeper%2F%40types%2Fnode-12.12.15).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@typ

[2019-12-17 09:32] mowies opened #81 "Support for XLIFF formatted translation files"
I have an Angular/Nest.JS monorepo setup (using [Nx](https://nx.dev)) in my project and have XLIFF translation files in the frontend.
Adding translation files in the backend that have a different format does not seem like a good solution to me. And with a monorepo setup the translation files of frontend and backend could even be merged together into one file per locale.

**My proposition:** add su

[2019-12-17 10:34] ToonvanStrijp commented on #76
closing this for now... please feel free to reopen or provide more information so we can solve this issue.

[2019-12-17 10:34] #76 closed

[2019-12-17 10:34] ToonvanStrijp commented on #60
closing this for now

[2019-12-17 10:34] #60 closed

[2019-12-18 07:36] ToonvanStrijp commented on #81
@mowies I'm not very familiar with XLIFF translations but I don't think it would be too much work to integrate this as well. We can make the parser part of the module, an give the user the possibility what parser to use? (That way we also make it possible to integrate other formats).

Do you have time to work on this or should I do it?

[2019-12-18 08:59] mowies commented on #81
So my idea for the solution would be the following:
- See if there is a nice package for the XLIFF parsing and maybe also for parsing code and extracting translation keys and then putting them into a file. Similar to the functionality of this package right now but triggered through a CLI command
- If there is no good dependency that can be used, I guess there is no way around writing a new parser

[2019-12-18 11:28] mowies commented on #81
I found 2 packages that could be useful for our purpose here:
- https://www.npmjs.com/package/xliff-parser
- https://www.npmjs.com/package/xliff

[2019-12-27 14:23] greenkeeper[bot] opened #84 "An in-range update of apollo-server is breaking the build 🚨"
## There have been updates to the *apollo-server* monorepo:

 + - The `devDependency` [apollo-server-express](https://www.npmjs.com/package/apollo-server-express) was updated from `2.9.14` to `2.9.15`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master...ToonvanStrijp:greenkeeper%2Fmonorepo.apollo-server-20191227124710).

This version is **covered** by your **curr

[2019-12-29 09:33] #78 closed

[2019-12-29 09:33] #79 closed

[2019-12-29 09:33] #84 closed

[2020-01-04 12:40] BaggersIO commented on #64
I just ran into the same problem :) I think https://github.com/jayco/accept-language-negotiator would be a good lib to resolve the language from the user agent 👍

[2020-01-04 19:41] ToonvanStrijp commented on #64
@BaggersIO  @razorness what about I create a additional Resolver called `AcceptLanguageResolver` that makes use of the [https://github.com/jayco/accept-language-negotiator](https://github.com/jayco/accept-language-negotiator) package?

[2020-01-07 02:02] ToonvanStrijp commented on #64
@BaggersIO @razorness I've rewritten a bit of the library this way we're way more flexible with the resolvers. Can you guys take a look at:  [feature/provide_resolvers#language-resolvers](https://github.com/ToonvanStrijp/nestjs-i18n/tree/feature/provide_resolvers#language-resolvers) and give me feedback if this would properly suit your cases.

@razorness I didn't implement the `string[]` yet for t

[2020-02-06 13:04] greenkeeper[bot] opened #91 "An in-range update of apollo-server is breaking the build 🚨"
## There have been updates to the *apollo-server* monorepo:

 + - The `devDependency` [apollo-server-express](https://www.npmjs.com/package/apollo-server-express) was updated from `2.9.16` to `2.10.0`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master...ToonvanStrijp:greenkeeper%2Fmonorepo.apollo-server-20200206124828).

This version is **covered** by your **curr

[2020-02-06 13:17] greenkeeper[bot] opened #92 "An in-range update of apollo-server is breaking the build 🚨"
## There have been updates to the *apollo-server* monorepo:

 + - The `devDependency` [apollo-server-express](https://www.npmjs.com/package/apollo-server-express) was updated from `2.9.16` to `2.10.0`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master...ToonvanStrijp:greenkeeper%2Fmonorepo.apollo-server-20200206124830).

This version is **covered** by your **curr

[2020-02-07 09:29] mowies commented on #81
Hi again!
Unfortunately I don't really have time to do this myself...

[2020-02-07 10:14] ToonvanStrijp commented on #81
Heey @mowies I think I'll make some time to take another look at this. Since the library already evolved quite well it shouldn't be to hard to implement this format.

[2020-02-07 10:19] mowies commented on #81
Awesome, thank you!

[2020-02-08 00:45] uncledent opened #93 "Import for tests"
Hello and thank you for the lib, it works great. I have a question. How do I import it in the shared test module, so that tests are not failing because of the missing dependencies? Could you please give an example? Thank you in advance!

[2020-02-08 00:59] uncledent commented on #93
Sorry, this was straightforward, just need some sleep probably :)

[code]

[2020-02-08 00:59] #93 closed

[2020-02-08 08:39] ToonvanStrijp commented on #93
@uncledent no problemo! Thanks for posting the answer yourself ;) go get some sleep now. Goodnight!

[2020-02-08 11:11] #91 closed

[2020-02-08 11:11] #92 closed

[2020-02-08 11:38] ToonvanStrijp commented on #81
@mowies I'm researching xliff now but I don't think it very suitable for backend architecture. If I look at the sample of angular, the xliff library first scans and builds a xliff file based on the components etc you have. To do this in nodejs is quite hard since we can't analyse where the user is using our translation library.

If you could explain me how you would see this working in this librar

[2020-02-25 13:30] volbrene opened #95 "I18nRequestScopeService in exception filter"
Hello, is it possible to use the I18nRequestScopeService in a exception filter?

I will get undefined if i use di to add this. Any ideas?

- volbrene

[2020-02-25 13:41] ToonvanStrijp commented on #95
I'm not sure if this is possible. All exception filters are global in NestJS. That's the reason you cannot use the `I18nRequestScopeService` inside the exception filter. If you could register an exception with a scope this would be possible, but this isn't possible yet.

[2020-02-25 13:41] #95 closed

[2020-02-25 15:08] volbrene opened #96 "Does not copy the i18n folder to the dist"
Hello again,
the i18n folder is not moved into the dist folder. Is there any idea why this is the case? My path is src/i18n. Am I missing any extra configurations that are not documented?

When I run "npm run start:dev" the following error occurs:

[code]

- volbrene

[2020-02-25 16:57] ToonvanStrijp commented on #96
@volbrene of you have a default project (created by the nestjs cli tool) it won't copy those files for you. So you should do this yourself.

I'll add a guide to the readme file how to do this later this week :) (it's not that hard)

[2020-02-25 16:57] ToonvanStrijp commented on #96
@volbrene of you have a default project (created by the nestjs cli tool) it won't copy those files for you. So you should do this yourself.

I'll add a guide to the readme file how to do this later this week :) (it's not that hard)

[2020-02-25 17:13] volbrene commented on #96
Thank you very much :)

[2020-02-27 17:00] sanjitbauli opened #97 "add support for DTO validation message"

[2020-02-27 17:51] ToonvanStrijp commented on #97
@sanjitbauli can you please explain in detail what you mean by DTO validation message?

[2020-02-27 18:04] ToonvanStrijp commented on #96
@volbrene If you created your project with the `@nestjs/cli` you have this file `nest-cli.json` in the root.

To enable nest to copy the i18n folder you need to have something like this:
**`nest-cli.json`**
[code]

[2020-02-27 19:15] volbrene commented on #96
Thank you :)

[2020-02-27 19:15] #96 closed

[2020-02-27 19:30] ToonvanStrijp commented on #81
Closing this for now, waiting for answer from @mowies

[2020-02-27 19:30] #81 closed

[2020-02-29 07:47] aegyed-91 commented on #97
something like this I guess: https://github.com/typestack/class-validator/issues/169#issuecomment-571481577

[2020-03-03 09:24] ToonvanStrijp commented on #64
closing this issue, @Neo-Zhixing implemented a AcceptLanguageResolver :tada:

[2020-03-03 09:24] #64 closed

[2020-03-12 03:44] DodoMonster opened #102 "How to get the real time content？"
I can't get the updated locale content in real time unless I restart the service

This is my code

[code]

[2020-03-12 05:40] ToonvanStrijp commented on #102
@DodoMonster this is correct, we ready your tankstations files when you're service starts. So we'll need to implement some kind of refresh or file watcher to update automatically.

[2020-03-12 06:02] DodoMonster commented on #102
ok thank u~

[2020-03-12 07:13] ToonvanStrijp commented on #102
@DodoMonster currently working on an update that would make the parser abstract. That way we don't necessarily need to work with json. Also implementing the refresh/realtime functionality ;)

[2020-03-14 16:38] sanjitbauli commented on #97
I want to serve translated error messages.
Is it possible to access i18n translate method inside DTO where i am using class-validator for validations
or maybe inside the custom ValidationPipe where from i can translate the outgoing error messages.

[2020-03-14 18:08] ToonvanStrijp commented on #97
I'm sure that there must be some why to accomplish this. But I don't know what would be the best way. I'll have to take a look into that later this week. Any suggestions are welcome!

[2020-03-16 08:59] ToonvanStrijp commented on #102
@DodoMonster V6.0.0 is out! I implemented this feature, please look at the `README.md`. There are some changes needed (not to complex). The `I18nJsonParser` supports a `watch` options this enabled live reloading of the translation files. You can also manually call `await i18nService.refresh()`.

[2020-03-16 08:59] #102 closed

[2020-03-16 10:47] alderas opened #110 "Please fix documentation"
I've worked as a professional software developer for 8+ years. This is the most useless package I've ever tried that is available at npm. I hope the Nest team replaces the developers of this package or do something about this complete incompetency . Documentation is outdated. It breaks with many versions of Nest including the latest. Every minor update breaks everything and require rewrite of all

[2020-03-16 11:07] ToonvanStrijp commented on #110
Hi @alderas let me first say that this package isn't made by the `nestjs` team. I feel your frustration and you're making it very clear that you are not satisfied with the current state of the package/documentation. But instead of expressing how much you hate this package I would rather have feedback in how to improve it.

I don't think this library made breaking changes within a minor update, onl

[2020-03-16 11:22] ToonvanStrijp commented on #110
@alderas a new release `v7.0.0` has been published, this includes support for the latest `nestjs` release. Also did I update the documentation to make it more clear what version of `nestjs-i18n` is compatible with `nestjs`. Please open separate issues for documentation changes you would like to see or other changes that would improve this package.

[2020-03-16 11:22] #110 closed

[2020-03-16 11:52] alderas opened #112 "Not able to start application after upgrading to Nest 7 and nestjs-i18n 7.0.0"
![Screenshot from 2020-03-16 12-55-55](https://user-images.githubusercontent.com/29692714/76756172-83eed480-6785-11ea-842d-20f09fa373c9.png)
![Screenshot from 2020-03-16 12-51-29](https://user-images.githubusercontent.com/29692714/76755966-1e024d00-6785-11ea-8dc9-2b90144cc12d.png)
error: Nest can't resolve dependencies of the I18nRequestScopeService (?, I18nService). Please make sure that the argu

[2020-03-16 12:12] alderas commented on #112
I tried with  Nest 7.0.0. Same result in production mode.
package.json
`{
  "name": "ne-auth-ms",
  "version": "0.8.1",
  "description": "Authentication microservice REST API",
  "license": "MIT",
  "scripts": {
    "build": "tsc -p tsconfig.build.json",
    "start": "ts-node src/main",
    "dev": "cross-env NODE_ENV=development npm run nodemon",
    "nodemon": "nodemon -e ts -w \"./src\" -x \"npm

[2020-03-16 12:18] ToonvanStrijp commented on #112
@alderas I'm trying to reproduce this error by creating an empty nestjs project en add the `nestjs-i18n` module. For me it's working just fine.

I'm using this project:
[i18n-test.zip](https://github.com/ToonvanStrijp/nestjs-i18n/files/4338093/i18n-test.zip)

Can you share the project containing the error, or explain me how to reproduce this error?

[2020-03-16 12:27] alderas commented on #112
Thanks a lot for the reply! I was able to start the application by initializing the project from scratch. Seems like there is a dependency to Nest 6 somewhere.

[2020-03-16 12:37] ToonvanStrijp commented on #112
@alderas glad I could help ;), if you have any suggestions to make this a better package please open an issue :)

[2020-03-16 12:37] #112 closed

[2020-03-17 18:09] canserkanuren opened #113 "How to copy i18n folder in dist folder ?"
Hello,
I started using your nestjs-i18n package, and it looks awesome.

Just one question : when I build my nestjs app, my i18n folder does not appear in my dist folder.

Do you have any clue ?
Thank you.

UPDATE : I found my error, but it would be nice to put it in the README.md because I was looking at this problem for like 2 hours...

Thank you.

[2020-03-17 22:11] ToonvanStrijp commented on #113
@canserkanuren [https://github.com/ToonvanStrijp/nestjs-i18n/issues/96#issuecomment-592097262](https://github.com/ToonvanStrijp/nestjs-i18n/issues/96#issuecomment-592097262). And yes you're right I'll update the readme and put it in there :)

[2020-03-17 22:16] ToonvanStrijp commented on #113
@canserkanuren added this to the docs: https://github.com/ToonvanStrijp/nestjs-i18n#nest-clijson-copy-i18n

[2020-03-17 22:16] #113 closed

[2020-03-18 09:55] JustDoItSascha commented on #110
@ToonvanStrijp Don't bother such impertinent feedback from people who don't know how much of hard work such a package is. Your package is absolutely useful and good, thank you very much!

[2020-03-18 12:35] ToonvanStrijp commented on #110
@JustDoItSascha thanks ;) appreciate your comment

[2020-03-18 15:30] VincentSurelle opened #114 "Usage with Bull"
Hi,

We have some APIs translated using this project and it works pretty well :)

But now, we want to translate Nest micro services that are using Bull to receive messages.

We looked at custom resolvers but it seems it's http request based. I can't figure out how to get Bull related messages.

Thanks :)

[2020-03-18 15:59] ToonvanStrijp commented on #114
Oh yeah wow that's a good one, we make use of the [nestjs middleware](https://docs.nestjs.com/middleware) this middleware only exposes the `request` and `response` so I'm not sure it'll work for a `micro service`. We could look into this together and get it to work with `micro services` as well. Can you send me a small repo with the setup so I cloud test around?

[2020-03-19 10:49] VincentSurelle commented on #114
Hi :)

Here you have a repo with everything : https://github.com/VincentSurelle/translate-repro

Just start the docker-compose it uses live-reload ;) It also include a redis for Bull

You have two routes :
* /hello/tcp/<your_name>
* /hello/bull/<your_name>

I'll take a look for the best approaches and tell you about in the end of the day

Let me know if you need anything else :)

P.S: For the dock

[2020-03-19 12:01] ToonvanStrijp commented on #114
@VincentSurelle thanks I'll take a look at it right away, and don't worry ;) I've linux! :D

[2020-03-19 12:08] ToonvanStrijp commented on #114
@VincentSurelle do you have discord or anything that we can talk on really quick? tostieboy#6165

[2020-03-20 08:07] VincentSurelle commented on #114
@ToonvanStrijp It looks like you can't accept friend request, here is my discord `Haswell#1361`

[2020-03-20 09:02] greenkeeper[bot] opened #115 "An in-range update of fastify is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [fastify](https://github.com/fastify/fastify) was updated from `2.12.1` to `2.13.0`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/master

[2020-03-21 21:57] greenkeeper[bot] opened #117 "An in-range update of nestjs is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## There have been updates to the *nestjs* monorepo:

 + - The `devDependency` [@nestjs/common](https://github.com/nestjs/nest) was updated from `7.0.3` to `7.0.4`.
- The `devDependency` [@n

[2020-03-21 21:59] greenkeeper[bot] opened #118 "An in-range update of @nestjs/platform-fastify is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@nestjs/platform-fastify](https://github.com/nestjs/nest) was updated from `7.0.3` to `7.0.4`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/com

[2020-03-21 22:02] greenkeeper[bot] opened #119 "An in-range update of @nestjs/testing is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@nestjs/testing](https://github.com/nestjs/nest) was updated from `7.0.3` to `7.0.4`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs-i18n/compare/mast

[2020-03-23 11:20] ashwanimali opened #120 "nestjs-i18n JSON.parse error"
[Nest] 23128 - 2020-03-23 16:43:22 [ExceptionsHandler] Unexpected end of JSON input +4081ms
SyntaxError: Unexpected end of JSON input
at JSON.parse ()
at I18nJsonParser.parseTranslations (/home/ankur/Desktop/ashwani/nest-project-client/node_modules/nestjs-i18n/dist/parsers/i18n.json.parser.js:89:31)
at

why is this error shows many time

------------------------------------------------------------

[2020-03-24 09:15] hrahimi270 opened #122 "How to change the language and handle other languages?"
Hey there.
How we can change the language on the server-side?
If a user tries to change it's language in view (front), how we can handle it on the server-side?
Currently, I'm using Nunjucks for the template engine.
And this an example of the way I use this package:
[code]

I pass an object to the view that contains the translations. And it working fine!
But I don't know how to handle other languag

[2020-03-24 11:11] ToonvanStrijp commented on #120
@ashwanimali are you running the `nestjs` dev server by using: `npm run start:dev`?

[2020-03-24 11:16] ToonvanStrijp commented on #122
@hrahimi270 `nestjs-i18n` resolves the language using [language-resolvers](https://github.com/ToonvanStrijp/nestjs-i18n#language-resolvers). So you could write a resolver that fits your need, for example a generic resolver that grabs the language from the url path.

Since you're using nestjs to render pages right? you could do something like this:
But I do recommend making a generic resolver that

[2020-03-24 15:30] ElodieC opened #123 "Translation not refreshed on dist folder"
I copied instructions from nest-cli.json copy i18n and live reloading but this doesn't refresh the files in dist folder so translations are not updated when modified. I have to relaunch manually the whole nest application to have translation updated.

Do you have any idea ? I am using version 6. And `npm start:dev`

app.module.ts
[code]

nest-cli.json

[code]

[2020-03-24 16:11] ToonvanStrijp commented on #123
Can you try editing one translation file inside the dist folder? Cause then the refresh should work?

If this is the case, then it's a limitation of `nestjs`, that means that `nestjs` only copies the `assets` on start and doesn't watch this folder for changes.

[2020-03-24 16:24] ElodieC commented on #123
Thank you for your answer. Yes it works when I edit it directly in the dist folder. I found a pull request https://github.com/nestjs/nest-cli/pull/591 on NestJS that has been merged for version 7.0.0  so I believe it should work with the version 7 of NestJS. I will have to update my project. I close the issue.

[2020-03-24 16:24] #123 closed

[2020-03-25 07:40] hrahimi270 commented on #122
Thanks, @ToonvanStrijp.
So I should put `:lang` for all of my Get and Post controllers?

[2020-03-25 07:54] hrahimi270 commented on #122
Thanks, @ToonvanStrijp.
I used resolvers, and it's cool.
But there is something else in my mind.
Just imagen. there is a website when you enter it for the first time, you see a screen for choosing the language.
If you select `ar` for example, for the next page loadings, you can see the domain changed to `domain.com/ar`.
Until you change your language to another.
How can I implement this? How to ma

[2020-03-25 10:58] ToonvanStrijp commented on #122
Are you using the `nest-router` package? Cause that way you could define a module that is exposed via `/:lang?` and below that all your sub routes/controller etc. This way you only have to define it once.

(the `?` after the param should make it optional)

After this you can add an interceptor to check whenever this `lang` is set, if not redirect the user to a page to choose a language.

But I wou

[2020-03-25 10:58] #122 closed

[2020-03-26 09:39] hrahimi270 commented on #122
@ToonvanStrijp it seems I can't send you a friend request in Discord (:
Can you try to send me to `hosseinrahimi270#9913`?

[2020-03-26 11:37] ToonvanStrijp commented on #122
@hrahimi270 I sent you one ;)

[2020-04-02 09:10] cosinus84 opened #126 "QueryResolver not executed"
I implemented i18n as in documentation I created a Custom QueryResolver but it seems that when I make a request, the request does not hit the resolver.
Changing to forRoot instead of forRootAsync it works ok
[code]
[code]
Thanks

[2020-04-02 09:44] ToonvanStrijp commented on #126
@cosinus84 When using `forRootAsync` you can't provide the `resolvers` via the `useFactory`.

(note. Think I should make this more clear in the documentation)

You'll need to define them as followed:
[code]

[2020-04-02 10:06] cosinus84 commented on #126
Also out of topic question, how do we handle class-validator? Returning keys as messages and then using HttpExceptionFilter to translate the message? (I am new to NestJs)
[code]
Of course there is the way not using validation decorators, and do it "manually".
Thanks and sorry for keeping you busy.

[2020-04-02 10:13] ToonvanStrijp commented on #126
@cosinus84  No problem man, you can also hit me up on discord: `tostieboy#6165`. Right now we don't support automatic conversion of `class-validator` messages. But you could easily implement your own `interceptor` to translate those `messages`. I'm not sure yet what would be the best way to implement this.

[2020-04-02 10:13] #126 closed

[2020-04-02 11:02] #115 closed

[2020-04-02 11:02] #117 closed

[2020-04-02 11:02] #118 closed

[2020-04-02 11:02] #119 closed

[2020-04-02 11:49] ToonvanStrijp commented on #126
@cosinus84 I just released `v8.0.1` this release has a breaking change but not trivial, this way you have more flexibility how your custom `resolver` should work. Please read the breaking changes section in the readme.

[2020-04-03 06:53] cosinus84 commented on #97
I created a custom validation pipe for this, changed the error from 400 to 422. After validation I translate the errors and group them for each field.
Hope it helps
[code]
[code]

[2020-04-03 07:45] ToonvanStrijp commented on #97
@cosinus84 great work! It looks good, I'll try and make a proposal this week :). One thing tho, why do you use the `I18nRequestScopeService` isn't it better to capture the validation `exception` in a custom `filter` and then use this code to format the response? Cause this way each `request` creates an other `I18nValidationPipe`, I'm not sure what this means on performance, but I think this can be

[2020-04-03 10:46] cosinus84 commented on #97
Thanks! you are right, I was thinking first of using exception filter but I gave up as I am new in nestjs&ts.
Of course the problem of parameters still exists but for the moment predefined keys can do the job.
[code]
It works also with default ValidationPipe
[code]

[2020-04-12 11:21] ashwanimali commented on #120
yes , why ?

[2020-04-12 11:22] ashwanimali commented on #120
can you share a min project boilerplate in which you use this nestjs-i18n module

[2020-04-12 12:13] ToonvanStrijp commented on #120
Well it looks like one of your json files isn't valid json. I'll set up a sample repo later today ;)

[2020-04-17 10:26] chrene commented on #120
I have the same issue.

[code]

[2020-04-20 10:24] viettrung9012 opened #134 "AcceptLanguageResolver TypeError for NestJS GraphQL app"
I have a NestJS app with GraphQL setup, when adding nestjs-i18n and trying to load `/graphql` endpoint from browser, the app throws TypeError: cannot read property 'raw' of undefined
[code]

Looking into the problem I think there are two issues: AcceptLanguageResolver only retrieves HTTP context at the moment, and for GraphQL i18nService is assigned to context and not context.req

Changing resolve

[2020-04-20 16:53] ToonvanStrijp commented on #134
@viettrung9012 I didn't notice this one, thanks for letting me know! I implemented a fixed and released it in: V8.0.2

[2020-04-20 16:57] ToonvanStrijp commented on #120
I'm going to close this issue :), cause this library can't really change anything on how the project get's compiled.

[2020-04-20 16:57] #120 closed

[2020-04-20 17:04] ToonvanStrijp commented on #114
@VincentSurelle can this issue be closed? I think we fixed this with the `v8` release?

[2020-04-24 17:38] dharmvir-patel commented on #97
Hi,
Not sure this thread is right to ask this but @ToonvanStrijp how I can use translations in middlewares?

[2020-04-24 19:53] ToonvanStrijp commented on #97
@dharmvir-patel you can inject the `I18nService` inside your middleware and use it to translate your responses based on a label for example. I need more details to give better advice since the use of middleware is very broad so I can't give you a very precise answer, if you need one post your question on stack overflow with a bit more details of what you're trying to achieve.

[2020-04-25 10:06] dharmvir-patel commented on #97
@ToonvanStrijp Thanks, I got it working using I18nService, in which I need to pass lang as an option. I wanted to know Is there another way of doing it just like I18n decorator where we do not need to pass the language as an option. FYI  I am using a simple middleware where I am validating few request parameters globally.

[2020-05-05 02:58] taksumaki opened #137 "Why do I get a promise when trying to get the message?"
I am trying to get the message in my module service or controller, but when I see the answer of my request I get nothing, but I realize putting it in the console.log() and I realize that it is returning a promise or something like that And I don't understand why, if you could be so kind to help me please.

[code]

[code]

[code]

![1](https://user-images.githubusercontent.com/56084970/81031514-b5a

[2020-05-05 07:13] ToonvanStrijp commented on #137
Hi there @taksumaki

The reason we return a promise. Is because the translations are served as an `Observable`. This way we can offer live reloading of your translations files.

So the way to solve this Is by awaiting your `method` call.

[code]

I'm assuming you're using this `method()` inside some controller right? If that's the case than you would need to make your controller `async` and also `

[2020-05-05 15:59] taksumaki commented on #137
If you are right, as I had not thought, thank you very much for the help and excellent dependency for NestJs, I hope you do not die. Regards.

[2020-05-05 15:59] #137 closed

[2020-05-05 16:25] ToonvanStrijp commented on #137
No problemo @taksumaki! If you have any other questions let me know.

[2020-05-06 04:42] willianfalbo opened #138 "Fallback specific language when receiving multiple ones"
At the moment, my app handles `pt-BR` as the default language. However, I want to fallback `en` in case of receiving `en-US, en-GB, en-CA, en-IE` and so on.

Is it possible to fallback a specific language when receiving multiple options?

It would be great if we could setup multiple fallback languages. E.g:

[code]
I appreciate any help.

[2020-05-06 09:45] ToonvanStrijp commented on #138
@willianfalbo oh that's a good one tho. Right now we only provide the possibility for one fallback language. But I can see your need for providing multiple fallback languages. It would be great if you can create a pull request for this?

[2020-05-06 14:32] willianfalbo commented on #138
@ToonvanStrijp sounds good for me! I'm gonna create a PR for this one. Cheers mate

[2020-05-06 15:10] ToonvanStrijp commented on #138
@willianfalbo awesome! Thank you (keep in mind that It would be nice, if it doesn't break the current `fallbackLanguage` option)

[2020-05-06 15:20] willianfalbo commented on #138
@ToonvanStrijp my pleasure! For sure mate, I'm gonna take it into account. 🤘

[2020-05-12 07:31] DiogoBatista commented on #1
Hello all, do you by any chance have this feature? I've been looking on the best way to serve translated emails or emails based on a default language and this seemed a good way.

Btw love the library, I'm using it with graphql and it works live a charm 💚

[2020-05-12 09:21] ToonvanStrijp commented on #1
@DiogoBatista heey there! Thank you for you kind word! I didn't find the time and need yet for this. But if you would like we could easily create an `HandlebarsAdapter` that takes the `i18nService` and exposes an `helper` function that translates the given. `key`?

[2020-05-12 09:57] DiogoBatista commented on #1
@ToonvanStrijp I've been thinking about this in the last few days and I'm definitely using the library to translate email subjects, error messages, and other elements that should be sent to the frontend, making the frontend truly dumb as it should.

Since I'm building a pure graphql API without having any server-side rendering the only HTML templating I have is with the emails, where for now I cho

[2020-05-12 10:30] ToonvanStrijp commented on #1
@DiogoBatista the approach you're taking is fine ;) You could create a custom decorator tho to grab the language from the DTO. But I'm not sure that approach would fit cause I don't know the whole application you're building.

But I thing if we start with `pug` support that would be great. Could you send me a sample of how you're compiling the `pug` template?

[2020-05-12 12:06] DiogoBatista commented on #1
Awesome @ToonvanStrijp, thanks for the feedback btw
This is just a rough function that I have to render the pug file I choose `renderFile` instead of `compileFile` because of the cache possibility since pug stores in-memory caching this could be beneficial in the long term so pug is not compiling the templates every single request. (https://pugjs.org/api/reference.html) but still, have to get more

[2020-05-22 09:48] leojok-fluido commented on #1
@ToonvanStrijp @DiogoBatista : I'm also starting to code new MVC project with Nest.Js and template engine such as pug or handlebars. Could you provide some example how to use this i18n package inside template engine?

[2020-05-31 15:07] ompandey13 opened #144 "Console Error"
I have integrated into nest 7.0.0. Language translation is working as expected but getting the error on console on each translation
`Translation "message.HELLO_MESSAGE" in "undefined" does not exist.`.

![image](https://user-images.githubusercontent.com/34500930/83355726-f3d12c00-a37e-11ea-9d48-5e9d32eaa648.png)

I appreciate any help.

[2020-05-31 15:16] ToonvanStrijp commented on #144
@ompandey13 can you send me a small project that contains this behavior, then it's easier for me to find the cause of it.

Are you using any specific resolver?

[2020-05-31 15:27] ompandey13 commented on #144
@ToonvanStrijp This is the sample project to see this behavior.
`https://github.com/ompandey13/nestjs`

[2020-05-31 15:48] ToonvanStrijp commented on #144
@ompandey13 could you also tell me which API calls you made with what parameters? :)

[2020-05-31 16:17] ompandey13 commented on #144
![image](https://user-images.githubusercontent.com/34500930/83357073-c937a100-a387-11ea-8a4b-53f1d72ccecf.png)

See App controller I am translating `HELLO_MESSAGE`. See on console getting this error on each API call.
![image](https://user-images.githubusercontent.com/34500930/83357144-3a775400-a388-11ea-9c5d-bc92b651a5b0.png)

[2020-06-01 15:22] ToonvanStrijp commented on #144
@ompandey13 Alright so I looked into it and I see that you're using the `QueryResolver`. But you're not defining a `language` by providing a url with `?lang=en` or `?l=en` for example.

So what the library should do is check whenever `undefined` is resolved and if so, use the `fallbackLanguage` right away.

I'll create a pull request for this, that solves this behaviour.

[2020-06-01 15:55] ToonvanStrijp opened #145 "Request and transient-scoped providers can't be used in combination with "get()" method. Please, use "resolve()" instead."
A new NestJS update causes the following error:

[code]

[2020-06-01 15:59] ToonvanStrijp commented on #144
This issue is fixed in release: V8.0.3! 🎉

[2020-06-01 15:59] #144 closed

[2020-06-01 15:59] ToonvanStrijp commented on #145
This issue is fixed in release: V8.0.3! 🎉

[2020-06-01 15:59] #145 closed

[2020-06-02 11:42] greenkeeper[bot] opened #146 "An in-range update of graphql-tools is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [graphql-tools](https://github.com/ardatan/graphql-tools) was updated from `6.0.5` to `6.0.6`.

🚨 [View failing branch](https://github.com/ToonvanStrijp/nestjs

[2020-06-02 13:52] #146 closed

[2020-06-04 06:52] kkoomen opened #148 "Use i18nService.t() as an alias to i18nService.translate()"
A common thing in i18n projects is to make an alias method named `t` which is an alias of `translate`. It'd be something like this:

[code]

[2020-06-04 07:06] ToonvanStrijp commented on #148
@kkoomen ow cool never thought of that before! But sure, if you make a pull request for this I'll approve it!

[2020-06-04 07:11] kkoomen commented on #148
I don't really have time for a while. Could you do it and some tests as well?

[2020-06-04 08:00] ToonvanStrijp commented on #148
@kkoomen fixed and released in version `V8.0.4`! 🎉 🌮 🦖

[2020-06-04 08:00] #148 closed

[2020-06-04 13:39] Kannas24 commented on #97
@cosinus84  Nice approach, personally I don't think I can afford this much customization to handle localization in my project.

Do we have any update on considering this for the next release/version ?
Localizing validation messages seems like a big deal, we should implement that.

[2020-06-04 20:32] Kannas24 commented on #97
Quick question : How you are injecting I18n service to HttpExceptionFilter ?
I'm new to nestJs.

[2020-06-04 21:51] ToonvanStrijp commented on #97
@Kannas24 I'm not sure how to design this in a good way yet... So if you have suggestions please let me know :)

If the design is clean I can easily build it and create a new release! 🎉

[2020-06-05 02:33] kkoomen commented on #97
I think the approach of @cosinus84 in [this](https://github.com/ToonvanStrijp/nestjs-i18n/issues/97#issuecomment-608263029) comment is a good approach. I've changed some things to make it more eslint-proof (since `await` is not allowed inside loops) and instead of using the `errors[i].constraints[i].value` I use the `key` + a prefix. I personally use camelCase (and think everyone should) since thi

[2020-06-05 04:15] kkoomen opened #149 "How to get it to work?"
I don't know if it's me or lack of clarity in documentation but I've read everything and can't get this plugin to work.

I have my project inside `~/project` and inside there I have this tree

[code]

and the `i18n` looks like this:

[code]

and inside them I have this:

~/project/i18n/en/test.json

[code]

~/project/i18n/zh/test.json

[code]

then I added a custom validation pipe and inside there

[2020-06-05 06:58] ToonvanStrijp commented on #149
@kkoomen could you send me a zip with the whole project, so I can easily test it :)

[2020-06-05 06:59] ToonvanStrijp commented on #138
@willianfalbo heey man :) any progress on this issue? :)

[2020-06-05 07:00] kkoomen commented on #149
You can scaffold your own project and copy-paste it.

[2020-06-05 07:01] ToonvanStrijp commented on #149
Alrighty will do, (thought maybe it's faster to share)

[2020-06-05 07:35] ToonvanStrijp commented on #149
@kkoomen

I think your `path` property is wrong. It should be: `path: path.join(__dirname, '../i18n/'),`

Let me know if this solved your issue.

[2020-06-05 10:29] kkoomen commented on #149
I toke it from the project's documentation so I suppose the documentation is incorrect as well.

[2020-06-05 10:55] ToonvanStrijp commented on #149
@kkoomen The documentation isn't wrong. Cause when you follow the documentation the `i18n` folder should be in your `src` folder. And not in the `root` folder.

Then you'll also need to add this: https://github.com/ToonvanStrijp/nestjs-i18n#nest-clijson-copy-i18n to copy your translation files to your `dist` folder.

[2020-06-05 10:55] #149 closed

[2020-06-05 11:23] cosinus84 commented on #97
We somehow decided to pass keys so the frontend can use them for translation. I also want to point that dto can have nested dto:

`import { ArgumentsHost, Catch, ExceptionFilter, HttpException, HttpStatus, Logger } from '@nestjs/common';
import { ValidationError } from 'class-validator';
import * as _ from 'lodash';

interface FilterResponse {
  statusCode: number,
  message: string | any,
  debug

[2020-06-05 11:35] kkoomen commented on #149
Before you fixed it in [your latest commit](https://github.com/ToonvanStrijp/nestjs-i18n/commit/714ea4bdafa526bc863a80e851b91722e1752e65) it was never mentioned that the i18n folder had to go into the src folder. When you mention people need to create a folder and you don't mention the location, people presume starting from the root. Something to take into account for your next project.

[2020-06-05 11:54] ToonvanStrijp commented on #149
@kkoomen thanks for you feedback! I hope you enjoy using this package! With the input from people like you this package improves by the day!

[2020-06-05 12:09] kkoomen commented on #97
The approach from @cosinus84 in [this](https://github.com/ToonvanStrijp/nestjs-i18n/issues/97#issuecomment-608263029) comment is an interesting approach to fix to class-validator i18n support. I got a different solution which would be a better approach but still only allows maybe 80% of the total decorators of class-validator.

First of all, my `translateErrors` that @cosinus84 is using is a bit "

[2020-06-05 20:39] willianfalbo commented on #138
Hey @ToonvanStrijp ! Sorry man I was busy last month so I didn't start yet!
I'll do my best to start this one next week...

[2020-06-06 14:51] hrahimi270 commented on #1
Hi there.
I'm using Nunjucks as my template engine.
Is there any way I can use my translations in my templates like this for example?
[code]

I should pass all my translations to my engine. But I don't have any idea how can I access my translations to pass them.
But there is a simple way to pass variables to the Nunjucks like this:
[code]

So if someone just tells me how to fetch translations of t

[2020-06-10 05:44] willianfalbo commented on #138
Hey man @ToonvanStrijp !! I've just started to work on this one! Hope to have a PR in the next few days! Cheers

[2020-06-10 06:41] ToonvanStrijp commented on #138
@willianfalbo thanks for the update! If you need any help, let me know ;)

[2020-06-11 18:35] razorness commented on #64
@ToonvanStrijp Great work! 🥇

[2020-06-11 20:24] ToonvanStrijp commented on #138
@willianfalbo release V8.0.5 is out! 🚀 Great work @willianfalbo!

[2020-06-11 20:24] #138 closed

[2020-06-11 20:37] willianfalbo commented on #138
That's my pleasure @ToonvanStrijp! Thank you for your feedback and for keeping this nice lib up to date.

[2020-06-15 12:26] ToonvanStrijp commented on #114
@VincentSurelle Closing this issue for now ;) let me know if this needs to be reopened

[2020-06-15 12:26] #114 closed

[2020-06-29 14:24] mrdntgrn opened #153 "The 'fallbackLanguage' did not work after upgrade from 4.1.3 => 8.0.6"
Hi guys,
First of all thank you for providing this easy to use tool for Nest.js internationalization.

Recently we upgraded all our Nest.js backend app packages (last time I did it about 3 months ago) and after adjustment of deprecated/changed config form to new one I having issue. The property 'i18nLang' having the value undefined  in Nest.js request object inside controller, when no explicitly l

[2020-07-03 11:25] ToonvanStrijp commented on #153
@mrdntgrn oehh this sounds indeed like a bug. Could you send me a small project setup so I can easily replicate and test this issue? I think this might be related when we merged #151.

[2020-07-04 07:36] mrdntgrn commented on #153
hi @ToonvanStrijp , here is a test setup with docker I created. It you can be easily used to reproduce this issue: https://github.com/mrdntgrn/nest-js-i18n-issue

[2020-07-05 02:51] willianfalbo commented on #153
Hey @ToonvanStrijp. Do you want me to help you out looking at this one? It might be related to the release 8.0.5...
@mrdntgrn thanks for sharing this case with us!

[2020-07-05 10:05] ToonvanStrijp commented on #153
@willianfalbo help is always welcome ;) today is my day off and I'll be back this evening (in about 6 hours). So if you have time please take a look at it ;)

[2020-07-20 16:31] willianfalbo commented on #153
@ToonvanStrijp, I've just used @mrdntgrn's project which contains the issue so, I found out it was working fine until [release 7.0.0](https://github.com/ToonvanStrijp/nestjs-i18n/releases/tag/V7.0.0).

Starting from [release 8.0.1](https://github.com/ToonvanStrijp/nestjs-i18n/releases/tag/V8.0.1), the property `i18nLang` has the value `undefined` in the request when no explicit language is passed

[2020-07-20 17:50] ToonvanStrijp commented on #153
@willianfalbo thanks for you reply! Then we'll got with the solution I provided above. It's not a huge deal so I'll fix this one tonight ;).

Thanks for your input guys @willianfalbo @mrdntgrn 🎉

[2020-07-20 19:22] ToonvanStrijp commented on #153
@willianfalbo Ohh hmm it's a bit more difficult than I thought. Some help would be useful! I think this is caused by introducing the new `fallbacks` feature. But we have to think about how to handle different situations.

What if the `fallbackLanguage` and `fallbacks` are both set?

Also I think we should clean up the `fallbackLanguage` and `fallbacks` and make it more clear. I think it can be a b

[2020-07-20 19:31] ToonvanStrijp commented on #153
I take this back. It was caused by me, when I migrated to go for an `interceptor` instead of `middleware`

[2020-07-20 19:45] ToonvanStrijp commented on #153
I did however fix your issue @mrdntgrn in release V8.0.8. I think we'll put this on closed for now and create a new issue for the `fallbacks` and `fallbackLanguage` discussion.

[2020-07-20 19:45] #153 closed

[2020-07-20 19:58] willianfalbo commented on #153
Sounds good for me @ToonvanStrijp.
Let's create another issue so, we could discuss it and handle different situations or even make it simpler. Cheers

[2020-07-25 15:56] vfa-trungnm opened #159 "I18nService get current language"
Could you add a method to get current language in `I18nService` class? @ToonvanStrijp

[2020-07-30 12:09] ToonvanStrijp commented on #159
@vfa-trungnm getting the current language in the `I18nService` is more difficult than it seems. Because we need the current `request` context for it. You could inject the `I18nRequestScopeService` but this will have some performance drawbacks, because the `I18nRi18nreqequestScopeService` will be initiated for each request. For more info you can reach out to this link: [https://github.com/ToonvanSt

[2020-07-30 12:09] #159 closed

[2020-08-09 16:36] deresegetachew commented on #149
you can use` path.resolve(__dirname,'..','..','i18n/messages/{{lng}}.json)`

[2020-08-19 13:41] fschucht opened #163 "parseTranslations function throws `true`"
First of all thanks for this great package! We started implementing it recently into our production app but ran into a weird issue during our first deploy to AWS EC2 today.

Our module is configured as follows:
[code]

This works very well on our local machines. However deploying to AWS EC2 in a `node:12.8.0-alpine` docker image leads to `nestjs-i18n` logging `parsing translation error`. The value

[2020-08-20 07:46] ToonvanStrijp commented on #163
@fschucht thanks for your detailed description, I'll take a look at this today for you ;) I'll try running it in the `node:12.8.0-alpine` image an let you know my findings.

[2020-08-20 07:57] ToonvanStrijp commented on #163
@fschucht I'm trying to reproduce the issue but when I use a docker image with `node:12.8.0-alpine` it's working fine. Could you provide me with a setup to reproduce this issue?

[2020-08-20 18:41] fschucht commented on #163
@ToonvanStrijp I was preparing a repository for reproducing the issue today however we can't reproduce it in there either. So it seems like it is not an issue with the package although the error itself is thrown there. Thank you for looking into it so quickly though!

[2020-08-20 18:41] #163 closed

[2020-08-26 03:44] woshiqiuxiaoyan commented on #113
it's doesn't work  when i use nest js 6.0.0

[2020-08-27 08:55] Firetrip opened #164 "Using I18nService and I18nRequestScopeService at the same time results in undefined"
We have a service with the following constructor:
[code]

However as soon as we inject both, if we use the I18nService, we get:

`TypeError: Cannot read property 'translate' of undefined ` when calling: ` await this.i18nService.translate(key, options);
`

Maybe it is related to #145.

We are currently running NestJs Version 7.0.8 and nestjs-i18n 8.0.8

Any help/confirmation is appreciated :)

[2020-08-27 14:08] ToonvanStrijp commented on #164
I won't be able to confirm this till tonight, but one question. Why do you want the inject both scoped and normal service?

[2020-08-27 16:43] Firetrip commented on #164
I am now pretty sure that is caused by NestJS Scope Hierarchy and the fact, that the scoped service accesses the normal service under the hood.

So what we have right now:

- A wrapper Translation Service

- a Decorator that allows us to mark a property of any entity as translatable

- An Interceptor that marks endpoints as "required to be translated"

- the requirement to get those marked propert

[2020-08-27 17:18] ToonvanStrijp commented on #164
@Firetrip great research! Thumbs up! If you think there is a better way for this library/module to offer support for your use case let me know! I'm closing this issue for now okay?

[2020-08-28 06:39] Firetrip commented on #164
I think a small addition to the docs, that injecting both is not possible, could be helpful. It took me quite a long time and I only fully understood at, when I started looking at the code of the scoped service, and seing that it injects the normal service.
If those two were independet, it should resolve this "issue".

But yes, we can close this issue :) Thanks for your great work!

[2020-08-28 06:39] #164 closed

[2020-09-10 20:55] DiogoBatista commented on #134
@ToonvanStrijp I noticed that Im having the same issue when I add `@Subscriptions` resolver.
`TypeError: Cannot read property 'raw' of undefined`

So if we setup a graphql subscription as such
[code]

I noticed that the req: undefined might be the issue here, but not sure

[code]

Do we have to do any extra configurations for this package to work with Websockets? https://docs.nestjs.com/graphql/su

[2020-09-11 11:03] ToonvanStrijp commented on #134
@DiogoBatista I'll test this later today ;) and if necessary I'll create an update for it! Great found!

[2020-09-11 19:29] ToonvanStrijp commented on #134
@DiogoBatista Could you give me a better example of what you're doing with graphql. When does this error occur? When doing a mutation or when doing a subscription? What also would be helpful, code samples :) I'm now trying to add some tests. Are you trying to translate the `subscription` response?

[2020-09-11 21:12] ToonvanStrijp commented on #134
@DiogoBatista I was able to reproduce the issue and made a fix for it in version `v8.0.9` also do you need to follow the example here: [GraphQL usage](https://github.com/ToonvanStrijp/nestjs-i18n#graphql-usage). This is because the `nestjs-i18n` library can't modify how the `GraphQL context` is build.

Example:
[code]

[2020-09-11 21:12] #134 closed

[2020-09-23 18:17] KirillCherkalov commented on #1
any updates? :)

[2020-09-24 06:19] leojok-fluido commented on #1
@KirillCherkalov : I ended up using pug engine. Translations work like this inside views/somefile.pug:
`label(for='email-field')= __('Email')`

main.ts:
[code]

[2020-09-24 16:04] KirillCherkalov opened #166 "ability to get object with translations instead of string"
Hello!
Thanks for this project.

Is it possible to add this functionality to the `translate` method so that it is possible to return an object with translations?

For example

emails.json

[code]

and inside service
[code]
and data will object with translations

[2020-09-24 17:13] KirillCherkalov commented on #1
okay, guys. I have created a function that can be used as a workaround.
I use it with handlebars but u can use it with any of the template engines since it's doesn't matter.

Requirements

I have such a folder strucure

src
└── i18n
    ├── en
    │   ├── emails.json
    └── fr
        ├── emails.json

example of emails.json

[code]

example of email template `set-up-password.handlebars`
[code]
I

[2020-09-24 21:33] ToonvanStrijp commented on #166
@KirillCherkalov great question and feature request, I think this should be possible quite easily, I'll take a look at it right away!

[2020-09-25 20:04] ToonvanStrijp commented on #166
@KirillCherkalov alrighty fixed in release `v8.0.10`! 🎉

[2020-09-25 20:04] #166 closed

[2020-09-26 11:44] KirillCherkalov commented on #1
@ToonvanStrijp
I think that u can close this PR since after u latest release (8.0.10) it is quite simple to use this library with any of the template engines.
1  Because u can create a json file with translations for email by unique email name
for example
emails.json
[code]
2 And into service where u compile template and pass props u can also get translations for u email template.
[code]

and u em

[2020-09-28 05:07] kkoomen commented on #97
I managed to get a 100% translatable class-validator just based on my previous comment which I'd like to share:

**NOTE**: I do use `i18next` in the example below, but any other custom service would do.

# Explanation

💡 What I'm doing below is basically taking the generated message, match it against a list of patterns to find out the original template that was being used and then replace the repl

[2020-10-22 07:57] hrahimi270 opened #168 "Language sub paths?"
Hi there. Thanks for your great job by the way.
I've been using this package for handling multi-languages on my website.
Something that I think is needed, is having language subpaths.
Currently, when I change my language from English to Russian for example, I'm on the same route. But actually, it should be changed to `/ru` indeed.

How can I achieve that? Any idea?
Thanks.

[2020-10-22 08:13] ToonvanStrijp commented on #168
@hrahimi270 are you using the nestjs router?

What you could do is add a in url parameter.

So when defining your routes do something like:
[code]
Then you can use:
/page/nl/blog and /page/en/blog to navigate to.

To get the language you need to write a custom language resolver. You can find a sample in the readme.

I hope this helps :)

[2020-10-22 10:02] hrahimi270 commented on #168
Thanks, @ToonvanStrijp. I'm going to give it a try.

[2020-10-26 09:17] hrahimi270 commented on #168
Hi @ToonvanStrijp.
I'd take a look at the doc, but didn't find a resolver or anything else to handle my need.
I can set the `/:lang` for all my routes once in my controller. But I don't know how to handle switching between languages and update the URL.
Can you help me with that?

[2020-11-03 12:43] vsharan opened #169 "Proper instruction to setup nestjs-i18n for NestJs is missing"
*Proper instruction to setup nestjs-i18n for NestJs is missing*
Hi @ToonvanStrijp

I am trying to integrate nestjs-i18n in my NestJs project, but the doc is not helping me.

I have followed all the instruction but it doesn't work for me. Can you please share a sample project in which you have used it?

[2020-11-03 15:35] ToonvanStrijp commented on #169
@vsharan could you tell me what exactly isn't working? Do you see any error? I'll make a sample project later today!

[2020-11-03 15:36] ToonvanStrijp commented on #168
@hrahimi270 sorry for my late reply, do you still need help with this?

[2020-11-03 16:58] vsharan commented on #169
Hey @ToonvanStrijp - I copied this code in my app.module.ts

`import { Module } from '@nestjs/common';
import * as path from 'path';
import { I18nModule, I18nJsonParser } from 'nestjs-i18n';

@Module({
  imports: [
    I18nModule.forRoot({
      fallbackLanguage: 'en',
      parser: I18nJsonParser,
      parserOptions: {
        path: path.join(__dirname, '/i18n/'),
      },
    }),
  ],
  control

[2020-11-03 17:19] vsharan commented on #169
Thank you @ToonvanStrijp - one sample project would help. Much appreciated!

[2020-11-04 08:23] hrahimi270 commented on #168
That's ok. Yes, I need it.

[2020-11-04 12:33] rubiin commented on #169
@ToonvanStrijp yeah can we have a sample app

[2020-11-04 15:14] ToonvanStrijp commented on #169
I'll update the `readme` of this repo soon, to make a better guide on how to get started. For now please see this repo: [https://github.com/ToonvanStrijp/i18n-demo](https://github.com/ToonvanStrijp/i18n-demo)

[2020-11-04 15:14] #169 closed

[2020-11-04 15:15] ToonvanStrijp commented on #168
@hrahimi270 I created a demo repository that shows how to get the language based on `/:lang`.

[https://github.com/ToonvanStrijp/i18n-demo](https://github.com/ToonvanStrijp/i18n-demo)

Let me know if this helped!

[2020-11-04 15:15] #168 closed

[2020-11-06 11:43] m-wasilewski commented on #97
@kkoomen I use you code, but I have change all `$variables` to `{{variables}}`. Maybe it's related with i18n version ;)

[2020-11-12 16:25] vsharan commented on #169
Thank you so much @ToonvanStrijp - It helped me.
One Question - Do we need to call translate in each controller functions? Isn't there a way to just set this once and use? Asking just out of curiosity.

[2020-11-12 18:29] ToonvanStrijp commented on #169
@vsharan you could write a custom interceptor that calls the translate function for you. But then you need a generic response interface.

[2020-11-16 16:12] VGordillo-Resulto opened #170 "Implement tests"
Show how the tests with controllers and services are implemented.

[2020-11-16 18:49] ToonvanStrijp commented on #170
@VGordillo-Resulto what exactly is your question?

[2020-11-17 09:18] VGordillo-Resulto commented on #170
I would like you to explain how to implement the tests with Controllers and Services in separate modules.
In my service, I have a model, an external service, and the i18n service.

[code]
[code]
[code]
It always fails because it can't find the service

[2020-11-17 11:04] ToonvanStrijp commented on #170
Ahhh @VGordillo-Resulto that can be easily done, but mocking the `I18nService` and `I18nRequestScopeService`. You could also just add the `I18nModule` within your test. But that would be better if you tests are `e2e`.

So I would recommend mocking it by creating a `fake` class.

[code]

Then when setting up your test module, provide this `I18nRequestScopeServiceMock` service as the `I18nRequestSco

[2020-11-17 11:19] VGordillo-Resulto commented on #170
Ok thanks

[2020-11-17 11:19] #170 closed

[2020-11-19 07:47] golubvladimir opened #171 "How to save translations in database ?"
How to save translations in database ?

Like this: https://www.yiiframework.com/doc/api/2.0/yii-i18n-dbmessagesource

[2020-11-21 14:12] thachp opened #172 "Jest has detected the following 2 open handles potentially keeping Jest from exiting"
I'm encountering the following errors.  It is preventing me from completing any unit tests using jest.   It seems to be related to the i18n-lang.decorator.ts file.

![image](https://user-images.githubusercontent.com/1495371/99879132-95636880-2bbf-11eb-8bf5-c5f68dbdab97.png)

[2020-11-21 16:34] ToonvanStrijp commented on #172
Oehh could you please provide a sample repo so that I can easily reproduce this error ;) then I'll look into it!

[2020-11-22 02:45] thachp commented on #172
@ToonvanStrijp  I'll get back to you as soon as I can.

[2020-11-23 12:53] golubvladimir commented on #159
[code]

[2020-11-23 13:56] ToonvanStrijp commented on #159
@golubvladimir this is basically what the `I18nRequestScopeService` already does. Can I ask you, what you intend to do with the `LangService`? (Are you going to use this service within other services?)

[2020-11-24 06:50] golubvladimir commented on #159
@ToonvanStrijp Yes. Hot to get current language by `I18nRequestScopeService` ?

[2020-12-09 01:01] pooyakn commented on #95
I thought it could help someone.

You could do something like this if you want to translate custom exceptions in one place:

[code]

[2020-12-09 02:08] ToonvanStrijp commented on #95
@pooyakn good example! This issue is a bit outdated tho, cause back when this was still an issue. It wasn't possible to get the `ArgumentsHost` inside an `ExceptionFilter`. But nonetheless thanks for the example!

[2020-12-09 02:09] ToonvanStrijp commented on #172
@thachp any update? (otherwise I'll close this issue due to inactivity)

[2020-12-09 02:12] ToonvanStrijp commented on #171
@golubvladimir you could write you own custom [parser](https://github.com/ToonvanStrijp/nestjs-i18n/blob/master/src/parsers/i18n.json.parser.ts). This would enable you to change how languages are loaded.

[2020-12-09 02:12] #171 closed

[2020-12-14 21:45] golubvladimir opened #173 "What is the analogue of the function getPreferredLanguage() ?"
What is the analogue of the function getPreferredLanguage() ?

[https://www.yiiframework.com/doc/api/2.0/yii-web-request#getPreferredLanguage()-detail](https://www.yiiframework.com/doc/api/2.0/yii-web-request#getPreferredLanguage()-detail)

[2020-12-14 22:13] ToonvanStrijp commented on #173
You can grab the language by using the decorator: [https://github.com/ToonvanStrijp/nestjs-i18n#i18nlang-decorator-and-i18nservice](https://github.com/ToonvanStrijp/nestjs-i18n#i18nlang-decorator-and-i18nservice). If you want the language within your own service you can either pass it on from the controller to the specific service. Or you can inject the `I18nRequestScopeService` (this however has

[2020-12-14 22:13] #173 closed

[2020-12-15 15:51] Darkein opened #174 "Support for pluralization"
It would be nice to support ICU message format for gender and pluralization. Maybe thanks to a plugin system ?

[2020-12-15 19:51] goors commented on #1
Hi, any update? How to use it in templates? Puh, hbs?

[2020-12-16 07:42] golubvladimir opened #175 "Why am I not receiving a translation ?"
I created mini project.
[https://github.com/golubvladimir/nestjs-i18n-project](https://github.com/golubvladimir/nestjs-i18n-project)

I try to use I18nService and I18nRequestScopeService, but both methods don't work.

[2020-12-16 09:22] ToonvanStrijp commented on #175
You're forgetting to prefix the translation key by the filename.
[code]
Needs to be:
[code]

[2020-12-16 09:22] #175 closed

[2020-12-20 09:27] golubvladimir commented on #175
@ToonvanStrijp
Сan i don't create folders with langs ?

i18n
  en.json
  ru.json

What to fix for this ?

[2020-12-20 09:51] golubvladimir commented on #175
When I create folders with empty json files, then translations from the main directory are also loaded.

[2020-12-20 15:00] ToonvanStrijp commented on #175
@golubvladimir it's not possible to add translations without folder. If you place the translation files directly in the main directory, they'll be loaded globally. You could create a custom parser for this, but it's easier to just use it the way it's built.

[2020-12-26 18:56] MrAbdelrahman10 opened #176 "How can i use nestjs-i18n with class-validator"
I created a custom validation class, and I tried to translate the message but I couldn't
this class

[code]

Any solutions to translate the message?

[2020-12-30 15:08] kuriel-trivu opened #177 "how to get the current lang?"
for example with I18nService, some method to get the current (context) language:

`this.i18n.getCurrentLanguage(); // this should return "es" if Accept-Language = es`

[2020-12-30 15:44] ToonvanStrijp commented on #177
The normal `I18nService` doesn't support this due to performance issues. You could inject the current `request` in your service and then use `this.req.i18nLang`. As we're doing here in the [i18n-request-scope.service.ts](https://github.com/ToonvanStrijp/nestjs-i18n/blob/master/src/services/i18n-request-scope.service.ts). But this could slow down your api. So I would recommend getting the current l

[2020-12-30 15:45] ToonvanStrijp commented on #176
That won't be possible. What you could do is make an custom exception filter and translate it in there.

[2020-12-30 15:45] #176 closed

[2020-12-30 15:46] ToonvanStrijp commented on #174
@Darkein feel free to make a pull request for it :)

[2020-12-30 15:46] #174 closed

[2020-12-30 15:47] #172 closed

[2020-12-30 17:38] kuriel-trivu commented on #177
Hi @ToonvanStrijp thanks for reply very fast, i'm facing this difference between headers and i18nLang:

In this image we can see in the right side the console log print result, as you can see languages differs.

![image](https://user-images.githubusercontent.com/46456105/103370766-41d41c80-4a93-11eb-9134-bda30d23eaab.png)

the right value is the "es" but i18n library is taking the default which is

[2020-12-30 17:42] ToonvanStrijp commented on #177
Did you add the AcceptLanguageResolver to your resolver options when importing the module? [https://github.com/ToonvanStrijp/nestjs-i18n#language-resolvers](https://github.com/ToonvanStrijp/nestjs-i18n#language-resolvers)

[2020-12-30 17:46] ToonvanStrijp commented on #177
I would recommend using the `new HeaderResolver(['x-custom-lang']),` instead of the `AcceptLanguageResolver ` this because you're not giving the `accept-language` a valid input. A valid input for the `accept-language` would be: `fr-CH, fr;q=0.9, en;q=0.8, de;q=0.7, *;q=0.5`. So please use the `HeaderResolver` as followed:
[code]

[2020-12-30 17:46] #177 closed

[2020-12-30 17:47] kuriel-trivu commented on #177
Yes, i followed the docs:

![image](https://user-images.githubusercontent.com/46456105/103371268-a5ab1500-4a94-11eb-83ca-68847bddbb6c.png)

we use the header:

`Accept-Language = es`

[2020-12-30 17:49] kuriel-trivu commented on #177
so the right way for Accept-Language is:

`A valid input for the accept-language would be: fr-CH, fr;q=0.9, en;q=0.8, de;q=0.7, *;q=0.5`

Thank you.

[2021-01-11 19:28] kuriel-trivu opened #178 "Add support for Serializers"
https://docs.nestjs.com/techniques/serialization

Nest can serialize Data, there is no way to use nest-js-i18n inside.

[2021-01-11 21:15] ToonvanStrijp commented on #178
@kuriel-trivu can you explain to my how you see `nestjs-i18n` making use of this?

[2021-01-11 23:10] kuriel-trivu commented on #178
We have a table with some rows, for example:

ID - Name
1 - Red
2 - Green
3 - Blue
... N rows.

We don't store those "names" with translations because the i18n can handle those translations, so we pass the ID from the Query to the Serializer directly like this:

[code]

As we know, serializer is used for "formating" or "simplifying" responses, so instead of set the i18n key label in each service o

[2021-01-11 23:21] ToonvanStrijp commented on #178
@kuriel-trivu I'm not sure if this is something we (`nestjs-i18n`) can fix. Because as far as I can see there is no way of injecting the `i18nService`. If you have any tips or lead let me know!

[2021-01-11 23:29] kuriel-trivu commented on #178
i'm sure Nest can do it, but how this project (nestjs-i18n) matches with Nest Serializers is about engeenering - planning - development with your team.

I think this is a must have feature.

[2021-01-11 23:46] ToonvanStrijp commented on #178
@kuriel-trivu  well the team is only me, so any help is welcome! :)

[2021-01-12 00:12] kuriel-trivu commented on #178
😱  well, lets to internet do its things.

[2021-01-12 00:15] ToonvanStrijp commented on #178
@kuriel-trivu but to be honest it's not that easy as:

[code]

This because it's impossible to inject something to the `expose` function.

We could make our own `decorator` and `interceptor` that can be used to get the same effect. But then you can't combine it with the use of `@Expose()`.

[2021-01-12 00:18] kuriel-trivu commented on #178
That sounds good, ill investigate.

[2021-01-18 18:07] rubiin commented on #178
if i am correct the module only translates the responses

[2021-01-18 19:27] kuriel-trivu commented on #178
well, **i18n-js** the original package can be used from anywhere once initialized, the problem with i18n-js is that it can't response dinamically based on header requests.

i18n.t("some.key", {locale: req.header['some-header']});

that is required to be able to dinamically translate the response, so this can be converted into a Service (@Inject({scope: Request}))

we don't have access to request n

[2021-01-19 19:43] ToonvanStrijp commented on #178
@rubiin the module doesn't only translates response, you can use it however you like and translate anything you like. It's not bound to a response.

@kuriel-trivu The reason non of the other packages fix this, is because it is hard to do. Everything that happens in a `request` scope can be translated by `nestjs-18n` but it is bad practice to mark a `service` with the `Scope.REQUEST` this because a

[2021-01-21 12:09] YashKumarVerma commented on #97
is there any possible method to render a template when DTO validation throws an error?

[2021-01-21 12:15] ToonvanStrijp commented on #97
@YashKumarVerma you can use an interceptor for that. At the moment `nestjs-18n` doens't provide a way to translate `DTO error` automatically. But you could implement your own way if you like. I'm still looking for a good way to provide this within the package.

[2021-02-10 12:42] golubvladimir opened #183 "How to use plurarization ?"
I want to use plurazitation like this : '{N, plural, one{# cat} few{# cats} many{# cats} others{# cats}}'

How to do it ?

[2021-02-10 16:54] ToonvanStrijp commented on #183
@golubvladimir right now we don't support this yet. But feel free to open up a pull request! :)

[2021-02-13 15:01] rubiin opened #184 "How to use inside a service or a provider"
Hi I am trying to use this inside a service, and if possible some providers as well

[2021-02-13 20:36] ToonvanStrijp commented on #184
@rubiin that's possible with this library, if you tell me what exactly you stuck with I can help you ;)

[2021-02-14 09:09] rubiin commented on #184
you can see this for example: https://github.com/nestjs/typescript-starter/blob/master/src/app.service.ts
i want to translate ```''Hello World!';```

[2021-02-14 09:11] rubiin commented on #184
If you can help me with the translation, that would be great

[2021-02-14 21:43] ToonvanStrijp commented on #184
@rubiin well if you read the documentation and the setup in the readme file you should be able to achieve this. And if you have trouble doing this, than please be more specific in what help you need, cause I don't really understand what you're dealing with right now.

[2021-02-14 21:43] #184 closed

[2021-02-15 08:12] rubiin commented on #184
I think translating exceptions would be helpful.

[2021-02-17 05:55] rubiin opened #185 "translate exceptions"
How do i translate Httpexceptions like unauthorizedexception?

[2021-02-17 07:21] rubiin commented on #97
Dto translation will be a nice feature to add to the library

[2021-02-17 09:40] #185 closed

[2021-02-17 09:41] rubiin commented on #185
@ToonvanStrijp i can create a pr to add a snippet for this if you like

[2021-02-17 09:54] ToonvanStrijp commented on #185
@rubiin that would be awesome! Feel free to create a PR for it ;)

[2021-02-17 20:29] ToonvanStrijp commented on #1
@goors currently this is the best solution. I'm back and I'm working on some updates to this module! So template support for pug, hbs and others will land soon!

[2021-02-17 21:00] ToonvanStrijp commented on #183
@golubvladimir right now I have those options:
[code]

I added the `count` so that you can use it in your plural. Would those options suffice?

[2021-03-03 12:59] sanjitbauli commented on #137
@ToonvanStrijp is there a way of using a non-promise version of the translate function?
I am ok with not having the live reloading feature.
It seems a lot of code changes i need to make this work after upgrading the version.

[2021-03-03 14:16] ToonvanStrijp commented on #137
@sanjitbauli I'm not sure this is something we can easily accomplish. So If you want show me your code and I'll help you get it to work with the promise version instead?

[2021-03-23 06:30] Hisham-TK opened #191 "AcceptLanguageResolver don't work with GraphQL"
Whenever I use
HeaderResolver(["accept-language"])
then
@I18nLanguage() lang: string;
For GraphQL works fine for me, but I get an annoying warn
`HeaderResolver does not support RFC4647 Accept-Language header. Please use AcceptLanguageResolver instead.`

But when I use
AcceptLanguageResolver
then
@I18nLanguage() lang: string;
It's donnot work

[2021-03-23 14:18] ToonvanStrijp commented on #191
@Hisham-TK what is the content of you `accept-language` header? I think this message is given because your `accept-language` content isn't formatted like the `RFC4647 ` requires. That's also the reason why the `AcceptLanguageResolver` doesn't work in your case.

To solve this use a different header name instead of `accept-language`. Cause `accept-language` is reserved for the `RFC4647` spec.

[2021-03-23 14:18] #191 closed

[2021-03-31 15:59] kuriel-trivu commented on #137
@ToonvanStrijp when you have an existing project, that implements loop methods like for, map, etc. Async and Await becomes in a conflict with a big refactor project.

Im with @sanjitbauli  we dont need live reloading because Nest already offers (even if not) a reloading feature even with .json files (translations).

So a live reloading for this modules is not required.

And adding await for a simp

[2021-03-31 17:21] ToonvanStrijp commented on #137
@kuriel-trivu I understand your point, but I still think it’s not that “dirty” to implement something like a promise.all. If you weakly want you can come up with a pull request that solves your issue. But keep in mind that I don’t like making breaking changes. So maybe add a ‘translateAsync’ function ;)

[2021-04-09 11:07] kb05 opened #192 "In memory Object parser & typescript enumeration"
A problem that I'am encountering is that if you work with a lot of translations and use string is very easy make mistakes.

For example translate "user.notFoundUser" instead "users.notFoundUsers" or forget a argument would cause a translation fail.

Perhap could be a interesting approach use the typescript enumeration, this way you could never pass it as an invalid translation key (because the pro

[2021-04-19 12:24] ToonvanStrijp commented on #192
@kb05 I think this issue could be solved an other way. We could implement some kind of cli that you can use to check your translation files. This then will create a report that shows you what translations are missing. A while ago I had this `cli` in place but because it wasn't used I removed it. We could re add it, but I'm not sure if we should. Let me know what your opinion is on this.

[2021-04-19 12:26] ToonvanStrijp commented on #178
Closing this due to inactivity from @kuriel-trivu

[2021-04-19 12:26] #178 closed

[2021-04-19 12:27] ToonvanStrijp commented on #183
Closing due to inactivity from @golubvladimir

[2021-04-19 12:27] #183 closed

[2021-04-19 15:19] kb05 commented on #192
@ToonvanStrijp I think that this approach would solve the problem of translation discrepancies, and in my opinion it would also be useful, but I see two problems:

1. The static analysis of the files is subject to many conditions, e.g how to determine the properties of the translateOptions object without executing the code? (the translateOptions object can come from anywhere of your project).

2.

[2021-04-19 15:54] ToonvanStrijp commented on #192
@kb05 hmm yeah I get it from a developer perspective that type strict translations files would solve this a great deal. But on the other hand you'll loose some dynamic options that are build in now. But I think there is one other solution that could work. If you take a look at [json parser](https://github.com/ToonvanStrijp/nestjs-i18n/blob/master/src/parsers/i18n.json.parser.ts), it `extends` the

[2021-04-19 16:21] kb05 commented on #192
Yes, I think the most appropriate approach is  give the developer the decision to use one parser or the other, for example something like this:

[code]

The only problem that I see is that the current function types are too generic and could not be compatible

![image](https://user-images.githubusercontent.com/9481422/115269422-96cb9980-a13b-11eb-9bef-7d1f1dde03bb.png)

We would have to think abou

[2021-04-19 19:20] ToonvanStrijp commented on #192
@kb05 exactly the parser option is already there, so let's write a custom parser that reads from a `.js` file instead of a `.json` file.

The problem with the `translate` and `t` can be easily fixed. Because we could easily make this generic so that you can provide your own type for this.

The only question that I have is how you are going to structure and store your language translations in code?

[2021-04-20 09:03] kb05 commented on #192
Hi @ToonvanStrijp

I have created a small prototype of the typed function, first I will show the beautiful part and after that the guts and we will try to improve it and find the best approach.

![translation-example](https://user-images.githubusercontent.com/9481422/115362062-76deb900-a1c1-11eb-95f0-b80d8921b38c.gif)

For the initial purpose I have applied the following steps:

1. Define the app

[2021-04-20 20:55] ToonvanStrijp commented on #192
@kb05 this looks cool! Love the strict typescript support. The only things that I don't like, personally this seems like a lot of boiler plating to me, not necessarily bad but just something I don't like to do myself.

I think you're right on track with this feature and feel free to continue it! One thing to keep in mind is try to keep the current `translate` function intact, so we don't make brea

[2021-04-20 21:11] kb05 commented on #192
Thank you @ToonvanStrijp.

I will try to develop this feature and I will comment here the progress and the problems.

[2021-04-20 22:14] ToonvanStrijp commented on #192
@kb05 awesome! If you need anything let me know!

[2021-04-25 14:47] Ami777 commented on #97
@kkoomen Very cool! Based on your solution I've modified it to be able to translate on front-end + to give me field name where the error should be visible.

The code
[code]

And demo
![image](https://user-images.githubusercontent.com/7489790/115998083-e7347280-a5e5-11eb-91ad-9a46d23f768d.png)

[2021-04-26 11:23] MuBoori opened #194 "Cannot read property 'accept-language' of undefined"
I'm using RabbitMQ nestjs-rabbitmq
 https://www.npmjs.com/package/@golevelup/nestjs-rabbitmq
I'm using the latest version 8.10
However, I get this issue when I get a message in the queue

Cannot read property 'accept-language' of undefined +8ms
--
  | TypeError: Cannot read property 'accept-language' of undefined
  | at AcceptLanguageResolver.resolve (/usr/src/app/node_modules/nestjs-i18n/dist/res

[2021-04-26 11:58] ToonvanStrijp commented on #194
@MuBoori could you send me a sample project? That way it's easier for me to find a fix for your issue.

[2021-04-26 12:41] MuBoori commented on #194
@ToonvanStrijp The issue this module

https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq has an execution context type as HTTP so the AcceptLanguageResolver intercept the context and try to get accept-language

I solve the issue by providing a custom resolver like this and handle null exception

[code]

[2021-05-01 10:40] emmanuel-D opened #195 "How to handle Imports when working with multiple modules"
I am working with NestJS and I have multiple modules in my project that are all imported in the `AppModule`.
I also imported the `I18nModule` in the `AppModule` like described in the docs:

[code]

Then when I try to inject the `I18nContext` in the `AuthController` that is declared in the `AuthModule`, like this:
[code]
Then an error occurred  with the current logs:

[code]

How can I do to fix th

[2021-05-01 12:10] ToonvanStrijp commented on #195
@emmanuel-D the `I18nContext` isn't injectable via the `constructor`. The `I18nContext` is `request` SCOPED. So it get's created for each separate `request`. You should inject the `I18nContext` inside your controller calls like so:

[code]

[2021-05-01 12:10] #195 closed

[2021-05-01 12:12] emmanuel-D commented on #195
Oh yess,
My bad 🤦‍♂️ .
I have injected the false Class.
It works as expected now.

[2021-05-01 12:17] ToonvanStrijp commented on #194
@MuBoori thanks for the bug explanation. And cool that you fixed it by providing your own resolver.

One note by doing:
[code]

Your resolver will always resolve to `en`. If you use multiple resolvers this might cause unexpected behavior. Because the other resolves might now be called or checked because the language resolver will return `en` if nothing if found.

It's better to have your resolver

[2021-05-01 12:27] ToonvanStrijp commented on #194
@MuBoori this is fixed in the `V8.1.1` release! 🎉  Please let me know if you have any issues using the pre-build accept-language resolver!

[2021-05-01 12:27] #194 closed

[2021-05-01 12:29] ToonvanStrijp commented on #195
@emmanuel-D great! Happens to the best of us 🤓 🌮

[2021-05-07 11:05] LitvinenkoEvgeny opened #196 "I18nRequestScopeService spec"
Hello is there any way to test I18nRequestScopeService the service?

[2021-05-07 13:35] ToonvanStrijp commented on #196
@LitvinenkoEvgeny could you explain it to me in more detail? I don't understand what you mean by this.

[2021-05-13 14:37] goalia opened #197 "Change bad documentation example about implementation in SampleService"
[code]

I think it can be more obvious if we used `user.HELLO_MESSAGE` in this example. I spend 30 minutes to search what I install wrong until I check at this part of code who I copy paste stupidly 😅

[2021-05-13 14:49] ToonvanStrijp commented on #197
@goalia ow oops didn't know that the documentation had some bugs in the example code! Will change this! :) Thanks! 👀

[2021-05-13 14:52] goalia commented on #197
No problem, feel free to ask me if you have any question about this implementation ;)

[2021-05-19 10:50] jmaver-plume opened #198 "Using I18nModule creates empty service in controller during tests"
I was following existing closed issue https://github.com/ToonvanStrijp/nestjs-i18n/issues/170#issuecomment-728855249 about how to test application.

I have provided a repository for reproduction: https://github.com/jmaver-plume/nestjs-i18n-example-test-not-working

Test fails, because AppService is undefined.
https://github.com/jmaver-plume/nestjs-i18n-example-test-not-working/blob/main/src/app.co

[2021-05-19 11:52] ToonvanStrijp commented on #198
Heey @jmaver-plume  I see you're using the `I18nRequestScopeService` inside your controller. This is bad practice since the `I18nRequestScopeService` has a scope `REQUEST `. This means for each `request` a new instance of `I18nRequestScopeService` will be created when used. For more info see the nestjs documentation about: [injection-scopes](https://docs.nestjs.com/fundamentals/injection-scopes)

[2021-05-19 16:35] Snowklop commented on #1
Hi @ToonvanStrijp thanks for the library, do you have any news?
I've tried to include i18n as custom filter inside pug, but pug does not seem to support async functions... Is there any way to do translations synchronously?
Example of custom pug filter:
[code]

[2021-05-23 15:16] jmaver-plume commented on #198
Thx for help @ToonvanStrijp

[2021-05-23 15:16] #198 closed

[2021-06-02 16:12] kcsanad98 opened #200 "Injecting dependencies into a custom parser"
My aim is to create a custom parser which parses the JSON config files just like that built-in version, but in addition to that it can load translations from a DB.
For the latter I need to inject a service into my custom parser. My approach is the following:

app.module.ts
[code]

translation.module.ts
[code]

i18n.service.ts (communicates with DB)
[code]

i18n-combined-parser.ts (Custom parser)
[

[2021-06-02 19:56] ToonvanStrijp commented on #200
@kcsanad98 coud you send me a repo link, then I can easily test/debug this :)

[2021-06-02 20:23] kcsanad98 commented on #200
Thank you for your quick response. Unfortunately I'm not allowed to share the whole project, but I created a very basic reproduction of the issue: https://github.com/kcsanad98/i18n-test.

[2021-06-14 09:03] sey-hark opened #201 "Translate issue with decoration"
defaultMessage() {
    return this.i18n.translate('validation.key') // <- this returns **promise**
  }

* **should  be**

defaultMessage() {
    return this.i18n.translate('validation.key) // <- this returns **string**
  }

[2021-06-24 02:34] windcloudit opened #203 "Custom resolver is not working"
I created a custom resolver but maybe it is not running now, This is my source code, you can see `console.log('Run here')` is not print out.
I try call by postman with header key is `lang` but it can not translate now, the default language alway be returned, could you help me check it. Thank you so much.

[code]

[code]

[2021-06-24 08:09] ToonvanStrijp commented on #201
This is not an issue. It is by design and you should use it like this:
[code]

[2021-06-24 08:09] #201 closed

[2021-06-24 08:37] ToonvanStrijp commented on #203
Heey @windcloudit I'm not sure what the issue is in your case. Maybe you misconfigured something else. I tried replicating your issue but it works just fine. See the attached zip with my project. (Run `npm install` and than `npm run start:dev`)

[test.zip](https://github.com/ToonvanStrijp/nestjs-i18n/files/6707658/test.zip)

[2021-06-24 08:37] #203 closed

[2021-06-24 08:41] ToonvanStrijp commented on #197
@goalia fixed on master

[2021-06-24 08:41] #197 closed

[2021-06-24 08:42] ToonvanStrijp commented on #196
Closing this due to no response

[2021-06-24 08:42] #196 closed

[2021-06-24 09:21] windcloudit commented on #203
Thank you so much.

[2021-06-25 06:38] windcloudit opened #204 "Language Resolver"
Please help me check this example, I tried using Language resolver on header `lang=nl` but it can't return my language, the default language always be returned, Thank you so much.

[test.zip](https://github.com/ToonvanStrijp/nestjs-i18n/files/6714050/test.zip)

[2021-06-25 13:17] ncthuan opened #205 "Bug on nested translations $t( )"
Version: 8.1.1

This minimum example does work
[code]
with `i18nService.translate('test.shopping', { lang: 'en', args: 'count': 3 });`

But this doesn't `i18nService.translate('test.foo.bar.shopping', { lang: 'en', args: 'count': 3 });`
[code]

I examine the code and found the error in 2 functions `translate()`, `translateObject()` in `i18n.service.ts`
in which the param `rootTranslations` is pass

[2021-06-28 21:13] ToonvanStrijp commented on #205
Fix released in V8.1.2! :tada:  thanks for your work on this @ncthuan

[2021-06-28 21:13] #205 closed

[2021-06-28 21:26] ToonvanStrijp commented on #204
@windcloudit ahh I see, you're using the `custom.resolver` this was just meant as an example, so to fix it you need to import the correct `QueryResolver`. See this zip:
[test (works).zip](https://github.com/ToonvanStrijp/nestjs-i18n/files/6729357/test.works.zip)

[2021-06-28 21:26] #204 closed

[2021-06-28 21:45] ToonvanStrijp commented on #200
@kcsanad98 the setup is correct and should work. The only thing that causes NestJS to get stuck on initialization is your `i18n.service.ts` file. The custom class you're creating to communicate with the DB should have a different name than `I18nService` for example `I18nDBService`.

[2021-06-28 21:45] #200 closed

[2021-07-02 07:45] windcloudit commented on #204
@ToonvanStrijp So sorry I tried your example many time before but it is same it always return default language `en`, This is my postman. Please help me, thank you so much.

![Postman](https://user-images.githubusercontent.com/7861935/124239679-2631f780-db44-11eb-920b-e6e44d697ecb.png)

[2021-07-02 10:05] ToonvanStrijp commented on #204
@windcloudit I think you're confusing the `HeaderResolver` with the `QueryResolver`. In your screenshot above, you're using a custom `header` instead of a `query` parameter. So I think you should use the `HeaderResolver` instead.

[2021-07-02 10:16] windcloudit commented on #204
Thank you so much for you support, It is working now.

[2021-07-13 14:59] in-jorgellose opened #207 "Is it possible to use interpolation when the translation does not exists?"
Is it possible to use interpolation when the translation does not exists?
![image](https://user-images.githubusercontent.com/77500161/125474944-b0545ccc-8541-41d1-a970-2372a3c11741.png)

This is the result
![image](https://user-images.githubusercontent.com/77500161/125474982-90273ca8-5097-46df-938c-44015a188751.png)

But i would like to see as result 'JAJA'

[2021-07-13 16:23] ToonvanStrijp commented on #207
@in-jorgellose Currently it works with a `key` -> `value` mechanism. If you could motivate why this feature would be useful we can include it. `"{var}"` isn't a key, but it's the label you want to use. You can however define a global translation file in which you could define such thing.

[2021-07-14 07:00] in-jorgellose commented on #207
Is something that works in i18n original package, that´s why i am missing it, but your module, on the other hand can load translations from db which is great.

[2021-07-14 11:59] ToonvanStrijp commented on #207
@in-jorgellose sure we can include that functionality but I wanna know when do you use this feature? :)

[2021-07-14 13:28] in-jorgellose commented on #207
I use this feature when someone does not include key/value in the default translation, i prefer to see at least "My name is George" than "My name is {name}"

[2021-07-14 14:05] ToonvanStrijp commented on #207
@in-jorgellose but how would you end up using `translate("My name is {name}")`? Cause you're using a `key` to tell which translation to use and not the translation itself? Sorry for making this a struggle, I'm just wondring what the use-case is for this feature.

[2021-07-14 21:38] KCFindstr opened #208 "AcceptLanguageResolver incorrectly picks the first partially matched language"
I noticed that AcceptLanguageResolver uses accept-language-parser in loose mode, which means the order of the languages matter from the [documentation](https://github.com/opentable/accept-language-parser).

This resulted in some strange behaviors. For example, if the provided languages are:
`['zh-CN', 'zh-TW']`
`zh-CN` (simplified Chinese) will always be picked even if the accept language is `zh-T

[2021-07-14 21:50] ToonvanStrijp commented on #208
Woow great that you mention it! Never would have found it without your help! I think we can change the behaviour of the default accept-language resolver so that it works with your scenario? Lemme know what you thinks :)

[2021-07-14 22:43] KCFindstr commented on #208
I'm not familiar with accept-language-parser but it seems that the loose option was added in #179 to fix another bug? I don't know if any other accept-language parsers can handle this better, but a temporary fix I can think about is to pick without loose first, and if nothing matched, then pick in loose mode again?

[2021-07-16 07:40] NarHakobyan opened #209 "Nestjs v8 support"

[2021-07-16 11:48] Jedliu commented on #209
Same problem. It's not possible to install in Nestjs V8 project. Thank youm

[2021-07-16 11:55] ToonvanStrijp commented on #209
@Jedliu could you create a sample repo? Then I can easily debug it and create a fix.

[2021-07-16 11:58] Jedliu commented on #209
Thank you for your quick reply. Just create a new Nestjs project via CLI and install the package. It shows the error as below.

`npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: my-nestjs-starter@0.0.1
npm ERR! Found: @nestjs/common@8.0.4
npm ERR! node_modules/@nestjs/common
npm ERR!   @nestjs/common@"^8.0.0" from the root project
npm ER

[2021-07-16 12:12] ToonvanStrijp commented on #209
@Jedliu I tried recreating the issue but for me it's just working fine. I've created a sample repo with the setup that I'm using right now: https://github.com/ToonvanStrijp/i18n-nestjs-v8-sample

Let me know if this doesn't work on your machine. (What nodejs version are you using?)

[2021-07-16 12:35] Jedliu commented on #209
My npm version is 7.19.1.

I tried your sample repo and it's okay to install. When I run npm install, I got this.

npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one-time fix-up, please be patient...
npm WARN old lockfile

[2021-07-16 12:46] NarHakobyan commented on #209
@ToonvanStrijp it will work, but you will get a lot of warning about dependency incapabilities. could you please update all versions to latest versions?

[2021-07-16 13:13] ToonvanStrijp commented on #209
@Jedliu @NarHakobyan fixed! 🎉  (version 8.1.3)

[2021-07-16 13:13] #209 closed

[2021-07-16 13:42] Jedliu commented on #209
Thank you for your fast response!

[2021-07-16 13:54] ToonvanStrijp commented on #209
@Jedliu no problem! :)

[2021-07-17 19:50] Jedliu opened #210 "Lang is not set in ExceptionFilter when not authroized."
Please check this repository [Repository](https://github.com/Jedliu/i18n-nestjs-v8-sample/tree/exception-filter)

For this sample snippets https://github.com/ToonvanStrijp/nestjs-i18n#translating-httpexceptions

I can't get the `ctx.getRequest().i18nLang` if I don't pass the auth jwt token. Here is how you can reproduce the problem.

1. Visit [localhost:3000?lang=nl](http://localhost:3000?lang=nl)

[2021-07-19 12:38] ToonvanStrijp commented on #210
@Jedliu the reason for this is because this package makes use of a `interceptor`. The `interceptor` is being executed after all the guards have finished. Because of this you can't get the defined `lang` when your `guard` fails.

[2021-07-19 13:40] Jedliu commented on #210
Do you have any suggested workaround for this? If not, please close this issue. Thank you!

[2021-07-20 00:41] lion-ctrl opened #211 "Get client language"
- How do you get this value @ I18nLang () lang: string?
- of the headers?
- what is the header that is sent?

[2021-07-20 15:42] lion-ctrl commented on #211
Thank you so much! 👍

[2021-07-20 15:42] #211 closed

[2021-07-20 18:07] JavierBrooktec commented on #210
[code]

[2021-07-21 03:27] Jedliu commented on #210
Yes, it's possible to get the lang by a query parameter. That may be a fallback solution since usually we put the lang in the header. Thanks for your reply!

[2021-07-25 15:47] GoldraK opened #212 "I18nRequestScopeService with JwtService"
Hello,
I first wanted to thank you for your time and the package.

I have a problem with the `I18nRequestScopeService`, when I load it into the service the `JwtService` stops working for me

[code]

[code]

But if I retrieve the language in the controller and send it to the service it works perfectly.

[code]

[code]

Thanks for your time.

[2021-07-26 13:46] ToonvanStrijp commented on #212
@GoldraK Hi, I think it has something to do with the fact that the `I18nRequestScopeService` get created for every request that comes in. I would recommend using it like you did in the second sample. This is better for performance.

[2021-07-26 13:47] ToonvanStrijp commented on #210
I'm going to close this issue, since there is no good way to work around this for now. Maybe if NestJS changes the structure of how interceptors and exception filters work. But I don't expect any change for now.

[2021-07-26 13:47] #210 closed

[2021-07-26 13:50] GoldraK commented on #212
@ToonvanStrijp Thanks for your answer.

I will do it so

Thanks.

[2021-07-26 13:50] #212 closed

[2021-07-27 10:44] mbeckenbach commented on #81
@ToonvanStrijp @mowies
I know the ticket is closed and I fully understand that @ToonvanStrijp does not have infinite time. But I want to bring this one up again for a general discussion.

My wife works as a professional translator. And she gave me feedback, that the JSON format is not really what these guys like most. They prefer xliff a lot because there is much better tooling for it on the marke

[2021-07-27 12:00] mbeckenbach commented on #81
I found a way to abuse the angular i18n-extract. In my case, it runs in an NX Workspace that shares Angular and NestJs apps. So the angular i18n packages are already installed.

This does at least the extraction already. But I think it might be something to build upon.

[code]

The magic command:

[code]

[2021-07-29 10:49] shanipasr opened #214 "nestjs-i18n blocks my local passport strategy"
I am working with nestjs. I implemented i18n from the following tutorial available on the [nestjs-i18][1]n

To my surprise when I add the following configurations in the app module it messes up with my passport local strategy.

[code]

when I try to login it gives the following error:

`Unknown authentication strategy "local"`

My local passport strategy works fine if I remove the i18n configurati

[2021-07-29 11:12] ToonvanStrijp commented on #214
@shanipasr can you create a sample repository so that I can easily reproduce this issue?

[2021-07-29 13:51] shanipasr commented on #214
@ToonvanStrijp  Thanks for the quick reply.
Please find the repository [here] (https://github.com/shanipasr/nestjs-i18n)

I have figured out it was not importing the i18nModule but injecting the service instead Please refer to the Readme file on how to reproduce the issue.

[2021-07-30 11:33] ToonvanStrijp commented on #214
@shanipasr going to close this issue since it's a limitation of `passport` in combination with `nest`. See this comment for more info: https://github.com/nestjs/nest/issues/1870#issuecomment-567517328

[2021-07-30 11:33] #214 closed

[2021-07-30 20:37] Ahhsan commented on #214
Thanks for your help @shanipasr

[2021-08-02 07:49] KCFindstr commented on #208
Are there any updates on this? If not, I'm going to write my own accept language resolver.

[2021-08-02 12:19] GoldraK commented on #97
@Ami777 Your code work fine but if you have nested dto not work correctly I made a little fix

[code]

[2021-08-02 12:23] ToonvanStrijp commented on #208
@KCFindstr sorry I’ve had the time yet to look into this. (Currently on vacation). Feel free to make a pull request (as long as it doesn’t break any existing tests)

[2021-08-04 05:56] kokoraka opened #217 "Testing failed can't resolve dependencies I18nRequestScopeService"
Hi, it's very helpful to have nestjs i18n utility

### I've already test within my personal project, but sadly it's failing my test.

Here's what i've already did:
1. Install and setup `nestjs-i18n` in nestjs latest version `8.*.*`
2. Import I18nModule in `app.module.ts`
![nest-i18n-app-module](https://user-images.githubusercontent.com/60498861/128128348-83b4bb8a-a3a5-4b2f-9722-b26dd4d4dce0.png)

[2021-08-09 17:45] #208 closed

[2021-08-09 18:07] ToonvanStrijp commented on #207
@in-jorgellose closing this due to no new comment from issuer.

[2021-08-09 18:07] #207 closed

[2021-08-10 16:59] kokoraka opened #218 "Unit testing controller translation returning translation key"
Hi, it's very helpful to have nestjs i18n utility

### I've already test within my personal project, but sadly it's failing my unit test.
Here's what i've already did:

1. using i18nService in Controller constructor
2. using i18nLang() decorator in my Controller method
![controller-implementation](https://user-images.githubusercontent.com/60498861/128901871-6b5d314b-7d13-4a2d-9ddf-1679adf2f154.png

[2021-08-10 20:50] ToonvanStrijp commented on #218
Can you give me a repository with this problem in it. That way I can easily debug and test it

[2021-08-10 20:50] ToonvanStrijp commented on #217
Can you give me a repository with this problem in it. That way I can easily test and debug it :)

[2021-08-11 00:43] kokoraka commented on #218
Oops, sorry for the inconvenience.

Here's the repo: https://github.com/kokoraka/nestjs-i18n-issue/tree/feature-i18n

[2021-08-11 00:53] kokoraka commented on #217
Oops, sorry for the inconvenience.

Here's the repo: https://github.com/kokoraka/nestjs-i18n-issue/tree/feature-i18n-scope

[2021-08-14 03:05] kokoraka commented on #218
I think i already figured out what's causing my test to fail.

When i remove `watch: true` my test passed

[2021-08-14 13:39] #218 closed

[2021-08-14 13:39] #217 closed

[2021-08-23 02:08] WillYouth commented on #113
Hi, same here.
This is my nest-cli.json, but my dist/i18n still missing when I run npm run build:dev
![image](https://user-images.githubusercontent.com/22805266/130380374-cc810ea8-1788-4a06-9e21-04ce899eec5d.png)

[2021-08-29 09:22] kokoraka opened #219 "i18n language is not resolved when used with nest guard"
I wanted to use rate limiting from [official rate limiter](https://docs.nestjs.com/security/rate-limiting)

It's work perfectly but the only problem is when the ThrottlerException thrown, my `HttpExceptionFilter` failed to resolve `i18nLang` from `ctx.getRequest()`.

If I understand correctly from the nest [request life cycle ](https://docs.nestjs.com/faq/request-lifecycle), nest-throttler is usin

[2021-08-29 19:07] gcherem opened #220 "How to resolve languages from a bull queue?"
The application only consumes a bull queue. No API at all. The language is a property from the bull job.

How do I resolve the language?

Thanks in advance!

[2021-08-30 07:43] ToonvanStrijp commented on #220
@gcherem could you send me a repository which demonstrates this issue?

[2021-08-30 17:54] gcherem commented on #220
Hi @ToonvanStrijp, thank you for your quick reply.

Here is the repo
https://github.com/gcherem/mail-queue

key files are
- app.module.ts
- app.processor.ts (see line 52)

Thank you again

[2021-08-31 08:09] ToonvanStrijp commented on #220
Hi @gcherem Uhm I'm not sure but how are you triggering the processor? Cause to me this seems like something that's outside the scope of this plugin. If for example user A triggers a Job, then you should provide the language during the creation of that job within the data.

[2021-08-31 21:29] lodisy opened #221 "Always shows the fallback lang"
Hello,

I don't know if i missed something. The json files are valid.

Here is my code:

global HttpException filter:

[code]

app.module.ts:
[code]
example exception:
[code]
file directory:

![Screenshot 2021-08-31 at 23 21 18](https://user-images.githubusercontent.com/8101584/131577540-022de9a8-22c1-4741-af84-c79e2732f329.jpg)

test result with postman:

![Screenshot 2021-08-31 at 23 26 24](http

[2021-09-02 05:28] davidramosweb opened #222 "Global interceptors does not work in microservices"
Hello,
I am working on an application with multiple microservices. The problem is that global interceptors don't seem to work in these applications. https://github.com/nestjs/nest/issues/353#issuecomment-357700029
It seems the only possible way is to use it with the @UseInterceptors decorator. https://docs.nestjs.com/microservices/interceptors

Would it be possible to export the I18nLanguageInterc

[2021-09-02 05:52] davidramosweb opened #223 "I18nRequestScopeService does not work with gRPC"
I18nRequestScopeService gets the i18nLang from REQUEST (this.req.i18nLang), but when using gRPC, the interceptor stores this information in context and the service does not get the variable correctly.
https://github.com/ToonvanStrijp/nestjs-i18n/blob/master/src/utils/context.ts
[code]

Using gRPC, i18nLang is not in the root of the object but inside context:
[code]

A possible solution could be to

[2021-09-02 06:24] ToonvanStrijp commented on #223
Heey @davidramosweb thanks for noticing this issue. I’m quite busy today but if you could make a pull request and add test cases for this that would be great!

[2021-09-02 07:21] #223 closed

[2021-09-02 07:27] ToonvanStrijp commented on #221
@lodisy could you send me a sample repo demonstrating this issue. That way I can better test and debug this problem :)

[2021-09-02 07:30] ToonvanStrijp commented on #222
@davidramosweb of course we can make this happen. I'll create a new release soon :)

[2021-09-02 07:33] ToonvanStrijp commented on #222
Released in V8.1.5 🎉

[2021-09-02 07:33] #222 closed

[2021-09-02 07:38] ToonvanStrijp commented on #219
@kokoraka Thanks for pointing this out again. I've stumbled upon this earlier but never felt like changing something. The thing is that middleware only targets HTTP handlers. So we wouldn't be able to support all other frameworks such as GraphQL, GRPC etc. One thing we could do is checking whenever a `http` handler is used and if so, we choose to enable the middleware instead of the interceptor.

[2021-09-02 08:24] kokoraka commented on #219
Ya i see your point @ToonvanStrijp.
Since the nestjs author also not gonna change the flexibility of their lifecyle, in the mean time I'm gonna make some work around it.

[2021-09-02 14:41] lodisy commented on #221
Hello, just made one https://github.com/lodisy/nest-i18n-test.

1. You can clone the repository, run `yarn install`
2. Run the server by `nx serve nest-i18n-test`
3. Add a user by sending a POST to  `http://localhost:3333/auth/register` with basic email and password
4. Login with invalid credentials at `http://localhost:3333/auth/login`, should shows the error message in English
5. Change the `FAL

[2021-09-03 15:44] kokoraka commented on #221
Hi @lodisy I'm seeing you're using `watch: true` on your module initialization.

It's look like you're facing the same issue like me few weeks ago: [Failing my testcase](https://github.com/ToonvanStrijp/nestjs-i18n/issues/218)

Try to remove the `watch: true` and wish you luck!

[2021-09-04 14:38] dvoyakiy opened #225 "Property 'intercept' in type 'I18nLanguageInterceptor' is not assignable to the same proper ty in base type 'NestInterceptor<any, any>'"
When I'm trying to set up the project, I'm getting this error:

`Property 'intercept' in type 'I18nLanguageInterceptor' is not assignable to the same proper
ty in base type 'NestInterceptor<any, any>'.
  Type '(context: ExecutionContext, next: CallHandler<any>) => Promise<Observable<any>>' is not assignable to type '(context: ExecutionContext, next: CallHandler<any>) => Observable<any>
 | Promise<

[2021-09-08 09:25] kmgalanakis commented on #225
@ToonvanStrijp I have the same issue too after updating from `8.1.4` to `8.1.6`.

[2021-09-08 09:29] ToonvanStrijp commented on #225
@kmgalanakis or @dvoyakiy  can you provide me with a sample repo to reproduce this issue?

[2021-09-08 10:57] kmgalanakis commented on #225
Here you go. https://github.com/kmgalanakis/nestjs-graphql-test-for-nestjs-i18n

`npm install && npm run build`

[2021-09-08 10:58] ToonvanStrijp commented on #225
@kmgalanakis I think your project is private cause I get a 404 when clicking on the link

[2021-09-08 11:01] kmgalanakis commented on #225
You are right, my bad. Should be OK now.

[2021-09-08 12:44] ToonvanStrijp commented on #225
I'm looking at it right now, but have now Idea of what's going wrong...

[2021-09-08 13:13] kmgalanakis commented on #225
Thank you, no rush from me.

[2021-09-12 16:34] kaname-png commented on #225
@ToonvanStrijp
I am having the same problem.
[code]

[2021-09-16 08:32] flamerged commented on #1
I was looking to use i18n in Handlebars and had no luck finding something. We are using this package now for translations and we made a Handlebars module which uses the i18nest service. It is used in a custom helper function like this:

`@Injectable()
export class HandleBarsService {
  public logger = new LoggerService(HandleBarsService.name)
  hbs = Handlebars.create()

  constructor(private read

[2021-09-19 11:04] frangambin1 opened #228 "Translation creation"
Hello there:
I have implemented the library with the NestJS framework and I miss the protocol to follow.

The function await i18n.translate ('test.prueba') only returns the translation if it exists, otherwise it returns the key (test.prueba).

Would it be possible to use this function to create the translation in the case that it does not exist so that later a specialist can translate and display

[2021-09-19 19:13] frangambin1 commented on #228
Would it be possible to see the missing strings to translate?

[2021-09-22 14:18] falahati commented on #225
my nestjs is on version 6.7.7 of rxjs while this plugin is on 7.3.0; I guess that is the source of the problem.

[2021-09-22 14:52] falahati commented on #225
updating to nestjs v8 and removing explicit rxjs dependency (or updating it) solves the problem. you might get some invalid rxjs versions tho with some older packages.
having a version of this package for nestjs v7 would really help.

[2021-09-24 13:02] ToonvanStrijp commented on #228
@frangambin1 what we could do is make use of the internal `nestjs` logger. That also prints a log saying something like `I18N: Translation "..." missing`?

[2021-09-26 14:35] #228 closed

[2021-10-05 15:12] guilopesn opened #232 "Add support to i18n on Swagger integration"
Add support to use i18n with Swagger integration, translating the generated documentation.

Link:

https://docs.nestjs.com/openapi/introduction

[2021-10-17 21:01] SergioSuarezGil opened #233 "Pass arguments to translation"
It is possible pass arguments to translations?

Something like this:

js file
`i18n.t('TRANSLATION', name: 'name')
`

translation file
`"TRANSLATION": "Hello {{name}}"
`

Thanks!

[2021-10-17 21:42] #233 closed, assigned to nobody

[2021-10-25 12:30] brandart opened #234 "nested translations don't work without args"
nested translations don't work without args:

`this.i18nService.translate("test.shopping", { lang: "en" });`

result in:
`We go shopping: $t(test.day_interval)`

but
`this.i18nService.translate("test.shopping", {lang: "en", args: {} });`
translates to:
`We go shopping: 5`

json file looks like:
[code]

[2021-10-27 09:53] jmaver-plume opened #235 "Does Custom Language Resolver require Request Scoped service to work?"
I am following the documentation to create a language resolver.
https://www.npmjs.com/package/nestjs-i18n#custom-resolver

If we use I18nService to translate it uses the fallbackLng.

If we use I18nRequestScopeService it correctly translates based on language returned in resolver.

[2021-11-01 15:58] lucasgiusti opened #236 "get a remote file?"
Is possible get a remote file json to use to translation?
`I18nModule.forRoot({
      fallbackLanguage: 'pt-BR',
      parser: I18nJsonParser,
      parserOptions: {
        path: `http://.../translations.json`,
      },
    }),`

return the error:
`at I18nJsonParser.parseTranslations .../node_modules/nestjs-i18n/src/parsers/i18n.json.parser.ts:84:13)`

[2021-11-01 18:02] ToonvanStrijp commented on #236
Hi @lucasgiusti remote files aren't supported. But what you could do:
[code]

[2021-11-01 18:02] #236 closed

[2021-11-01 18:03] ToonvanStrijp commented on #234
@brandart good one! Didn't know this was an issue. I don't have time to work on it now, so if you want a fix, please make a pull request.

[2021-11-04 19:35] RafaPili1 opened #237 "i18n service failing to start on monorepo"
Hello, I have a monorepo project in nestJS, and I'm trying to internationalize it using this lib. However, when I try to run the project, I get the following error:
[code]
This is how I'm importing the module:
`I18nModule.forRoot({
      fallbackLanguage: 'pt',
      parser: I18nJsonParser,
      parserOptions: {
        path: path.join(__dirname, '/i18n'),
      },
      resolvers: [new HeaderRes

[2021-11-08 07:52] ToonvanStrijp commented on #237
Are you also sure that the i18n folder get's copied to the `dist` folder during build time?

[2021-11-09 18:13] RafaPili1 commented on #237
Yes, I verified that. Also, when the i18n is not present in the dist folder, the error output is different.

[2021-11-12 18:30] brussev opened #238 "Disable logging"
hey, is there a possibility to disable the logging of missing translations?

[2021-11-12 19:30] ToonvanStrijp commented on #238
Feel free to open a pull request :)

[2021-11-12 19:30] #238 closed

[2021-11-12 21:36] ToonvanStrijp commented on #237
@RafaPili1 can you send me a sample repo containing the issue?

[2021-11-12 21:37] #219 closed

[2021-11-12 21:37] ToonvanStrijp commented on #220
Closing due to inactivity

[2021-11-12 21:37] #220 closed

[2021-11-12 22:09] ToonvanStrijp commented on #225
This issue is now fixed in version `1.8.9`

[2021-11-12 22:09] #225 closed

[2021-11-12 22:39] ToonvanStrijp commented on #235
Closing due to inactivity

[2021-11-12 22:39] #235 closed

[2021-11-13 18:51] brussev commented on #225
is the issue fixed for others too? I just checked out the project and I am having the same issue.

[2021-11-13 18:55] ToonvanStrijp commented on #225
@brussev no you need to update to `8.1.9`

[2021-11-13 20:29] brussev commented on #225
yes just did it, my bad working now.

[2021-11-13 20:45] brussev opened #241 "I18nContext is not resolved in extension resolvers"
I am using Apollo federation with Nest and I am in process of adding translation using this library.

I am having a case right now where the decorator `I18n()` is not available when I am resolving extended types.
Here is some code

[code]
[code]

Every time I am resolving an internal type everything is fine but the issue is only when resolving extended types which live in different services.
Is so

[2021-11-15 02:28] sulfanoaf opened #242 "Path not found with NestJS + Serverless + Lambda"
I am using nestJS 8, deployed to AWS with Serveless
I already follow the instalation step.
It works in local machine, but in the AWS server got this error
[code]

How to solve it ?

[2021-11-24 15:06] brussev commented on #238
@ToonvanStrijp can I get rights to push to remote branches so I can open a pr for this change

[2021-11-24 15:41] ToonvanStrijp commented on #238
@brussev you don't need rights to this repository for that. Please create a fork and than create a pull request from your forked repo to this one.

[2021-11-24 17:52] itseramin commented on #242
`dist/dist` doesn't seem right to me

[2021-11-24 18:36] ToonvanStrijp commented on #242
@itseramin good catch!

[2021-11-25 07:12] #241 closed

[2021-11-26 08:54] productdevbook opened #243 "yaml support"
how to yaml language used

[2021-11-26 09:15] ToonvanStrijp commented on #243
@productdevbook this isn't supported yet. But feel free to make a pull request.

[2021-11-26 15:35] brussev commented on #238
@ToonvanStrijp hey sorry you are right, here is the PR https://github.com/ToonvanStrijp/nestjs-i18n/pull/244
if there are some issue let me know to fix them :)

[2021-11-28 04:17] sulfanoaf commented on #242
Hi @itseramin @ToonvanStrijp
just want to clarify
i already follow the installation step.
but somehow, when i deploy with sls(serverless), there is a file that reading into `/dist/dist/i18n`.
but the i18n is on `/dist/i18n`
i don't know what file that read `/dist/dist/i18n`.

[2021-11-29 15:56] doonpy opened #247 "Can't inject dependencies in forRootAsync()"
After I upgrade to version 8.2.0. I have a bug when injecting dependencies in `useFactory()`.
Maybe degrade by PR https://github.com/ToonvanStrijp/nestjs-i18n/pull/246

[code]

<img width="627" alt="Screen Shot 2021-11-29 at 22 55 27" src="https://user-images.githubusercontent.com/43347998/143900260-e5337a03-4fae-4b12-b325-fd87be716d97.png">

[2021-11-29 16:51] ToonvanStrijp commented on #247
@doonpy oops! I'll fix this ASAP

[2021-11-29 17:03] doonpy commented on #247
Thank you 🤣

[2021-11-29 17:21] ToonvanStrijp commented on #247
@doonpy fixed in V8.2.1 🎉

[2021-11-29 17:21] #247 closed

[2021-11-30 02:11] doonpy commented on #247
Thank you. I'll check it.

[2021-12-01 22:05] #221 closed

[2021-12-10 05:30] productdevbook opened #250 "TypeError: this.i18n.translate is not a function"
[code]

[2021-12-10 07:26] toonvanstrijp commented on #250
Sorry but I can't help you with the information that you've given me. Could you send me a sample repository containing the issue? Also add some more logs etc next time issueing a commit ;)

[2021-12-10 11:00] fkozaslan commented on #250
Hi, We are team, I can explain like this:

AppModule:

![image](https://user-images.githubusercontent.com/41776940/145562551-9efba2c9-7524-4442-9b51-aa3a8fa150e4.png)

Our Repository:

[code]
our src folder in i18n example:

![image](https://user-images.githubusercontent.com/41776940/145563088-04029c4b-0438-41fb-9a05-161f04c3d12f.png)

and this folder creating  auto when "yarn start" in "dist"

bu

[2021-12-10 11:23] toonvanstrijp commented on #250
@fkozaslan Can you send a sample repository? That way I can easily test and debug the problem :)

[2021-12-10 19:47] chihabeeddine opened #251 "Nest can't resolve dependencies of the I18nLanguageInterceptor"
Hello, After upgrading nest to v8, I'm having problem making `nestjs-i18n` work.

Here's the Error I'm getting
[code]

Versions:

[code]
Thank you for your help

[2021-12-11 15:46] productdevbook commented on #250
@toonvanstrijp

[code]
this problem, dont read i18n.

But resolver, etc used. no problem.
this working.
[code]

how to used with `extends Repository<User> {` ?

[2021-12-11 15:51] toonvanstrijp commented on #250
@productdevbook  Can you send a sample repository? That way I can easily test and debug the problem :)

[2021-12-11 15:53] productdevbook commented on #250
The question is, how do we break a project and give it to you? We didn't do anything like that afterwards.  :)

I can only give this much. Believe me, I would like to give you an example project, but it doesn't seem easy.

[2021-12-11 17:05] micalevisk commented on #250
the problem here is that we can't inject things in a [custom repository](https://docs.nestjs.com/techniques/database#custom-repository). I don't think you can do anything @toonvanstrijp

[2021-12-11 20:00] toonvanstrijp commented on #250
@micalevisk I think you're right. It seems like the custom repositories are initiated outside nestjs that's why you can't inject anything.

[2021-12-11 20:00] toonvanstrijp commented on #250
Closing this! For more info please read this stack overflow: https://stackoverflow.com/questions/60347894/how-do-you-inject-a-service-in-nestjs-into-a-typeorm-repository

[2021-12-11 20:00] #250 closed

[2021-12-12 04:57] productdevbook commented on #250
thank you fixed. https://stackoverflow.com/a/70084418 @micalevisk and thank you

[2021-12-14 18:02] micalevisk commented on #251
you need to make sure that you don't have multiple `@nestjs/core` source under yours project's `node_modules`

[2021-12-21 09:32] jensysantana opened #253 "Hi, I have some middlewares using global mode in main.ts"
Hi, I have some middlewares using global mode in main.ts.

app.use (mymiddlewarename)

so how can I instance the i18n.translate ('common.2') or i18n.t ('common.2');

In my middleware?

 Like (new i18n())?

[2021-12-21 10:40] toonvanstrijp commented on #253
You can't `nestjs-i18n` makes use of an `interceptor` to parse and add `i18n` to the current application context. Middlewares are `http` specific. i18n is build with flexibility in mind. You could inject the `i18nService` and but you're responsible of parsing the language yourself.

If we would like to make it possible to use i18n inside middlewares we need to shift from an interceptor towards a m

[2021-12-21 10:40] #253 closed

[2021-12-21 19:08] jensysantana commented on #253
oh.ok mean with this package I can't.

[2022-01-11 05:38] mbraz commented on #113
Hi guys! I have same problem using incremental compiles in --watch mode.

See https://docs.nestjs.com/cli/monorepo#global-compiler-options in line assets | array says _(...) asset distribution does not happen on incremental compiles in --watch mode_

My solution:

Install in VSCode https://marketplace.visualstudio.com/items?itemName=appulate.filewatcher

In **.vscode/settings.json** add...

    "f

[2022-01-11 13:40] pezholio commented on #120
FWIW - this is exactly the problem I had, and deleting the `dist` folder solved my issue.

[2022-01-13 14:52] Tomas2D opened #255 "Languages mapping on Resolver level"
Image situation when a user sends a request with `Accept-Language` like this `cs-CZ`, `pn-PL` and `en`.
Because in your translation directory, there `cs`, `pn` and `en` directory, only `en` will match. But you know that `cs-CZ` is the same as `cs`, and thus, you did a wrong language match.

I would like to propose a simple mechanism, which would work the same as [Fallbacks](https://github.com/toon

[2022-01-13 19:30] toonvanstrijp commented on #255
Hi @Tomas2D, I think this is already doable by implementing your own resolver? If not it would be a great feature to have some more control over the way this library resolves the language.

[2022-01-15 09:55] Tomas2D commented on #255
Sure, but that own resolver will be a simple copy-paste of the `AcceptLanguageResolver` with only one line changed...

https://github.com/toonvanstrijp/nestjs-i18n/blob/9d0ae4cd8febecde931d7b01d2ddc6166010d3f2/src/resolvers/accept-language.resolver.ts#L33-L34

to just

[code]

[Demo](https://runkit.com/tomas2d/61e299c548ee610009e51f5f)

I think that option could be added to a config. What do you t

[2022-01-15 18:09] toonvanstrijp commented on #255
@Tomas2D feel free to make a pull request! :) I don't really have the time for it now. Sorry

[2022-01-17 17:49] #255 closed

[2022-01-18 22:10] onurmus opened #259 "Check translation exists or not"
I need to find a way to check whether a translation exists or not. In my case, I have 4 languages and if the translation does not exist for language A, I'll check language B. I do not want to use directly fallback language. Is there a way to do this?

[2022-01-20 13:13] te-online opened #261 "Add `defaultValue` to fall back to if translation does not exist"
Some [i18n libraries](https://www.i18next.com/translation-function/essentials#overview-options) have a `defaultValue` property. It works as a fallback if no translation for the key was found and can be used as the default value in the json-file when programmatically extracting keys from code. We've additionally had great success using `defaultValue` to make our code more readable, since seeing jus

[2022-01-24 16:04] Kimblis opened #262 "Retrieving language in Exception Filter"
Hey, so I have the following setup-
![image](https://user-images.githubusercontent.com/46688616/150818736-4c023ac6-69ef-4212-9930-3e681d993e27.png)
And I want to throw translated message in my exception filter, however I still don't find a way to retrieve the language. How should it be done? Tried to do it with decorators in constructor (getting dependency errors), also tried to retrieve via conte

[2022-01-31 13:03] wantedsystem commented on #237
@toonvanstrijp Hello i have the same problem with a monorepo project when migrating to Nest v8

This is how I'm importing the module:

app.module.ts
[code]

package.json
[code]
Can you help me ?

[2022-02-02 20:26] yepMad commented on #262
Ideally it would be by `ctx.getRequest().i18nLang` but this is returning `undefined`. I created a custom resolver and I notice that it is not called by nest-i18n. I believe this is a bug @toonvanstrijp, can you help?

[2022-02-02 21:29] yepMad opened #263 ""resolvers" don't work if the lifecycle is stopped on a Guard"
In some points of my application I have Guards. If the application is stopped by one of these guards, in my exception filter "ctx.getRequest().i18nLang" is given as undefined.

[2022-02-03 03:40] yepMad commented on #262
It is normally with "ctx.getRequest().i18nLang", but has a problem in one use case see: https://github.com/toonvanstrijp/nestjs-i18n/issues/263#issue-1122406270

[2022-02-03 08:38] toonvanstrijp commented on #263
This is not an isssue. If you look at the request lifecycle of NestJS. You can see that the Guards are run before interceptors. So that's why the language isn't resolved yet. https://docs.nestjs.com/faq/request-lifecycle#summary

[2022-02-03 08:38] #263 closed

[2022-02-03 08:39] toonvanstrijp commented on #262
This is not an isssue. If you look at the request lifecycle of NestJS. You can see that the Guards are run before interceptors. So that's why the language isn't resolved yet. https://docs.nestjs.com/faq/request-lifecycle#summary

[2022-02-03 08:39] #262 closed

[2022-02-04 12:15] aoleszek opened #265 ""Fallbacks" option does not work properly if the language exists"
Hello,
I've noticed that the "fallbacks" option only works properly when the language on left side is missing from the language directory.

My config looks like this:

[code]

According to the documentation of "fallbacks" option, when the translation for `sales_pl` is missing, it should first look for it in `pl` translation and then in `fallbackLanguage` which is `en`.

![image](https://user-image

[2022-02-11 22:19] aoleszek commented on #265
I have decided to fix this issue by changing the way my own code works, as the use case here is probably not the proper one. I am going to close this issue.

[2022-02-14 15:33] iliazeus opened #269 "Add a "debug language" that would just return keys, regardless of which fallbackLanguage is set"
This would be extremely useful for debugging locale files.

[2022-02-16 14:40] 4uva4ok1905 commented on #97
My implementing:
[code]

Use:
`
throw new BadRequestException('auth.error.login');`

or
[code]

[2022-02-20 19:01] crtl opened #270 "Cannot inject service into I18nResolver implementation"
I want to get the current logged in users language setting to set the language for translation for that I wanted to add a custom resolver like described in the docs but I am unable to inject my services into them and there is no information about this anywhere.

app.module.ts
[code]

AppUserLanguageResolver.ts
[code]

user.service.ts
[code]

When running nest I get the following error:
[code]

pac

[2022-02-20 19:51] toonvanstrijp commented on #270
@crtl could you create a repository that illustrates this issue? That way I can take a look at it myself :)

[2022-02-21 20:44] crtl commented on #270
@toonvanstrijp Yes I have created a simple reproduction here [crtl/nestjs-i18n-resolver-di-repro](https://github.com/crtl/nestjs-i18n-resolver-di-repro)

`TestResolver` depends on `TestService` which depends on `AppService`.

[2022-02-22 21:10] toonvanstrijp commented on #270
@crtl Alright I have a solution:

create a file called `common.module.ts`:
[code]

Then change your `app.module.ts` like so:
[code]

One other small note, the current `path.join(__dirname, '/i18n')` doesn't point to an existing directory.

[2022-02-22 22:09] crtl commented on #270
@toonvanstrijp Thanks for the reply, I will check this out and close the issue when it works.
The example was very minimal im aware of the path, thanks anyways.

[2022-02-25 18:26] toonvanstrijpwavy commented on #270
@crtl did it work? :)

[2022-02-28 15:47] iliazeus opened #271 "Allow to switch to double braces for variable placeholders"
A lot of localization and templating libraries use the `{{foobar}}` syntax, as opposed to `{foobar}` that this library uses. Since my team already has a lot of code that uses those other libraries (e.g. front-end), we want to manage all the translations together. So, it would be nice to have an option to switch to the double-brace syntax.

[2022-03-01 06:46] itizarsa opened #272 "Ability to set resolves in forRootAsync useFactory method"
I would like to request a way to set resolvers inside useFactory method in forRootAsync.

We use env variables to get the custom language headers and it would be great to set resolvers inside useFactory like below

[code]

If it can be achieved in some other way, please let me know. Thanks.

[2022-03-01 07:10] toonvanstrijp commented on #272
This would be possible with a few modifications. But I don't really have time for it. So if you could make a pull request that would be great.

[2022-03-07 19:05] crtl commented on #270
@toonvanstrijpwavy Sry for the late response, yes it works. Thank you very much.

[2022-03-07 19:17] crtl commented on #270
@toonvanstrijp Ok it does not work. The DI issue is gone but the service is undefined.
Maybe I should mention that one the services are `Scope.REQUEST` but also removing the scope made no diffrence.

[2022-03-10 23:27] colaquecez opened #274 "Throw error"
When I have a throw inside my repository I get this error :(

<img width="898" alt="Screen Shot 2022-03-10 at 20 25 57" src="https://user-images.githubusercontent.com/38195454/157772292-4030cf3d-6d39-4f3d-98f1-64169bd32264.png">

[2022-03-11 11:15] toonvanstrijp commented on #274
The translation key there you're providing is `undefined` please show me more of the code you're using so that I can help you out :)

[2022-03-11 11:16] toonvanstrijp commented on #269
@iliazeus feel free to create a pull request for it. A options called `debug: Boolean` would suffice.

[2022-03-13 19:28] colaquecez commented on #274
I was not passing the Key in the Throw, I got it! thank you!

[2022-03-13 19:28] #274 closed

[2022-03-17 13:56] frle10 commented on #1
I tried this but unfortunately it doesn't work for me. I tried different versions of your idea. Here is the latest one:

`import { Injectable, OnApplicationBootstrap } from '@nestjs/common';
import { I18n, I18nContext } from 'nestjs-i18n';
import * as hbs from 'hbs';

@Injectable()
export class HandlebarsService implements OnApplicationBootstrap {
  constructor() {}

  private async t(
    @I18n()

[2022-03-23 13:57] rubiin opened #275 "Feture Request: Add typesafety"
Hey @toonvanstrijp , again thanks for this awesome library. I just wanted to ask if there was any way to support typesafety similar to this library https://github.com/ivanhofer/typesafe-i18n

[2022-03-23 17:08] #271 closed, assigned to nobody

[2022-03-23 17:23] toonvanstrijp commented on #275
@rubiin It's not something that's currently supported. This because the way this library works it can also load in translations from a database, or load them dynamically as files change.

[2022-03-23 17:23] #275 closed

[2022-03-23 19:53] #192 closed

[2022-03-23 19:54] #242 closed

[2022-03-23 21:31] toonvanstrijp commented on #259
So you basically want a chain in which order it should try to translate something?

[2022-03-23 21:32] toonvanstrijp opened #276 "Planned V9 features"
This issue contains a list of all planned features for V9. It also is going to restructure a few things to make it easier to extend to different formats and generated types.

# Features
- [x] Template helpers (hbs, ejs #1 )
- [x] DTO translations (#97 )
- [x] JSON support build-in
- [x] GraphQL, HTTP & RPC support
- [x] Translate function needs to be sync instead of async
- [x] Debug option which

[2022-03-23 22:21] toonvanstrijp commented on #1
@frle10 I was just looking into this. But I think it's a better solution to do the translations up front. Because NestJS passes down what the controller resolved to render the hbs template. Let me know if this makes sense.

So instead of doing this:
[code]

Do this:
[code]

[2022-03-24 08:30] frle10 commented on #1
@toonvanstrijp I agree that this is a possible solution, it definitely works. However, it feels a bit ugly to me to have translation code living in my backend. Currently I have views that have a lot of parts that need to be translated. I could of course make a separate service in Nest just for translating appropriate views and returning objects with translations. But I still think we could do this

[2022-03-24 10:45] toonvanstrijp commented on #1
@frle10 good point, I think I've found a way! I'm going to pick this up in the planned V9 release. So in order to use it in your `hbs` files you can do it as followed:
[code]

`t` is a helper function that basically calls the `i18nService` with the provided key.

Does this sound like a proper solution?

[2022-03-24 10:53] frle10 commented on #1
@toonvanstrijp Yes, that's exactly it! :)

Also, do you think it's possible that this helper function "t" could take in extra args, just like this call: ```i18n.t('test.HELLO', {args: {username: 'test'}})```?

Having just basic string translation is already good enough, but I'm trying to give extra ideas in case it's not too difficult to add.

[2022-03-24 11:28] toonvanstrijp commented on #1
@frle10 Yeah I was thinking about that too. But this needs a bit more thinking. Cause handlebars for example let's you pass down arguments in different ways.

Something like this won't work with handlebars.
[code]

So we could either go with pass it down as a string or pass down all controller arguments.

string: (this however doesn't give much flexibility) so this is a no go.
[code]

But the best

[2022-03-24 11:31] toonvanstrijp commented on #1
@frle10 I've created a pull request that implements all of above functionality, feel free to take a look: https://github.com/toonvanstrijp/nestjs-i18n/pull/277/files

[2022-03-24 12:45] frle10 commented on #1
@toonvanstrijp The second opiton where you pass arguments from the controller is definitely the way to go. I like this implementation so far.

The only thing that I see as a downside is that if you use: ```{{ t 'test.HELLO' this }}```, ```this``` could contain some properties that aren't needed for translation at all (maybe you had some other arguments passed down from the controller for something

[2022-03-24 12:48] #234 closed

[2022-03-24 12:50] toonvanstrijp commented on #237
@RafaPili1 Do you still need help? :)

[2022-03-24 12:52] toonvanstrijp commented on #270
@crtl Do you still need help with this?

[2022-03-24 12:58] toonvanstrijp commented on #272
@itizarsa This is already possible. You can do this by providing your own options like so:
[code]

[2022-03-24 12:58] #272 closed

[2022-03-24 13:25] toonvanstrijp commented on #1
@frle10 Yup that's exactly how it works now.

You don't event need to prefix it by `.this` so you could actually do `tArgs`. `this` is just a reserved keyword in handlebars that includes all arguments.

[2022-03-24 13:29] frle10 commented on #1
@toonvanstrijp Ohhh yes, I didn't notice that, thanks :D

As far as I'm concerned, my use case is satisfied now. What about other template engines? Ejs is mentioned in the issue title. I guess if you wanted to support more engines, you would need to implement that separately for each one since they all work a little different?

[2022-03-24 13:41] toonvanstrijp commented on #1
@frle10

Yes they need to be implemented separately, but let's go with hbs for now. We can add support for different engines later on :). For everyone that wants support for other engines, please feel free to make a pull request.

[2022-03-24 13:45] frle10 commented on #1
@toonvanstrijp Agreed, thank you very much, your support is much appreciated. :)

[2022-03-24 13:51] crtl commented on #270
@toonvanstrijp Yes. I have updated the example to use your solution and scoped the services to `Scope.REQUEST`.
The services are resolved but are `undefined` und `TestResolver`.

[2022-03-24 14:05] toonvanstrijp commented on #270
@crtl I would suggest avoiding a service with `Scope.REQUEST` this because a new instance of that services is created for each request. This tends to decrease performance. Maybe design it in a way that you won't need it?

[2022-03-24 14:20] crtl commented on #270
The services are related to the current user and I did not want to risk sharing any user information across requests.

[2022-03-24 14:27] toonvanstrijp commented on #270
@crtl can you describe what user related things it does? Cause to me it feels like there is a way better solution than forcing your service to be REQUEST scoped.

[2022-03-24 17:52] kaname-png opened #279 "I can no longer inject services in the forRootAsync method"
I upgraded to the latest version (8.3.1) and now when I start my project I get this error.

[code]

[code]

[2022-03-24 19:12] toonvanstrijp commented on #279
@kaname-png could you provide me a repo containing the issue?

[2022-03-24 19:28] toonvanstrijp commented on #279
@kaname-png fixed in version V8.3.2. Sorry for the inconvenience. I've added a test for this now, so it won't happen again.

[2022-03-24 19:29] #279 closed

[2022-03-24 19:32] toonvanstrijp commented on #232
I've decided that this is not something this library will support for now. If in the future this proves to be a point of improvement we can always reopen it.

[2022-03-24 19:32] #232 closed

[2022-03-26 13:43] toonvanstrijp commented on #270
@crtl I think you need to rethink you strategy on this. Doing this by a service sounds like a bad design choice. It's better to go with a `Guard` for authenticated related stuff. But I'm going to close this issue, since it's not related to `nestjs-i18n` anymore, and not an issue with this library. You can better ask on stackoverflow for help. :)

[2022-03-26 13:43] #270 closed

[2022-03-26 13:44] toonvanstrijp commented on #237
Closing due to inactivity from owner.

[2022-03-26 13:44] #237 closed

[2022-03-31 12:48] toonvanstrijp commented on #1
@frle10 this feature is now released in V9! 🎉 (feel free to open a pull request or issue for other view engines).

[2022-03-31 12:48] #1 closed

[2022-03-31 12:50] #97 closed

[2022-03-31 12:50] toonvanstrijp commented on #261
This feature is now released in V9! 🎉

[2022-03-31 12:50] #261 closed

[2022-03-31 12:50] #269 closed

[2022-03-31 12:51] toonvanstrijp commented on #276
V9 is out! 🎉 yaay! ^.^

[2022-03-31 12:51] #276 closed

[2022-03-31 12:57] Choem commented on #259
Isn't there already fallback support?

Check the docs: https://nestjs-i18n.com/guides/fallback-languages

[2022-03-31 12:57] toonvanstrijp commented on #259
@Choem you're right!

[2022-03-31 12:57] #259 closed

[2022-03-31 13:04] rubiin commented on #97
Cool <3

[2022-04-01 05:25] BS-CURTIS opened #299 "t Helper is not available."
i was installed hbs/@types/hbs.

            {
            "@types/hbs": "^4.0.1",
             "hbs": "^4.2.0",
             "nestjs-i18n": "^9.0.1",
            }
and

          I18nModule.forRoot({
            fallbackLanguage: 'en',
            loaderOptions: {
                path: `${__dirname}/i18n/`,
                watch: true,
            },
            resolvers: [{ use: QueryResolver,

[2022-04-01 06:10] toonvanstrijp commented on #299
@BS-CURTIS did you also set up the `setBaseViewsDir` and `setViewEngine` in your `main.ts`?

[code]

[2022-04-01 06:10] toonvanstrijp commented on #299
@BS-CURTIS see this link for instructions: https://docs.nestjs.com/techniques/mvc

[2022-04-01 06:25] toonvanstrijp commented on #299
Also @BS-CURTIS here is a zip containing a working example with handlebars:  [test.zip](https://github.com/toonvanstrijp/nestjs-i18n/files/8395181/test.zip)

[2022-04-01 08:39] BS-CURTIS commented on #299
omg...

I use hbs and express-handlebars for the setting.
It's because hbs and express-handlebars clashed.

I'll figure it out.
I'm sorry and thank you.

[2022-04-01 09:33] #299 closed

[2022-04-01 14:08] fixpunkt opened #300 "New I18nMiddleware causes language resolution to be performed too early for @nestjs/passport integration"
Hi and thanks for the work on nestjs-i18n. I'm especially happy that `translate()` is now synchronous!

However, I've hit a roadblock while trying to migrate our application. The new https://github.com/toonvanstrijp/nestjs-i18n/blob/fb67ea6154d61f848fe83f59409853e373bbbc26/src/middlewares/i18n.middleware.ts#L22 causes the `I18nResolver`s to be executed at an earlier stage of request processing. We

[2022-04-01 14:18] toonvanstrijp commented on #300
@fixpunkt Thanks for reporting! Haven't thought about this use-case indeed. The way `nestjs-i18n` works is when a `http` adapter is used (express, fastify or graphql) it's going to run via `middleware` instead of an `interceptor`.

I think the best way to solve this, is by adding an extra option which would prefer the `interceptor` over `middleware`.

[2022-04-01 14:28] toonvanstrijp commented on #300
I think we can add an option `disableMiddleware: boolean`. By default this would be `false`. But if you set it to `true` it would disable the use of `middleware`. This would fix it in your case, and probably others.

[2022-04-01 16:04] fixpunkt commented on #300
That would be perfect!

[2022-04-01 22:50] toonvanstrijp commented on #300
@fixpunkt fixed in version V9.0.2 🎉

[2022-04-01 22:50] #300 closed

[2022-04-02 09:30] itizarsa commented on #272
Thanks for the reply @toonvanstrijp, but I couldn't understand how to achieve the above.

Current Module Configuration

[code]

[2022-04-02 14:55] toonvanstrijp commented on #272
@itizarsa I just released an update (9.0.3) which makes this easier for you. Now you don't have to "hack" around it with global modules.

You can now use it like so:
[code]

[2022-04-03 22:21] MitchWeber opened #303 "Pluralisation is broken when called with with number 0"
Hi,

I just upgraded a project from 8.x.x to 9.0.3 and noticed that the pluralisation is broken when you use `numbers` as count. It is broken when using the number `0`.

In version 8.x.x `src/services/i18n.service.ts` used the following:
[code]
which works for strings and numbers.

In version 9.0.0 it was changed to the following:
[code]
This works for strings but not for numbers (`0` will be eval

[2022-04-03 22:23] toonvanstrijp commented on #303
@MitchWeber this is indeed a bug! Well spotted! I’ll fix it tomorrow morning ;) (or feel free to make a pull request)

[2022-04-04 07:23] SchroederSteffen opened #304 "I18nContext.translate should return generic type"
We're using `nestjs-i18n` in all of our NestJS applications. Many thanks for providing it!

One thing that is a bit unfortunate, is that the method `I18nContext.translate()` just returns `any`.
We have strict rules in place that prevent using `any` and therefore have to use `as string` (or `as Promise<string>` before v9).
I understand that it might return an object or a string based on the paramet

[2022-04-04 08:20] toonvanstrijp commented on #304
@SchroederSteffen I completely agree with you, and returning `any` isn't the best way of doing it. I was thinking about making a breaking change by having functions like `translateObject`, `translateArray`. But your idea sounds like a good choice as well, since it doesn't make a breaking change.

If you want feel free to make a pull request for it, otherwise I'll do it ;)

[2022-04-04 09:41] SchroederSteffen commented on #304
Thanks for the response! 👍
I would like to try opening the PR, but it might take a few days.

[2022-04-04 11:30] SchroederSteffen commented on #304
I managed to look into it already and opened #305.
Though, I'm not 100% happy with the implementation, because we have to cast `as unknown as T`.

[2022-04-04 19:17] #304 closed

[2022-04-04 19:19] jvvcn opened #306 "I18nService does not lookup for the selected lang"
Hey,
Assume I have the following code

[code]

With the help of `HeaderResolver` we pass a lang (lets say `ua`), I see that this is mapped as expected to the I18nContext, but those two consoles show different result

[code]

Is it expected behaviour?

More concrete example is to use this package with the `nest-commander` package where we mostly use "service level" translations

[2022-04-04 19:23] toonvanstrijp commented on #306
If you want to translate using the `I18nService` you should provide the `lang` argument yourself. That is just how it works and is meant to work.

I'm not familiar with `nest-commander` so if there is a better approach to support this, feel free to fill me in on that part. I'm open for suggestions in how we can better facilitate support for this.

[2022-04-04 19:25] jvvcn commented on #306
@toonvanstrijp Got it. Thanks for quick response! You are doing great job!

[2022-04-04 19:26] toonvanstrijp commented on #306
@jvvcn Thanks, let me know if you have any suggestions in the future ;)

[2022-04-04 19:26] #306 closed

[2022-04-04 19:34] toonvanstrijp commented on #303
@MitchWeber fixed in V9.0.4 🎉

[2022-04-04 19:40] toonvanstrijp commented on #304
@SchroederSteffen released in V9.0.4!!! Thanks for your contribution, there is some ice-cream for you at the release page!

[2022-04-04 21:24] MitchWeber commented on #303
@toonvanstrijp  thanks!

[2022-04-05 05:38] SchroederSteffen commented on #304
Awesome! Thank you very much!  🍨 😋

[2022-04-06 13:01] maxinthestudio opened #307 "Exception when using a custom interceptor & nestjs-i18n"
Hi ! Im using a custom interceptor to log http requests, its milliseconds and if there was an error. This is my interceptor:

`
import { ExecutionContext, INestApplication, Injectable, NestInterceptor } from '@nestjs/common'
import { CallHandler } from '@nestjs/common/interfaces'
import * as moment from 'moment'
import { Logger } from './logger.helper'

@Injectable()
export class LoggingIntercepto

[2022-04-06 17:25] toonvanstrijp commented on #307
@maxinthestudio Could you please send me a small zip or repository containing this problem? Then I can easily test it out and work out a fix :)

[2022-04-06 20:06] maxinthestudio commented on #307
No problem. Tomorrow morning I will send it to you

[2022-04-06 23:24] zaitsev1 opened #309 "Cannot set properties of undefined (setting 'i18nLang')"
Hi, does not work with Mercurius

    at I18nLanguageInterceptor.intercept (Project/node_modules/nestjs-i18n/src/interceptors/i18n-language.interceptor.ts:63:32)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
    at target (Project/node_modules/@nestjs/core/helpers/external-context-creator.js:77:28)
    at Object.getHello (Project/node_modules/@nestjs/core/helpers/extern

[2022-04-09 10:15] toonvanstrijp commented on #309
@zaitsev1 fixed in version 9.0.5 🎉

[2022-04-09 10:15] #309 closed

[2022-04-11 00:18] prg-hussam opened #310 "internationalization validation fields"
Hello
I have a validator.json file like below

`{
    "NOT_EMPTY": "{property} is required ",
}`

in my CreateUserDto class  the validation like below
`import { IsNotEmpty } from 'class-validator';
import { i18nValidationMessage } from 'nestjs-i18n';

export class CreateUserDto {
  @IsNotEmpty({
    message: i18nValidationMessage('validation.NOT_EMPTY'),
  })
  email: string;

@IsNotEmpty({
    me

[2022-04-11 07:35] toonvanstrijp commented on #307
@maxinthestudio still need help with this? :)

[2022-04-11 07:38] toonvanstrijp commented on #310
Hmm so you want the properties to be translated. I'm not sure this works but you could try using a nested translation:
[code]

[2022-04-11 10:51] maxinthestudio commented on #307
I will make it right now. Sorry by my dellay. I changed my job 2 weeks ago !

:)

[2022-04-11 11:15] maxinthestudio commented on #307
Hi !

https://drive.google.com/file/d/1r97QhqmJ3liejX788jd_Zft9AqW-nzbK/view?usp=sharing

That file is for you. All you have to do is:

npm install
npm test

First time will work file. To reproduce the error, open src/config/interceptor.config.ts
And uncomment line 31:

// app.useGlobalInterceptors(new LoggingInterceptor())

And run test again.

[2022-04-11 11:17] toonvanstrijp commented on #307
@maxinthestudio I don't have access to it, so I've requested access with this email: toonvanstrijp@gmail.com

[2022-04-11 11:26] maxinthestudio commented on #307
Done !

[2022-04-11 12:47] prg-hussam commented on #310
I try using nested translation, and worked
`{
    "NOT_EMPTY": "$t(test.{property}) is required "
}`

but I got this error in terminal

ERROR [I18nService] Error while parsing JSON
ERROR [I18nService] SyntaxError: Unexpected token u in JSON at position 0

[2022-04-11 13:34] toonvanstrijp commented on #310
@prg-hussam I'll look into this later today :), think I'll have a fix ready by the end of today

[2022-04-11 21:23] toonvanstrijp commented on #307
@maxinthestudio I found a temporary fix for in the mean time. (I do think it's an bug inside `nestjs-i18n` but I'm not sure yet) To fix your current issue you can change the implementation of your logging interceptor to this:

[code]

[2022-04-11 21:38] toonvanstrijp commented on #310
@prg-hussam fix is on it's way! 🎉  [see this commit](https://github.com/toonvanstrijp/nestjs-i18n/commit/778c40ab5e9aeb398e61b847436cd95a27e11ed6). I'll add one more fix before doing the release. Hope you don't mind waiting for a bit?

[2022-04-11 22:03] toonvanstrijp commented on #307
@maxinthestudio Found it! The error isn't with `nestjs-i18n`. It's just because the `nestjs-i18n` interceptor is next in line.

The error is caused because you're not returning an observable. Or a promise that returns an observable. If you look at the nestjs source [here](https://github.com/nestjs/nest/blob/d9d628d112ff992c8075bae44b826300fd5ca6c8/packages/common/interfaces/features/nest-intercept

[2022-04-12 02:26] maxinthestudio commented on #307
It worked like a charm. Thanks, man ! Tomorrow I will write that test for
you.

On Mon, Apr 11, 2022 at 7:03 PM Toon van Strijp ***@***.***>
wrote:

[2022-04-12 19:47] prg-hussam commented on #310
@toonvanstrijp
I really appreciate your effort
Thanks for your time

[2022-04-12 21:50] toonvanstrijp commented on #310
@prg-hussam fixed in version V9.0.6 🎉 !

[2022-04-12 21:50] #310 closed

[2022-04-13 12:10] mihael-stormrage opened #312 "Pug integration"
Hello there, I'm using Pug as a view engine on NestFastifyApplication and having the hard times trying to make `t` function work in pug views, could you please add integration for it, or guide me how i should add it to my project? Maybe I should intercept it somehow?

Thanks.

[2022-04-13 15:45] rubiin commented on #312
why dont you just pass the translated values into the template.

[2022-04-13 17:11] rubiin opened #313 "Error when used with queue"
I am using @golevelup/rabbitmq for queing and the i18n package throws the following error

[code]

[2022-04-13 17:22] toonvanstrijp commented on #313
@rubiin I think this is because we don’t support rabbitmq yet. I’ll check whenever this is possible later this week. Is that okay for you?

[2022-04-13 18:11] rubiin commented on #313
yeah sure. Its not a blocker. I will use bull queue atm

[2022-04-15 07:02] toonvanstrijp commented on #312
@mihael-stormrage fixed in version V9.0.7 🌮 :)

[2022-04-15 07:02] #312 closed

[2022-04-15 09:10] DennisSnijder opened #315 "NestJS Mailer support"
The NestJS Mailer module has support for using Handlebars/Pugs/EJS. However... this is a different View-engine instance than what is being used to return a view from a controller. This results in the helper functions being unavailable when rendering an email.

NestJS mailer docs: https://nest-modules.github.io/mailer/docs/mailer

[2022-04-15 09:14] DennisSnijder commented on #315
Currently I'm using a workaround to make this work:

I register the MailerModule with `.forRootAsync` and inject the I18nModule. From there I copied the handlebars helpers implementation from the nestjs-i18n library and implemented them myself using the injected I18nService 😄

[2022-04-15 10:25] mihael-stormrage commented on #312
It gives me this error:
[code]

I guess that's because `NestFastifyApplication` has no `locals`.

But your new version fixed issues for me, this way even i18Lang in templates can be omitted:

[code]

[2022-04-15 10:30] rubiin opened #316 "Resolve errors"
Hi there,
I am trying to create PRs for few template engines . But when I run tests without modifying anything, it prints these
![erorrs](https://i.imgur.com/XW8lsjd.png)

[2022-04-15 10:33] rubiin commented on #312
I dont think you need to pass in the pug instance. Look at the test case here  `nestjs-i18n/tests/i18n-pug.e2e.spec.ts`, it has the the template engine set as
`  app.setViewEngine('pug');`

[2022-04-15 11:17] toonvanstrijp commented on #316
@rubiin that's normal ;) (as long as all test's pass it's fine. We're also testing behaviour with missing key's etc. So `nestjs-i18n` logs errors when doing this.

[2022-04-15 11:23] toonvanstrijp commented on #312
@mihael-stormrage can you explain to me why this solves the need for providing `i18nLang ` in your templates?

[code]

[2022-04-15 11:27] rubiin commented on #316
Oh thats cool then. I am adding ejs support
`expected 'Every day' response body, got 'Every day\n'`
All values are being appended with '\n' as you can see above

[2022-04-15 11:37] #316 closed

[2022-04-15 11:56] rubiin opened #318 "replace class-validator with @nestjs/class-validator"
The package class-validator is no longer maintained and thus nestjs has its own fork to continue providing updates.
https://github.com/nestjs/class-validator

[2022-04-15 11:57] rubiin commented on #318
I can  do a pr if you like

[2022-04-15 12:45] toonvanstrijp commented on #318
@rubiin yes please! 👍🏻

[2022-04-15 20:12] toonvanstrijp commented on #315
@DennisSnijder any idea in how we could better incorporate this in the library? So that NestJS `mailer` works more out of the box?

[2022-04-15 20:35] DennisSnijder commented on #315
@toonvanstrijp I don't think there is an easy solution to this yet...

A hypothetical solution could be to conditionally include the mailer module when it's enabled and/or exists as a dependency and inject a new helper function into the `ViewAdapter`? Problem is: those `ViewAdapters` are not publicly exposed from the `MailerService` 😢.

Perhaps a first step towards an easy out of the box solution

[2022-04-15 20:43] toonvanstrijp commented on #315
@DennisSnijder I took a look at the source code of nestjs mailer. And from what I can tell the `HandlebarsAdapter` allows you to pass down `helpers` via the constructor. What if you make use of the `forRootAsync` and then we create a helper function on the `I18nService` that can be passed down directly? This way you don't have to copy any code and it's a bit easier to implement.

[2022-04-15 21:51] DennisSnijder commented on #315
@toonvanstrijp That does help a lot already! That's somewhat like the approach I'm using at the moment 😄.
Not the easy plug and play version like you got going on with the `viewEngine: 'hbs'`, but that would be a great addition!

My current module setup:

[code]

and the Handlebars helpers being: (pretty much copied this from this repo)
[code]

If there would be something like `getHandlebarHelpers

[2022-04-15 22:57] toonvanstrijp commented on #315
@DennisSnijder thanks! It's released in V9.0.8. I also added a doc page: https://nestjs-i18n.com/guides/mailer. @DennisSnijder thanks for the help!

[2022-04-15 22:57] #315 closed

[2022-04-15 23:23] DennisSnijder commented on #315
@toonvanstrijp Woah, that was fast! Thanks! 🥳

[2022-04-16 08:32] rubiin commented on #313
@toonvanstrijp One question. I18nLanguageInterceptor does it intercept all routes? Is there way to mark some routes as excluded?

[2022-04-16 09:05] toonvanstrijp commented on #313
@rubiin if we check here if ctx is not undefined it should skip the interceptor in your case https://github.com/toonvanstrijp/nestjs-i18n/blob/44108a9fbd89388e660bc9e6230971288507afff/src/interceptors/i18n-language.interceptor.ts#L38

[2022-04-16 09:09] rubiin commented on #313
@toonvanstrijp do we have a way to exclude a particular route.Otherwise i could provide a minimal reproduction repo so you can try if you like

[2022-04-16 09:11] toonvanstrijp commented on #313
@rubiin for now there is not a way to exclude one particular route. But we could add something like ‘shouldIntercept’ with that you can build it yourself if needed?

[2022-04-16 09:18] rubiin commented on #313
yeah . Lemme check, if i could do a PR

[2022-04-16 10:30] rubiin commented on #313
Closing this for now, as it seems its a problem from the another library itself

[2022-04-16 11:15] rubiin commented on #313
@toonvanstrijp another thing just struck my mind. How are we handling unsupported context. I can see we are only doing some basic logging. How about we skip the interceptor for that case as well

[2022-04-16 11:17] rubiin commented on #313
For undehandled context in ```getContextObject()```, theres no return value thus ```!!ctx.i18nLang``` will resolve to false hence the block under ``` if(!!ctx.i18nLang)``` wont e executed

[2022-04-18 17:47] rubiin commented on #313
https://github.com/golevelup/nestjs/issues/422#issuecomment-1101589373=

[2022-04-18 17:47] rubiin commented on #313
@toonvanstrijp can we handle it ? there seems to be helper

[2022-04-18 18:02] toonvanstrijp commented on #313
@rubiin Sure I'll make a fix right away!

[2022-04-18 18:12] rubiin commented on #313
I think you can use this function,
https://github.com/golevelup/nestjs/blob/ad7cd398280ade41aef58c3c7a642641b434aa24/packages/rabbitmq/src/rabbitmq.helpers.ts

[2022-04-18 18:19] toonvanstrijp commented on #313
@rubiin I don't think that necessary I just released version V9.0.9. This should skip the interceptor properly when using an unsupported context.

[2022-04-18 18:31] rubiin commented on #313
It works now. Thank you for the quick fix , saved me a alot of trouble

[2022-04-18 18:31] #313 closed

[2022-04-19 23:19] edyson89 opened #321 "Error: i18n path (https://bucket/url/translations.json) cannot be found at I18nJsonLoader.parseTranslations (/.../node_modules/nestjs-i18n/src/loaders/i18n.abstract.loader.ts:87:13)"
Hello everyone.
Code:
    I18nModule.forRoot({
      fallbackLanguage: 'en',
      loaderOptions: {
        // path: path.join(__dirname, '/i18n/'),
        path: 'https://bucket/url/translations.json',
        watch: true,
      },
      resolvers: [{ use: QueryResolver, options: ['lang'] }, AcceptLanguageResolver],
    }),
I'm tryng load a json file from url bucket, this is possible?, if it is,

[2022-04-20 03:40] toonvanstrijp commented on #321
Heey @edyson89 this isn’t supported yet. But seems like a good feature! But I do wonder what the translation.json looks like? (Since normally the path is referencing to a folder of json files)

[2022-04-20 13:22] edyson89 commented on #321
Hi @toonvanstrijp, the endpoint load a content from json file (example: http://api.plos.org/search?q=title:DNA). It will be great if we could load the json file like that way...
Best regards!

[2022-04-20 14:14] toonvanstrijp commented on #321
@edyson89 But how does it load in multiple languages via one file?

[2022-04-21 07:52] rubiin commented on #321
I think the path would look ambigous if we would allow a url directly.
We can update the options with another interface like:
interface IFileOptions{
 type: string ;   // file or url
path: strng;
}

[2022-04-21 07:56] jamesweb1 opened #322 "Cannot load the language files in the unites"
I'm using NestJS test framework (jest) to peforme the unittest, but it always show the error as following:
[code]

This is my test file (my.service.spec.ts):
[code]

I use the translation in the MyService (my.service.ts), but I found It cannot load the translation json files. I'm sure path.join(__dirname, '../../locales/') is the correct path contains the json files. Does the nestjs-18n work in un

[2022-04-21 08:22] toonvanstrijp commented on #322
@jamesweb1 nestjs-i18n should work fine in unit tests as well, so I guess something must be wrong with you path. Please double check it. Or provide me with a zip containing the issue.

[2022-04-21 08:23] toonvanstrijp commented on #321
@rubiin I think we could better create a different loader for it instead of extending the current json and yaml one?

[2022-04-21 08:33] rubiin commented on #321
Yeah. That would be nice. See if this helps https://github.com/dotcore64/i18next-fetch-backend

[2022-04-21 08:36] rubiin commented on #321
I was also wondering about including a typescript one. People like me would probably want to use typesafety which will be offered by the typescript files

[2022-04-21 09:41] gongshishao commented on #1
Hi, I got two quesitons.Can you helpt to provide solution. I'm transfer from i18n to nestjs-i18n
1. I hope to have hbs handlebar solution, that would use {{ t 'HELLO' }}, no need to have prefix of fileName, "test"
2. How can I build a registerHelper , that could use other help function name such as i18n, so that template file could be {{ i18n 'HELLO' }}
  Thanks a lot

[2022-04-21 09:46] jamesweb1 commented on #322
[test-project.zip](https://drive.google.com/file/d/1Jm3Z7gY2FZDejoOSNduQjA824nD_nGsY/view?usp=sharing)
Please refer the file to view this issue.
I cannot load the translation json correctly in the example.service.spec.ts.

[2022-04-21 09:56] gongshishao opened #323 "Can fileName prefix ignored? hbs template support"
Hi,@[toonvanstrijp](https://github.com/toonvanstrijp) I got two quesitons.Can you helpt to provide solution. I'm transfer from i18n to nestjs-i18n.

1.I hope to have hbs handlebar solution, that would use {{ t 'HELLO' }}, no need to have prefix of fileName, "test"
2.How can I build a registerHelper , that could use other help function name such as i18n, so that template file could be {{ i18n 'HELL

[2022-04-21 10:06] toonvanstrijp commented on #1
@gongshishao

1. There is no way of removing the prefix. The JsonLoader adds the filename as prefix to avoid collisions.
2. https://handlebarsjs.com/examples/helper-lookup-property.html

[2022-04-21 10:06] toonvanstrijp commented on #323
@gongshishao

1. There is no way of removing the prefix. The JsonLoader adds the filename as prefix to avoid collisions.
2. https://handlebarsjs.com/examples/helper-lookup-property.html

[2022-04-21 10:21] toonvanstrijp commented on #322
@jamesweb1 I notices a bug during initialisation. This is fixed in V9.0.10! 🎉 Thanks for reporting!

[2022-04-21 10:23] #322 closed